.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 42px;
}

.text {
    margin: 42px auto;
    text-align: center;
    line-height: 22px;
    max-width: 560px;
}

.title {
    font-size: 16px;
    margin-bottom: 12px;
}

.paragraph {
    font-size: 14px;
}