.wrapper {
    padding: 20px 24px;
    height: 100%;
    min-height: 355px;
    width: 203px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chart {
    width: 123px;
    height: 123px;
    margin-bottom: 53px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.row {
    margin-top: 16px;
}

.label {
    display: inline-block;
    color: var(--theme-dashboard-label-color);
    font-family: var(--font-regular);
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 2px;
    &.dashed {
        border-bottom: 0.5px dashed var(--theme-dashboard-label-underline-color);
    }
}

.value {
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
}

.tooltip {
    margin-left: 12px;
    height: 22px;
}
