.wrapper {
    display: flex;
    align-items: center;
    padding: 20px 24px;
    height: 100%;
    max-width: 320px;
}

.stats {
    flex: 1;
    margin-left: 24px;
}

.chart {
    width: 102px;
    height: 102px;
}

.row {
    margin-top: 14px;
}

.label {
    display: inline-block;
    color: var(--theme-dashboard-label-color);
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 2px;
    &.dashed {
        border-bottom: 0.5px dashed var(--theme-dashboard-label-underline-color);
    }
}

.value {
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
}

.tooltip {
    margin-left: 12px;
    height: 22px;
}

.timeBlock {
    display: inline-block;
    width: 26px;
    height: 22px;
    padding: 0 4px;
    font-size: 16px;
    line-height: 22px;
    border-radius: 2px;
    background-color: var(--theme-dashboard-epoch-time-background);
    text-align: center;
    margin: 0 4px;
    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
    }
}