.wrapper {
    display: inline-block;
    position: relative;
    overflow: visible;
}

.icon {
    width: 22px;
    height: 22px;
}

.content {
    display: none;
    width: 167px;
    background-color: var(--theme-dashboard-tooltip-background-color);
    border-radius: 4px;
    padding: 8px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 27px;
    color: var(--theme-dashboard-tooltip-text-color);
    font-size: 11px;
    line-height: 14px;
    text-align: right;
}

.wrapper:hover .content {
    display: block;
}