.page {
  background-color: var(--theme-dashboard-page-background-color);
  padding: 12px 16px 26px 16px;
  font-family: var(--font-regular);
  color: var(--theme-dashboard-text-color);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.warningBox {
  margin-bottom: 16px;
}

.contentWrap {
  max-width: 1178px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.poolError {
  margin-top: 42px;
}

.rewards {
  min-width: 420px;
  align-self: flex-end;
}

.statsWrapper {
  margin-bottom: 25px;
  margin-top: 4px;
  display: flex;
}

.summary {
  flex-direction: row;
  margin-left: 32px;
  height: 100%;
  width: 100%;

  .summaryItem {
    flex: 1;
    min-height: 180px;

    & + .summaryItem {
      margin-top: 32px;
    }
  }
}

.bodyWrapper {
  display: flex;
}

.stakePoolMaxWidth {
  width: 320px;
}

.stakePool {
  margin-left: auto;
  margin-right: auto;
}

.graphsWrapper {
  flex: 1;
  margin-right: 30px;
  min-width: 200px;
}

.pageSelect {
  margin-bottom: 32px;
}

.legend {

}
