@import '../../../../themes/mixins/loading-spinner';
@import '../../../../themes/mixins/error-message';
@import '../../../../themes/mixins/unordered-list';

.dialog {
  font-family: var(--font-medium);
  @include unordered-list;

  .explanation {
    margin-bottom: 12px;
  }

  .rewardAmount {
    font-family: var(--font-medium);
    color: var(--theme-transactions-amount-color);
    line-height: 1.38;
    font-size: 16px;
  }

  :global {
    .Dialog_title {
      margin-bottom: 24px;
    }
  }

  .warningBox {
    margin-bottom: 24px;
  }

  .submitButtonSpinning {
    @include loading-spinner("../../../../assets/images/spinner-light.svg");
  }  

  .walletPassword {
    margin-top: 20px;
  }

  .error {
    @include error-message;
    text-align: center;
  }
}

:global(.YoroiModern) .dialog {
  min-width: var(--theme-modal-min-max-width-lg);
  max-width: var(--theme-modal-min-max-width-lg);  
  font-family: var(--font-regular);

  .walletPassword {
    margin-top: 0;
  }
}
