@import '../../../../themes/mixins/underline';
@import '../../../../themes/mixins/unordered-list';

.wrapper {
    display: flex;
    height: 100%;
}

.column {
    padding: 20px 24px;
    flex: 1;
    border-right: 1px solid var(--theme-dashboard-card-vertical-separator-color);
}

.header {
    margin-bottom: 19.5px;
    display: flex;
    justify-content: flex-end;

    .icon {
        margin-right: auto;
        width: 44px;
        height: 44px;
        margin-bottom: 11px;
    }

    .mangledWarningIcon {
        height: fit-content;
        cursor: pointer;
    }

    .mangledPopup {
        margin-top: calc(24px + 5px);
        @include unordered-list;

        p, ul {
            font-family: var(--font-regular);
            color: var(--cmn-default-color-grey-6);
            font-size: 14px;
            line-height: 22px;

            .link {
                @include underline(var(--theme-dashboard-link-color));
            }
        }

        ul {
            margin-top: 8px;
            margin-bottom: 8px;
        }
    }
}

.label {
    color: var(--theme-dashboard-label-color);
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 1px;
    width: max-content;
}

.value {
    font-family: var(--font-medium);
    font-size: 18px;
    line-height: 22px;
}

.note {
    margin-top: 12px;
    font-size: 12px;
    line-height: 14px;
    color: var(--theme-dashboard-link-color);
    float: right;
    margin-left: auto;
    margin-right: 0px;
    width: max-content;
    &:hover {
        @include underline(var(--theme-dashboard-link-color));
    }
}
