.testnetWarningOld {
    font-family: var(--rp-theme-font-bold);
    text-align: center;
    color: white;
    background-color: var(--theme-banner-warning-background-color);
    padding: 4px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
  }

.testnetWarning {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--rp-theme-font-regular);
  text-align: center;
  color: white;
  background-color: var(--theme-banner-warning-background-color);
  padding: 4px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;

  span:nth-child(2) {
    font-family: var(--rp-theme-font-bold);
    text-transform: uppercase;
  }

  a {
    color: white;
    font-family: var(--rp-theme-font-bold);
    text-transform: uppercase;
  }
}

.warningIcon {
  display: inline-flex;
  margin-right: 5px;
}
  