@import '../../../themes/mixins/underline';

.testnetWarning {
  font-family: var(--rp-theme-font-bold);
  text-align: center;
  color: var(--cmn-color-white);
  background-color: var(--theme-banner-warning-background-color);
  padding: 4px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;

  .warningIcon {
    display: inline-flex;
    margin-right: 5px;
    vertical-align: top;
  }

  a {
    color: var(--cmn-color-white);
    font-family: var(--rp-theme-font-bold);
    text-transform: uppercase;
    @include underline(var(--cmn-color-white));
  }
}

.shelleyTestnetWarning {
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--theme-banner-warning-background-color);
  .text {
    text-transform: uppercase;
    height: 20px;
    color: var(--cmn-color-white);
    font-size: 13px;
    font-weight: bold;
    font-family: var(--font-regular);
    letter-spacing: 1px;
    line-height: 20px;
  }
}