.root.disabled {
  background: var(--theme-warning-button-color-disabled) !important;
}
.root:not(.disabled) {
  background: var(--theme-warning-button-color) !important;
  &:hover {
    background-color: var(--theme-warning-button-color-hover) !important;
  }
  &:active {
    background-color: var(--theme-warning-button-color-active) !important;
  }
}
