@import '../../../themes/mixins/underline';

:global(.YoroiModern) .component {
  min-width: var(--component-dialog-min-width-md);
}

.component {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  .header {
    margin-bottom: 20px;
  }

  a {
    color: var(--th-palette-gray-900);
    @include underline(var(--th-palette-gray-800));
  }
}
