@import '../../../themes/mixins/unordered-list';

.component {
  @include unordered-list;
  display: flex;
  height: 100%;
  justify-content: center;

  .centeredBox {
    width: 480px;
  }

  .logo {
    margin-top: 110px;
    margin-bottom: 68px;
    & > svg {
      display: block;
      margin: auto;
      width: 145px;
      height: 135px;
    }
  }

  .content {
    color: var(--cmn-default-color-grey);
    font-family: var(--font-regular);
    font-size: 14px;
    line-height: 24px;

    .header {
      font-size: 16px;
      line-height: 32px;
    }

    ul {
      margin-top: 4px;
    }
  }

  .button {
    width: 480px;
  }

  .checkbox {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
