@import '../../../themes/mixins/error-message';
@import '../../../themes/mixins/underline';

.component {
  padding-bottom: 10px;

  h1 {
    color: var(--yoroi-support-settings-text);
    font-weight: 500;
    line-height: 1.38;
    margin-bottom: 10px;
  }

  h1:not(:first-child) {
    padding-top: 10px;
  }

  a,
  p {
    color: var(--yoroi-support-settings-text);
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
  }

  a {
    color: var(--yoroi-support-settings-text);
  }

  p {
    margin-bottom: 10px;
  }

  .link {
    @include underline(var(--yoroi-palette-gray-800));
  }

  .link:focus {
    outline: none;
  }
}

:global(.YoroiClassic) .component {
  h1 {
    font-size: 16px;
  }
}

:global(.YoroiModern) .component, :global(.YoroiRevamp) {
  h1 {
    font-size: 18px;
  }
}
