.component {
  margin-bottom: 32px;
  position: relative;

  .button {
    bottom: 44px;
    color: var(--yoroi-palette-gray-800);
    cursor: pointer;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.38;
    opacity: 0.5;
    position: absolute;
    right: 22px;
    text-transform: lowercase;
    &:hover {
      opacity: 1;
    }
  }
}

:global(.YoroiModern), :global(.YoroiRevamp) {
  .component  {
    .disabled {
      background-color: transparent;
    }
    
    .button {
      bottom: 37px;
    }
  }
}

:global(.YoroiClassic) .component {
  .button {
    bottom: 44px;
  }
}
