.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 16px;
}

.inner {
    background-color: var(--yoroi-palette-common-white);
    flex: 1;
    border-radius: 6px;
    box-shadow: 0 3px 10px 2px var(--yoroi-dashboard-card-shadow-color);
    border: 1px solid var(--yoroi-dashboard-card-border-color);
}