@import '../../../../themes/mixins/unordered-list';

:global(.YoroiModern) .component {
  min-width: var(--component-dialog-min-width-lg);
  max-width: var(--component-dialog-min-width-lg);
}

.component {
  font-weight: 400;
  @include unordered-list;

  .header {
    margin-bottom: 20px;
  }
}
