@import '../../../../themes/mixins/unordered-list';

:global(.YoroiModern), :global(.YoroiRevamp) {
  .component {
    min-width: var(--yoroi-comp-dialog-min-width-md);
  }
} 

.component {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  @include unordered-list;

  .header {
    margin-bottom: 20px;
  }

  .footer {
    margin-top: 20px;
  }
}
