.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textWrapper {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--th-palette-gray-600);
  text-align: center;
  &.bold {
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    color: #8791ad;
  }
}

.text {
  margin-top: -3px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}

.chart {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.circle {
  position: relative;
  fill: none;
  stroke-width: 3;
}

.epoch {
  & .circle {
    stroke: var(--theme-dashboard-percentage-epoch-circle);
  }
  & .baseCircle {
    stroke: var(--theme-dashboard-percentage-epoch-base);
  }
}

.stake {
  & .circle {
    stroke: var(--theme-dashboard-percentage-stake-circle);
  }
  & .baseCircle {
    stroke: var(--theme-dashboard-percentage-stake-base);
  }
}
