@import '../../../../themes/mixins/underline';

.wrapper {
  display: flex;
  min-height: 143px;
  flex-wrap: wrap;
}

.epochCards {
  :not(:last-child) {
    margin-right: 10px;
  }
}

.column {
  padding: 24px 24px;
  flex: 1;
  border-right: 1px solid var(--yoroi-dashboard-card-vertical-separator-color);
}

.card {
  padding: 20px 20px;
  flex: 1;
  border-radius: 6px;
  background-color: var(--yoroi-palette-gray-50);
  min-width: 234px;
  max-width: 278px;
  margin-bottom: 10px;

  .sectionActions {
    flex: 1;
  }
}

.icon {
  width: 44px;
  height: 44px;
  margin-bottom: 11px;
}

.header {
  display: flex;
  align-items: center;
}

.label {
  margin-right: auto;
  color: var(--yoroi-palette-gray-600);
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  height: 23px;
  overflow: hidden;
}

.time {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;

  .broad {
    .monthDay {
      margin-right: 4px;
      width: max-content;
    }
  }

  .specific {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;

    .timer {
      margin-right: 4px;
      margin-top: -1px;
    }

    .ampm {
      margin-top: 2px;
    }
  }
}

.noDelegation {
  background-color: var(--yoroi-dashboard-card-nodelegation-background-color);

  .message {
    height: 53px;
    color: var(--yoroi-palette-gray-600);
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    text-align: center;
  }
}

.pools {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;

  :not(:last-child) {
    margin-right: 10px;
  }

  .poolBox {
    display: flex;
    align-items: center;
    .avatar {
      width: 24px;
      height: 24px;
      border-radius: 4px;
      border: 1px solid rgba(111, 114, 144, 0.24);
    }
  }
}

.poolInfoToolTip {
  padding: 4px 0px;
  color: var(--yoroi-palette-common-white);
  font-size: 11px;
  line-height: 14px;

  span {
    font-weight: 300;
  }
}

.poolInfo {
  max-width: 160px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mr15 {
  margin-right: 15px;
}

.mt20 {
  margin-top: 20px;
}
