@import '../../../../themes/mixins/underline';
@import '../../../../themes/mixins/unordered-list';

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 36px;
}

.card {
  padding: 20px 20px;
  border-radius: 8px;
  box-shadow: 0px 3px 10px rgba(56, 62, 84, 0.06);
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;

  .cardContent {
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 8px;
      flex-wrap: wrap;
      .note {
        color: var(--yoroi-palette-gray-600);
      }
    }
  }

  .icon {
    position: absolute;
    right: -30px;
    bottom: -15px;
    z-index: 0;
  }
}

.mangledSection {
  display: flex;
  justify-content: flex-end;
  .mangledWarningIcon {
    height: fit-content;
    cursor: pointer;
  }
}

.label {
  color: var(--yoroi-palette-gray-600);
  font-size: 14px;
  line-height: 32px;
  margin-bottom: 1px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;

  .infoIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 6px;
    & > svg {
      width: 12px;
      height: 12px;  
    }
  }
}

.value {
  font-size: 30px;
  line-height: 45px;

  .decimal {
    font-size: 24px;
  }
}

.note {
  font-size: 12px;
  line-height: 14px;
  color: var(--yoroi-palette-gray-400);
  width: max-content;
  &:hover {
    @include underline(var(--yoroi-palette-gray-400));
  }
}

.amountNote {
  margin-top: 5px;
  font-size: 12px;
  line-height: 20px;
  color: var(--yoroi-palette-gray-400);
  max-width: 258px;
}

.mr20 {
  margin-right: 20px;
}

.wrapperCard {
  flex: 1;
  min-width: 342px;
  max-width: 342px;
  min-height: 164px;
  margin-bottom: 10px;
  position: relative;

  .subCard {
    height: 100%;
    padding: 20px 20px;
    flex: 1;
    border-radius: 6px;
    box-shadow: 0px 3px 10px 2px var(--yoroi-dashboard-card-shadow-color);
    position: relative;
    overflow: hidden;

    .cardContent {
      height: 100%;
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .delegatedHeader {
        display: flex;
      }

      .label {
        margin-right: 10px;
      }
    }

    .icon {
      position: absolute;
      right: -30px;
      bottom: -15px;
      z-index: 0;
    }
  }

  .popupSection {
    display: flex;
    justify-content: center;

    .mangledPopup {
      @include unordered-list;

      div {
        top: 50px;
      }
      p,
      ul {
        font-weight: 400;
        color: var(--yoroi-palette-gray-600);
        font-size: 14px;
        line-height: 22px;

        .link {
          @include underline(var(--yoroi-palette-gray-400));
        }
      }

      ul {
        margin-top: 8px;
        margin-bottom: 8px;
      }
    }
  }
}

.loadingSpinner {
  width: 22px;
  margin-top: 5px;
}
