@import './card-mixin.scss';

.component {
  height: 100%;
  overflow: auto;

  .hero {
    min-height: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding: 20px 15px;
    display: flex;
    align-items: center;
  }
  
  .heroInner {
    display: flex;
    position: relative;
    z-index: 1;
    justify-content: space-between;
    width: 100%;
  
    flex-direction: column;
    align-items: center;
  }
  
  .heroLogo {
    display: block;
    position: relative;
    top: 50%;
    margin: auto auto;
    margin-bottom: 24px;
  }

  .makeBlue {
    path {
      fill: var(--cmn-color-black);
    }
  }
}
