@import './card-mixin.scss';

.heroCardsList {
  display: flex;
}

.heroCardsItem {
  @include card-mixin;

  .heroCardsItemBg {
    flex: 1 0 auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

:global(.YoroiClassic) {
  .heroCardsItemBg {
    &.bgConnectHW {
      background-image: url(../../../assets/images/add-wallet/connect-hw-classic.inline.svg);
    }

    &.bgCreateWallet {
      background-image: url(../../../assets/images/add-wallet/create-wallet-classic.inline.svg);
    }

    &.bgRestoreWallet {
      background-image: url(../../../assets/images/add-wallet/restore-wallet-classic.inline.svg);
    }
  }
}

:global(.YoroiModern) {
  .heroCardsItemBg {
    &.bgConnectHW {
      background-image: url(../../../assets/images/add-wallet/connect-hw-modern.inline.svg);
    }

    &.bgCreateWallet {
      background-image: url(../../../assets/images/add-wallet/create-wallet-modern.inline.svg);
    }

    &.bgRestoreWallet {
      background-image: url(../../../assets/images/add-wallet/restore-wallet-modern.inline.svg);
    }
  }
}
