.component {
  border-top: 1px solid rgba(173, 174, 182, 0.3);
  padding-top: 30px;

  .main {
    display: inline-block;
    text-align: center;
  }

  & > .label {
    color: var(--theme-support-settings-text-color);
    font-family: var(--font-semibold);
    line-height: 1.38;
    margin-bottom: 11px;
  }

  a,
  p {
    color: var(--theme-support-settings-text-color);
    font-family: var(--font-regular);
    font-size: 14px;
    line-height: 19px;
  }

  a {
    color: var(--theme-support-settings-link-color);
  }

  p {
    margin-bottom: 20px;
  }
}

:global(.YoroiClassic) .component {
  & > .label {
    font-size: 16px;
  }
  a {
    text-decoration: underline;
  }
}

:global(.YoroiModern) .component {
  & > .label {
    font-size: 18px;
  }
  a {
    text-decoration: none;
    font-family: var(--font-semibold);
  }
}

.themesWrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  .themeImageWrapper {
    margin-bottom: 32px;
    position: relative;

    + .themeImageWrapper {
      margin-left: 24px;
    }

    & > div {
      border-radius: 8px;
      overflow: hidden;
    }

    svg {
      display: block;
    }

    .themeWarning {
      position: absolute;
      top: calc(50% - 37px);
      left: 0px;
      background-color: var(--theme-banner-warning-background-color);
      color: var(--rp-button-text-color, #fff);
      padding: 10px;
    }

    &.active {
      div,
      span {
        opacity: 1;
        transition: opacity 400ms ease;
      }
      .themeWarning {
        opacity: 0.5;
      }
    }

    &.inactive {
      &:hover {
        div {
          box-shadow: 0 5px 30px 0px rgba(24,26,30, .12);
          cursor: pointer;
          opacity: 1;
        }

        span {
          opacity: 1;
        }
      }
    }
  }
}