@import '../../../themes/mixins/error-message';

$flagSize: 30px;

.component {
  margin-bottom: 20px;

  h1 {
    color: var(--theme-support-settings-text-color);
    font-family: var(--font-semibold);
    font-size: 16px;
    line-height: 1.38;
    margin-bottom: 10px;
    padding-top: 10px;
  }
}

.error {
  @include error-message;
  text-align: center;
}

.flag {
  background-size: cover;
  display: inline-block;
  height: $flagSize;
  margin-right: $flagSize / 4;
  width: $flagSize;
}

.language {
  line-height: $flagSize;
  vertical-align: top;
}

