.component {
  background-color: var(--theme-mnemonic-background-color) !important;
  font-size: 15px !important;
  margin: 5px 0;
  height: 40px;
  padding: 10px 20px;
  width: 140px !important;
}

.inactive {
  cursor: default !important;
  opacity: 0.3;
}

.active {
  cursor: pointer;
  &:hover {
    background-color: var(--theme-mnemonic-background-color-hover) !important;
  }
}
