.componentClassic {
  background-color: var(--theme-mnemonic-background-color) !important;
  font-size: 15px !important;
  margin: 5px 0;
  height: 40px;
  padding: 10px 20px;
  width: 140px !important;

  &.disabled {
    cursor: default !important;
    opacity: 0.3;
  }

  &:not(.disabled) {
    &:active {
      cursor: pointer;
      &:hover {
        background-color: var(--theme-mnemonic-background-color-hover) !important;
      }
    }
  }
}

.component {
  background-color: var(--theme-mnemonic-background-color) !important;
  font-size: 14px!important;
  font-family: var(--font-regular)!important;
  margin: 5px 10px 5px 0;
  height: 30px!important;
  padding: 3px 13px!important;
  width: auto!important;
  color: var(--theme-mnemonic-button-text-color)!important;
  text-transform: none!important;

  &.disabled {
    cursor: default !important;
    opacity: 0;
  }

  &:not(.disabled) {
    &:active {
      cursor: pointer;
      &:hover {
        background-color: var(--theme-mnemonic-background-color-hover) !important;
      }
    }
  }
}