.component {
  padding: 14px;
  text-align: left;
  font-size: 16px;
  line-height: 1.38;
  word-spacing: 10px;
  -webkit-user-select: none;
  border: 1px solid var(--theme-mnemonic-border-color);

  &.filled {
    padding: 14px;
    border: 2px solid var(--theme-mnemonic-border-filled-color);
    min-height: 132px;
  }
}

:global(.YoroiClassic) {
  .component {
    border-radius: 2px;
    text-align: center;
    font-family: var(--font-medium);
    color: var(--theme-instructions-text-color);
    background-color: var(--theme-backup-mnemonic-background-color);
    min-height: 52px;
  }
}

:global(.YoroiModern) {
  .component {
    border-radius: 8px;
    text-align: left;
    font-family: var(--font-regular);
    color: var(--theme-instructions-recovery-text-color);
  }
}