@import "../../themes/mixins/animations";
@import '../../themes/mixins/error-message';
@import '../../themes/mixins/underline';

.component {
  height: 100%;
  transition: background-color 500ms;
  width: 100%;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loading {	
  bottom: 10%;	
  position: absolute;	
  text-align: center;	
  width: 100%;

  .spinner {
    margin-top: 20px;
  }
}

.ada-logo,
.ada-apiLogo {
  & > svg {
    display: block;
    width: 48px;
    opacity: 0.5;
  }
}

$cardanoLogoWidth: 86px;
.ada-apiLogo > svg {
  width: $cardanoLogoWidth;
}

$adaLogoWidth: 43px;
.ada-logo > svg {
  width: $adaLogoWidth;
  margin: 3px ($cardanoLogoWidth - $adaLogoWidth) / 2 0; // Visually align in the middle + Needs to be the same dimension as the apiLogo
}

.etc-apiLogo > svg {
  margin-top: 7px; // aligning the icon visually in the middle
}

.yoroiLogo {
  & > svg {
    display: block;
    width: 100px;
    margin: 0 114px;
    & > path {
      fill: var(--theme-button-primary-background-color);
    }
  }
}

.headline {
  font-family: var(--font-light);
  font-size: 16px;
  margin-bottom: 24px;
}

.component, .headline, .logo, .error {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.link {
  color: var(--theme-warning-color);
  @include underline(var(--theme-warning-color));
}

.error {
  @include error-message;
  font-family: var(--font-light);
  font-size: 16px;
  line-height: 22px;
  word-break: break-word;
  text-align: center;
}
