@import '../../themes/mixins/underline';

.body {
  padding-left: 40px;
  padding-right: 40px;

  .attention {
    color: var(--theme-dialog-title-color);
    font-family: var(--font-medium);
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }

  .explanation {
    color: var(--theme-dialog-title-color);
    font-family: var(--font-regular);
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }

  .learnMore {
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;

    a {
      color: var(--cmn-default-color-grey);
      font-family: var(--font-regular);
      font-size: 14px;
      line-height: 22px;
      text-decoration: none;
    }

    span {
      margin-left: 4px;
      margin-top: 2px;
      width: 14px;
      height: 14px;
    }

    &:hover {
      @include underline(var(--theme-underline-dark-color));
    }
  }
}
