@keyframes loading-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  .wrapper {
    width: 60px;
    height: 60px;
    background: url("../../assets/img/spinner-dark.svg") no-repeat center;
    background-size: 60px;
    animation: loading-spin 1.5s linear;
    animation-iteration-count: infinite;
  }
  .text {
    margin-top: 15px;
  }
}
