:global(.YoroiModern) {
	:global {
		.SimpleAutocomplete_opened + .FormFieldOwnSkin_legend,
		.hasSelectedWords + .FormFieldOwnSkin_legend {
		  color: var(--rp-formfield-label-text-color);
		  transform: translate(-10px, -24px);
		  font-size: 12px;
		  opacity: 1;
		  background: inherit;
		}
	}
}