.iconsWrapper {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  right: 13px;
  top: 0;
  padding-top: 7px;

  > span, > button {
    margin-left: 9px;
  }
}

.inputWrapper {
  box-sizing: border-box;
  min-inline-size: min-content;
  border-width: 1px;
  border-style: solid;
  border-color: var(--rp-input-border-color);
  border-radius: 8px;

  padding: 0 1px 1px;

  input {
    height: 52px;
    font-size: 16px;
    box-sizing: border-box;
    line-height: 56px;
    padding: 10px 15px;
    border-radius: 8px;

    margin-top: -17px;
  }

  &:hover {
    border-color: var(--rp-input-border-color-hover);
  }
  
  &.focused {
    border-width: 2px;
    border-color: var(--rp-input-border-color-hover);
    padding: 0;

    .iconsWrapper {
      right: 12px;
    }
  }

  &.focused .legend {
    transform: translateY(-125%);
    font-size: .80em;
    background: #fff;
    color: var(--rp-formfield-label-text-color) !important;
  }
}

.legend {
  margin-left: 9px;
  font-family: var(--rp-input-font-family, var(--rp-theme-font-regular, "NotoSans-Regular, NotoSansCJKjp-Regular"), sans-serif);
  color: var(--rp-input-placeholder-color) !important;
  font-size: 12px;
  font-weight: thin;
  padding: 0 6px;
  z-index: 1;
  position: absolute;
  pointer-events:none;
  left: 0px;
  top: 8px;
  cursor: text;
  z-index: 10;
  font-size: 16px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
  pointer-events:none;

  line-height: 1.38;
  margin-bottom: 10px;
}

.error {
  border-color: var(--rp-theme-color-error);
  color: var(--rp-theme-color-error)!important;
}
