{
  "presets": [
    "env",
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
    ["react-intl", {
      "messagesDir": "./translations/messages/",
      "enforceDescriptions": true,
      "extractSourceLocation": true
    }],
    "add-module-exports",
    "transform-decorators-legacy"
  ],
  "env": {
    "development": {
      "plugins": ["transform-runtime"]
    }
  }
}
