{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "commonjs",
        "useBuiltIns": "entry"
      }
    ],
    "@babel/preset-flow",
    "@babel/preset-react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 2,
        "helpers": true,
        "regenerator": true
      }
    ],
    [
      "react-intl",
      {
        "messagesDir": "./translations/messages/",
        "enforceDescriptions": true,
        "extractSourceLocation": true
      }
    ],
    "add-module-exports",
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-export-namespace-from"
  ],
  "env": {
    "development": {
      "plugins": [
        "@babel/plugin-transform-runtime"
      ]
    }
  }
}