node_modules
npm-debug.log
.DS_Store
staging-key.pem
production-key.pem

build/
dev/
dll/

*.zip
*.crx
*.pem
update.xml
.vscode/

# Generated translation files
translations/messages
translations/reports
