.DS_Store
.vscode/
.idea/
**/node_modules
**/npm-debug.log
**/build
**/dev
**/i18n/
packages/e2e-tests/helpers/wallet-dbSnapshots/
packages/yoroi-extension/app/api/ada/lib/storage/tests/__yoroi_snapshots__/
packages/yoroi-extension/ampli/
packages/yoroi-extension/flow-typed
packages/yoroi-extension/flow