.DS_Store
.vscode/
.idea/
*.md
**/node_modules
**/npm-debug.log
**/build
**/dev
**/i18n/
packages/e2e-tests/helpers/wallet-dbSnapshots/
packages/e2e-tests/testRunsData_*/
packages/e2e-tests/mochawesome-report/
packages/yoroi-extension/app/api/ada/lib/storage/tests/__yoroi_snapshots__/
packages/yoroi-extension/ampli/
packages/yoroi-extension/flow-typed
packages/yoroi-extension/flow
packages/yoroi-extension/scripts/sslOverrides.js
*.d.ts
**/app/UI/**/*.d.ts
packages/yoroi-extension/chrome/manifest.*.json
packages/yoroi-extension/translations/messages
packages/yoroi-extension/translations/reports