@import '../../../themes/mixins/error-message';

.dialog {
  font-weight: 300;

  .walletPasswordFields {
    max-height: 300px;
    overflow: hidden;
    transition: all 400ms ease;
  }

  .error {
    @include error-message;
    text-align: center;
    margin-bottom: 24px !important;
  }
}

:global(.YoroiModern), :global(.YoroiRevamp)  {
  .dialog {
    :global(.Dialog_actions) {
      margin-top: 10px;
    }
  }
}
