@import '../../../themes/mixins/unordered-list';

.component {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;

  p {
    margin-bottom: 10px;
  }
  .header {
    @include unordered-list;
    margin-bottom: 20px;
  }
}

.label {
  color: var(--th-palette-gray-900);
  font-size: 14px;
  line-height: 22px;
  display: block;
  font-weight: 400;
  margin-bottom: 4px;
  text-align: left;
}

.derivation {
  font-family: 'RobotoMono';
  font-weight: 400;
  letter-spacing: 0;
}

.hash {
  color: var(--th-palette-gray-600);
  font-size: 16px;
  line-height: 22px;
}
