@import '../../../themes/mixins/loading-spinner';

.component {
  border-top: 1px solid var(--yoroi-palette-gray-200);
  padding-top: 30px;
  margin-top: 32px;

  font-weight: 400;
  color: var(--yoroi-support-settings-text);
}
