.page {
    min-height: 100%;
    padding: 20px 0;
    background-color: var(--theme-mywallets-page-background-color);
    font-family: var(--font-regular);
    display: flex;
    flex-direction: column;
}

.pageTitle {
    font-family: var(--font-medium);
    color: var(--theme-mywallets-page-title-color);
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 21px;
}

.content {
    flex: 1;
    display: flex;
}