.page {
    min-height: 100%;
    height: 100%;
    background-color: var(--theme-mywallets-page-background-color);
    font-family: var(--font-regular);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.content {
    flex: 1;
    display: flex;
}