.component {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  progress {
    margin-right: 8px;
  }

  progress[value] {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
  }

  progress[value]::-webkit-progress-bar {
    height: 4px;
    background-color: var(--yoroi-palette-gray-200);
  }

  progress[value]::-webkit-progress-value {
    height: 4px;
    background-color: var(--yoroi-palette-secondary-300);
  }
}
