@import '../../../themes/mixins/error-message';

.component {
  display: flex;
  height: 100%;
  justify-content: center;
  padding-top: 150px;

  .centeredBox {
    overflow: visible;
    width: 400px;
  }

  .error {
    @include error-message;
    text-align: center;
    margin-bottom: 1rem;
  }
}

.info {
  color: var(--yoroi-terms-of-use-text-color);
  text-align: justify;
  margin-top: 30px;
  background-color: var(--yoroi-palette-common-white);
  border-radius: 8px;
  padding: 16px;

  h1 {
    color: var(--yoroi-palette-gray-800);
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 11px;
  }

  p {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 1.38;
  }
}

:global(.YoroiRevamp) .component {
  height: 70%;
}