.component {
  width: 100%;

  & > div {
    padding: 0px;
    margin: 0px;
  }

  input {
    border: none;
    outline: none;
    width: 100%;
    font-family: Rubik;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 32px;

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: #A7AFC0;
        font-size: 24px;
        letter-spacing: 0;
        line-height: 32px;
    }
  }
}