@import '../../themes/mixins/loading-spinner';

.isLoading {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    @include loading-spinner('../../assets/images/spinner-dark.svg', 16);
}

.amount {
    font-weight: 500;
    font-size: 14px;
}

.fiat {
    color: var(--yoroi-palette-gray-600);
    font-size: 14px;
}