@import "./settingsConfig";

.component {
  background-color: var(--theme-settings-body-background-color);
  display: flex;
  height: 100%;

  .settingsPaneWrapper {
    flex: 1;
    overflow-x: hidden;
    overflow-y: overlay;
  }

  .settingsPane {
    min-height: 100%;
    background-color: var(--theme-settings-pane-background-color);
    border: var(--theme-settings-pane-border);
    overflow: visible;
  }
}

:global(.YoroiClassic) .component {
  padding: 0 20px;

  .settingsPaneWrapper {
    padding: 20px 20px 20px 0;
  }
  .settingsPane {
    padding: 20px;
  }
}

:global(.YoroiModern) .component {
  padding: 0 30px;

  .settingsPaneWrapper {
    padding: 30px 20px 30px 0;
  }
  .settingsPane {
    padding: 30px 30px 20px 30px;
    border-radius: 8px;
  }

  fieldset {
    background: var(--theme-settings-pane-background-color);
  }
}