$footerHeight: 60px;

.footer {
    height: #{$footerHeight};
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--theme-footer-background-color);
  }
  
  .link {
    display: flex;
    height: 58px;
    align-items: center;
    text-decoration: none;
    color: var(--theme-wallet-add-footer-text-color);
    font-family: var(--theme-footer-text-font);
    font-size: 14px;
  
    span:last-child {
      margin-left: 10px;
    }
  
    svg {
      height: 18px;
      width: 18px;
    }
  }
  
  .footerIcon {
    width: 18px;
    height: 18px;
    background-size: contain;
  }
  
  .buyIcon {
    background-image: url(../../assets/images/footer/buy-trezor.inline.svg);
  }
  
  .hardwareWalletIcon {
    background-image: url(../../assets/images/footer/what-is-a-harware-wallet.inline.svg);
  }