$blockHeight: 52px;

.component {
  display: block;
  // width: 100%;
  // position: fixed;
  // bottom: 0;
  font-size: 14px;
  font-family: var(--rp-theme-font-regular);
  a {
    opacity: 0.7;
    color: var(--rp-theme-font-black);
  }
}

.block {
  background-color: var(--theme-footer-block-background-color);
  height: $blockHeight;
  display: inline-block;
  text-align: center;
  .icon {
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
  }
  .iconConnectTrezor {
    margin-right: 6px;
  }
  .text {
    display: inline-block;
    vertical-align: middle;
  }
};
.block:hover {
  background-color: var(--theme-footer-block-background-color-hover);
  cursor: pointer;
};