.component {
  padding: 40px 32px;
  color: var(--yoroi-palette-gray-900);

  h1 {
    margin-bottom: 12px;
    font-weight: 500;
  }
  p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 24px;
  }
}
