.layout {
  max-width: 466px;
  width: 100%;
  padding-bottom: 40px;
  border-radius: 2px;
  background-color: #f0f3f5;
  box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.06);
  font-weight: 400;
}

.header {
  height: 52px;
  background: linear-gradient(45deg, #244abf 0%, #4760ff 100%);
  display: flex;
  align-items: center;
  padding-right: 32px;
  padding-left: 32px;
  & .menuIcon {
    margin-right: 80px;
    cursor: pointer;
  }
  & .menu {
    color: #fff;
    display: flex;
  }
  & .setting {
    margin-left: 65px;
  }
}
.list {
  height: 480px;
  padding-top: 32px;
  .listItem {
    padding: 15px 32px;
    & svg {
      margin-right: 12px;
    }
    & a {
      display: flex;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
      & > svg {
        flex: 0 0 24px;
      }
    }
  }
  .label {
    font-size: 16px;
    color: #242838;
  }
}

.listItemLanguage {
  display: flex;
  padding: 8px 32px;
  & svg {
    margin-right: -3px;
    margin-top: 4px;
  }
  & div {
    flex: 1;
  }
}
