.component {
  padding: 40px 32px;
  text-align: center;
  color: #6b7384;
  svg {
    margin-bottom: 24px;
  }
  h3 {
    margin: 0;
    margin-bottom: 2px;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 26px;
  }
  p {
    margin-bottom: 24px;
    font-size: 12px;
  }
}
