@import './DialogCommonStyle.scss';
@import '../../../../themes/mixins/underline';

.component {
  .prerequisiteBlock {
    display: inline-block;

    .prerequisiteHeaderText {
      font-size: 18px;
      line-height: 22px;
    }

    li {
      list-style-type: disc;
      margin-left: 18px;
      font-weight: 400;
      line-height: 22px;
      font-size: 16px;
      letter-spacing: 0;
      margin-top: 6px;

      &:first-child {
        margin-top: 8px;
      }

      a {
        font-weight: 700;
        color: var(--yoroi-palette-gray-700);
        @include underline(var(--yoroi-palette-gray-800));
      }
    }
  }

  .hwImageBlock {
    vertical-align: baseline;
    display: inline-block;
  }
}

:global(.YoroiClassic) {
  .component {
    .prerequisiteBlock {
      width: 520px;
      height: 280px;
    }

    .prerequisiteHeaderText {
      font-weight: 500;
      margin-left: 10px;
      opacity: $opacityCommon;
    }

    li {
      margin-top: 12px;
      opacity: $opacityCommon;
    }
  }
}

:global(.YoroiModern), :global(.YoroiRevamp) {
  .component {
    .prerequisiteBlock {
      margin-top: 24px;
    }

    .prerequisiteHeaderText {
      font-weight: 500;
      margin-left: 7px;
      color: var(--yoroi-palette-gray-700);
    }

    li {
      font-size: 14px;
    }
  }
}
