.component {
  display: flex;
  flex-direction: column;
  .wrap {
    height: 90px;
    display: flex;
    .iconBlock {
      width: 48px;
      background-color: aqua; // TODO delete
    }
    .textBlock {
      .primary {
        display: flex;
        flex-direction: row;
        .title {
          background-color: chartreuse;   // TODO delete
          width: 474px;
        }
        .date {
          width: 200px;
          display: flex;
          justify-content: flex-end;

        }
      }
    }
  }
  .line {
    height: 1px;
    opacity: 0.3;
    background-color: #ADAEB6; // TODO delete
  }
}
