@mixin headerBlockBase {
  font-size: 14px;
  line-height: 22px;
  color: var(--yoroi-palette-gray-900);
  margin: 10px 0 14px 0;
  letter-spacing: 0;
}
.headerBlock {
  @include headerBlockBase;
  font-weight: 400;
}
.headerBlockClassic {
  @include headerBlockBase;
  font-weight: 300;
}
