$time-min-width: 110px;
$time-align: left;

$type-min-width: 250px;
$type-align: left;

$status-width: 87px;
$status-align: center;

$min-fee-width: 80px; // fits 2-digit ADA fees
$fee-align: right;

$min-amount-width: 191px; // fits 1 billion ADA
$amount-align: right;