@import "./categoryData";

.component {
  // ========= TOGGLER =========
  .toggler {
    cursor: pointer;
    padding: 25px 0;
  }

  .togglerContent {
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    white-space: nowrap;
  }

  .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .time {
    min-width: $time-min-width;
    text-align: $time-align;
  
    font-family: var(--font-regular);
    color: var(--theme-transactions-list-text-color);
    font-size: 16px;
    line-height: 25px;
  }

  .type {
    min-width: $type-min-width;
    text-align: $type-align;

    text-align: left;
    font-size: 16px;
    line-height: 22px;
    font-family: var(--font-regular);
    color: var(--theme-transactions-list-text-color);
  }

  .status {
    width: $status-width;
    min-width: $status-width;
    text-align: $status-align;

    display: inline-block;
    font-family: var(--font-regular);
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 8px;
    padding-top: 3px;
    height: 25px;
    user-select: none;
  }
  .typeAddress{
    min-width: fit-content;
    background: var(--cmn-default-color-grey-5);
    font-size: 10px;
    letter-spacing: 0;
  }

  .currency {
    color: var(--theme-transactions-list-text-color);
    font-size: 16px;
    line-height: 22px;
     
    .afterDecimal {
        font-size: 12px;
    }
  }

  .fee {
    min-width: $min-fee-width;
    text-align: $fee-align;

    text-align: right;
    font-family: var(--font-regular);
  }
  .amount {
    min-width: $min-amount-width;
    text-align: $amount-align;

    font-family: var(--font-medium);
    text-align: right;
  }

  .pendingLabel {
    background-color: var(--theme-transactions-state-pending-background-color);
    background-size: 35px 50px;
    overflow: hidden;
    background-image: linear-gradient(
      55deg,
      transparent  33.4%,
      var(--theme-transactions-state-pending-stripes-color) 33.4%,
      var(--theme-transactions-state-pending-stripes-color) 50%,
      transparent 50%,
      transparent 83.4%,
      var(--theme-transactions-state-pending-stripes-color) 83.4%,
      var(--theme-transactions-state-pending-stripes-color)
    );
    animation: pending-label-animation 1s linear infinite;
    :global {
      @keyframes pending-label-animation {
        0% {
          background-position: 0 0;
        }
        100% {
          background-position: 70px 50px;
        }
      }
    }
  }

  .amountSmall {
    color: var(--theme-widgets-hash-light-color);
    font-size: 14px;
  }

  .failedLabel {
    color: var(--theme-transactions-state-failed-text-color);
    background-color: var(--theme-transactions-state-failed-background-color);
  }
  
  .low {
    color: var(--theme-transactions-priority-low-text-color);
    background-color: var(--theme-transactions-priority-low-background-color);
  }
  
  .medium {
    color: var(--theme-transactions-priority-medium-text-color);
    background-color: var(--theme-transactions-priority-medium-background-color);
  }
  
  .high {
    color: var(--theme-transactions-priority-high-text-color);
    background-color: var(--theme-transactions-priority-high-background-color);
  }
  
  .assuranceLevel {
    text-transform: capitalize;
  }


  &.pending {
    .type, .time, .fee, .amount, .details {
      color: var(--theme-transactions-list-pending-text-color);
    }
    .status {
      color: var(--theme-transactions-state-pending-text-color);
    }
    .currencySymbol {
      & > svg {
        & > g {
          stroke: var(--theme-icon-transactions-ada-symbol-pending-color);
        }
      }
    }
  }
 
  .expandArrowBox {
    margin-left: 16px;
    align-items: center;
  }
  
  .expandArrow svg {
    width: 24px;
    height: 24px;
  }
  
  .collapseArrow svg {
    width: 24px;
    height: 24px;
    transform: rotate(180deg);
  }
  // ========= DETAILS =========
  .content {
    background-color: var(--theme-transactions-list-detail-background-color);
    padding-left: 24px;
    padding-right: 24px;

    .closed {
      max-height: 0;
      overflow: hidden;
      padding-bottom: 0;
    }
    
    .expanded {
      max-height: 100%;
      padding-top: 30px;
      padding-bottom: 24px;
    }
  }
  .shadow {
    box-shadow: inset 0 -1px 10px 0 rgba(255,255,255,0.5), inset 0 2px 4px 0 rgba(56,57,61,0.2);
  }

  .last {
    .expanded {
      margin-bottom: 8px;
    }
  }
  .notLast {
    .closed {
      border-bottom: 1px solid var(--cmn-default-color-grey-4);
    }
  }

  .details {
    height: auto;
    
    .addressContent {
      display: flex;
      border-top: 1px solid rgba(173, 174, 182, 0.3);
      border-bottom: 1px solid rgba(173, 174, 182, 0.3);
      & > div {
        flex: 1 1 50%;
        padding-top: 24px;
        margin-bottom: -1px;
        &:first-child{
          padding-right: 24px;
        }
        &:last-child{
          border-left: 1px solid rgba(173, 174, 182, 0.3);
          padding-left: 24px;
        }
      }
    }
    .addressHeader {
      display: grid;
      grid-gap: 15px;
      grid-template-columns: minmax(230px,1fr) 1fr 1fr;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24px;
      h2 {
        margin: 0;
      }
    }
    .addressCount {
      font-weight: bold;
      margin-left: 5px;
    }
    .addressList {
      color: var(--theme-transactions-list-detail-row-text-color);
      font-size: 14px;
      & > * {
        padding-bottom: 10px;
        margin-top: 14px;
        border-bottom: 1px solid #DEE2EA;
      }
    }
    .addressItem {
      display: grid;
      grid-gap: 15px;
      grid-template-columns: minmax(230px,1fr) 1fr 1fr;
      align-items: center;
    }
    * + h2,
    * + .row {
      margin-top: 18px;
    }
  
    h2 {
      font-family: var(--font-regular);
      font-size: 14px;
      margin-bottom: 3px;
      line-height: 1.38;
      color: var(--theme-transactions-list-text-color);
    }
  
    .rowData {
      font-size: 14px;
      font-family: var(--font-regular);
      color: var(--theme-transactions-list-detail-row-text-color);
      word-break: break-all;
      line-height: 22px;
    }

    .editButton {
      cursor: pointer;
      margin-left: 6px;

      .editMemoIcon {
        cursor: pointer;
        display: inline-flex;
        object-fit: contain;
        vertical-align: bottom;
        & > svg {
          height: 15px;
          width: 15px;
        }
      }
    }

    .memoActionItemBlock {
      letter-spacing: 0.5px;
      margin: 10px 0;
      line-height: 20px;
      vertical-align: top;
      white-space: nowrap;

      * {
        vertical-align: middle;
      }

      button {
        cursor: pointer;
      }

      span {
        color: var(--theme-label-button-color);
        font-family: var(--font-regular);
        font-size: 14px;
        margin-left: 6px;
      }

      .addMemoIcon {
        cursor: pointer;
        display: inline-flex;
        object-fit: contain;
        margin-left: 4px;
        & > svg {
          height: 20px;
          width: 20px;
        }
      }
    }

    .hash {
      font-family: var(--font-mono-regular);
    }
  }
  
  .conversion {
    display: flex;
  }
  
  .conversionRate {
    margin-left: 76px;
  }

  .currencySymbol {
    margin-left: 12px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 4px;
    & > svg {
      width: 21px;
      height: 21px;
      & > g {
        stroke: var(--theme-icon-transactions-ada-symbol-color);
      }
    }
  }
}
