.componentClassic {
  color: var(--theme-transactions-list-item-details-color);

  &.failed {
    .title, .amount, .details {
      color: var(--theme-transactions-state-failed-text-color);
    }
    .currencySymbol {
      & > svg > g > g {
        stroke: var(--theme-transactions-state-failed-text-color);
      }
    }
  }
}

.component {
  color: var(--theme-transactions-list-item-details-color);
  background-color: var(--theme-transactions-list-background-color);
  border-radius: 8px;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  &.failed {
    background-color: var(--theme-transactions-list-failed-background-color);
  }

  &.pending {
    .title, .type, .amount, .details {
      color: var(--theme-transactions-state-pending-text-color);
    }
    .currencySymbol {
      & > svg > g > g {
        stroke: var(--theme-transactions-state-pending-text-color);
      }
    }
  }
}

// ========= TOGGLER =========

.togglerClassic {
  cursor: pointer;
  display: flex;
  padding: 20px;
  -webkit-user-select: none;
}

.toggler {
  cursor: pointer;
  display: flex;
  padding: 25px 30px;
  -webkit-user-select: none;
}

.togglerContent {
  flex: 1;
  padding-top: 1px;
}

.header,
.details {
  color: var(--theme-transactions-list-item-details-color);
  display: flex;
  width: 100%;
}

.titleClassic, .amountClassic {
  color: var(--theme-transactions-list-item-details-color);
  font-size: 16px;
  font-family: var(--font-semibold);
  height: 22px;
  line-height: 1.38;
  text-align: left;
}

.amountClassic {
  margin-left: auto;
  font-family: var(--font-medium);
  font-size: 16px;
  letter-spacing: 1px;
}

.title, .amount {
  color: var(--theme-transactions-list-item-details-color);
  height: 25px;
  line-height: 25px;
  letter-spacing: 0;
}

.title {
  width: 146px;
  font-size: 18px;
  font-family: var(--font-medium);
  text-align: left;
  margin-right: 25px;
}

.amount {
  margin-left: auto;
  font-family: var(--font-regular);
  font-size: 25px;
}

.amountSent {
  color: var(--theme-transactions-sent-color);

  .currencySymbol {
    & > svg > g > g {
      stroke: var(--theme-transactions-sent-color);
    }
  }
}

.amountReceived {
  color: var(--theme-transactions-received-color);

  .currencySymbol {
    & > svg > g > g {
      stroke: var(--theme-transactions-received-color);
    }
  }
}

.expandArrowBox {
  margin-left: 40px;
  display: flex;
  align-items: center;
}

.expandArrow svg {
  height: 8px;
}

.collapseArrow svg {
  height: 8px;
  transform: rotate(180deg);
}

.labelClassic {
  color: var(--theme-transactions-priority-color);
  display: inline-block;
  font-family: var(--font-bold);
  font-size: 8px;
  height: 17px;
  line-height: 16px;
  margin-left: 12px;
  margin-top: 2px;
  padding: 0 9px;
  text-transform: uppercase;
}

.label {
  height: 25px;
  min-width: 90px;
  padding: 0 15px;
  display: inline-block;
  line-height: 25px;
  text-align: center;
  color: var(--theme-transactions-priority-color);
  font-family: var(--font-regular);
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 15px;
}

.pendingLabelClassic {
  :global {
    @keyframes pending-label-animation-classic {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: 50px 50px;
      }
    }
  }

  background-color: var(--theme-transactions-state-pending-background-color);
  background-image:
    linear-gradient(
        -45deg,
        var(--theme-transactions-state-pending-stripes-color) 25%,
        transparent 25%,
        transparent 50%,
        var(--theme-transactions-state-pending-stripes-color) 50%,
        var(--theme-transactions-state-pending-stripes-color) 75%,
        transparent 75%,
        transparent
    );
  background-size:50px 50px;
  animation: pending-label-animation-classic 2s linear infinite;
  overflow: hidden;
}

.pendingLabel {
  :global {
    @keyframes pending-label-animation {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: 70px 50px;
      }
    }
  }

  background-color: var(--theme-transactions-state-pending-background-color);
  background-image:
    linear-gradient(
        55deg,
        transparent  33.4%,
        var(--theme-transactions-state-pending-stripes-color) 33.4%,
        var(--theme-transactions-state-pending-stripes-color) 50%,
        transparent 50%,
        transparent 83.4%,
        var(--theme-transactions-state-pending-stripes-color) 83.4%,
        var(--theme-transactions-state-pending-stripes-color)
    );
  background-size: 35px 50px;
  animation: pending-label-animation 1s linear infinite;
  overflow: hidden;
}

.failedLabelClassic, .failedLabel {
  background-color: var(--theme-transactions-state-failed-background-color);
}

.low {
  background-color: var(--theme-transactions-priority-low-background-color);
}

.medium {
  background-color: var(--theme-transactions-priority-medium-background-color);
}

.high {
  background-color: var(--theme-transactions-priority-heigh-background-color);
}

.assuranceLevel {
  text-transform: capitalize;
}

.typeClassic {
  font-family: var(--font-light);
  font-size: 14px;
  margin-left: 12px;
  margin-top: 3px;
}

.type {
  width: 100px;
  font-family: var(--font-regular);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25px;
  margin-right: 40px;
}

// ========= DETAILS =========

.contentClassic {
  border-bottom: 1px solid var(--theme-separation-border-color);
  margin-left: 20px;
  margin-right: 20px;
}

.content {
  margin-left: 30px;
  margin-right: 30px;
}

.last {
  border: none;
}

.detailsClassic {
  height: auto;
  * + h2,
  * + .row {
    margin-top: 20px;
  }
  h2 {
    font-family: var(--font-medium);
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 8px;
    text-transform: uppercase;
  }
  span {
    font-family: var(--font-light);
    font-size: 14px;
    word-break: break-all;

    &.address {
      display: block;
      line-height: 19px;
    }
  }
}

.details {
  height: auto;
  * + h2,
  * + .row {
    margin-top: 20px;
  }
  h2 {
    font-family: var(--font-regular);
    font-size: 16px;
    line-height: 1.38;
    margin-bottom: 2px;
  }
  span {
    color: var(--theme-transactions-text-color);
    font-family: var(--font-regular);
    font-size: 14px;
    word-break: break-all;
    line-height: 1.57;

    &.address {
      display: block;
      line-height: 19px;
    }
  }
}

.closed {
  max-height: 0;
  overflow: hidden;
  padding-bottom: 0;
}

.expanded {
  max-height: 100%;
  padding-bottom: 20px;
}

.conversion {
  display: flex;
}

.conversionRate {
  margin-left: 76px;
}

.currencySymbolClassic {
  display: inline-block;
  margin-bottom: -1px;
  margin-left: 4px;
  & > svg {
    width: 12px;
    height: 12px;
    & > g > g {
      stroke: var(--theme-icon-transactions-ada-symbol-color);
    }
  }
}

.currencySymbol {
  display: inline-block;
  margin-left: 12px;
  vertical-align: middle;
  & > svg {
    width: 21px;
    height: 21px;
    & > g > g {
      stroke: var(--theme-icon-transactions-ada-symbol-color);
    }
  }
}
