.component {
  color: var(--theme-transactions-list-item-details-color);

  &.failed {
    .title, .amount, .details {
      color: var(--theme-transactions-state-failed-text-color);
    }
    .currencySymbol {
      & > svg > g > g {
        stroke: var(--theme-transactions-state-failed-text-color);
      }
    }
  }
  // ========= TOGGLER =========
  .toggler {
    cursor: pointer;
    display: flex;
    padding: 20px;
    -webkit-user-select: none;
  }

  .togglerContent {
    flex: 1;
    padding-top: 1px;
  }

  .header,
  .details {
    color: var(--theme-transactions-list-item-details-color);
    display: flex;
    width: 100%;
  }

  .title,
  .amount {
    color: var(--theme-transactions-list-item-details-color);
    font-size: 16px;
    font-family: var(--font-semibold);
    height: 22px;
    line-height: 1.38;
    text-align: left;
  }
  
  .amount {
    margin-left: auto;
    font-family: var(--font-medium);
    font-size: 16px;
  }

  .amountSent {
    color: var(--theme-transactions-sent-color);
  
    .currencySymbol {
      & > svg > g > g {
        stroke: var(--theme-transactions-sent-color);
      }
    }
  }
  
  .amountReceived {
    color: var(--theme-transactions-received-color);
  
    .currencySymbol {
      & > svg > g > g {
        stroke: var(--theme-transactions-received-color);
      }
    }
  }

  .label {
    color: var(--theme-transactions-priority-color);
    display: inline-block;
    font-family: var(--font-bold);
    font-size: 8px;
    line-height: 16px;
    padding: 0 9px;
    text-transform: uppercase;
    height: 17px;
  }

  .pendingLabel {
    background-color: var(--theme-transactions-state-pending-background-color);
    background-size: 50px 50px;
    overflow: hidden;
    background-image: linear-gradient(
      -45deg,
      var(--theme-transactions-state-pending-stripes-color) 25%,
      transparent 25%,
      transparent 50%,
      var(--theme-transactions-state-pending-stripes-color) 50%,
      var(--theme-transactions-state-pending-stripes-color) 75%,
      transparent 75%,
      transparent
    );
  }

  .failedLabel {
    background-color: var(--theme-transactions-state-failed-background-color);
  }
  
  .low {
    background-color: var(--theme-transactions-priority-low-background-color);
  }
  
  .medium {
    background-color: var(--theme-transactions-priority-medium-background-color);
  }
  
  .high {
    background-color: var(--theme-transactions-priority-heigh-background-color);
  }
  
  .assuranceLevel {
    text-transform: capitalize;
  }

  .type {
    font-family: var(--font-light);
    font-size: 14px;
  }
  // ========= DETAILS =========
  .content {
    margin-left: 20px;
    margin-right: 20px;
  }

  .last {
    border: none;
  }

  .details {
    height: auto;
  
    * + h2,
    * + .row {
      margin-top: 20px;
    }
  
    h2 {
      font-family: var(--font-medium);
      font-size: 11px;
      margin-bottom: 8px;
    }
  
    span {
      font-family: var(--font-light);
      font-size: 14px;
      word-break: break-all;
  
      &.address {
        display: block;
        line-height: 19px;
        font-family: var(--font-mono-light);
        letter-spacing: 0;
      }
    }
  }

  .closed {
    max-height: 0;
    overflow: hidden;
    padding-bottom: 0;
  }
  
  .expanded {
    max-height: 100%;
    padding-bottom: 20px;
  }
  
  .conversion {
    display: flex;
  }
  
  .conversionRate {
    margin-left: 76px;
  }

  .currencySymbol {
    display: inline-block;
    margin-left: 4px;
    & > svg {
      width: 12px;
      height: 12px;
      & > g > g {
        stroke: var(--theme-icon-transactions-ada-symbol-color);
      }
    }
  }
}

:global(.YoroiClassic) .component {
  // ========= TOGGLER =========
  .amount {
    letter-spacing: 1px;
  }

  .label {
    margin-left: 12px;
    margin-top: 2px;
  }

  .pendingLabel {
    animation: pending-label-animation-classic 2s linear infinite;
    :global {
      @keyframes pending-label-animation-classic {
        0% {
          background-position: 0 0;
        }
        100% {
          background-position: 50px 50px;
        }
      }
    }
  }

  .type {
    margin-left: 12px;
    margin-top: 3px;
  }
  // ========= DETAILS =========
  .content {
    border-bottom: 1px solid var(--theme-separation-border-color);
  }

  .details {
    h2 {
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  .currencySymbol {
    margin-bottom: -1px;
  }  
}

:global(.YoroiModern) .component {
  background-color: var(--theme-transactions-list-background-color);
  border-radius: 8px;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  &.failed {
    background-color: var(--theme-transactions-list-failed-background-color);
  }

  &.pending {
    .title, .type, .amount, .details {
      color: var(--theme-transactions-state-pending-text-color);
    }
    .currencySymbol {
      & > svg > g > g {
        stroke: var(--theme-transactions-state-pending-text-color);
      }
    }
  }
  // ========= TOGGLER =========
  .toggler {
    padding: 25px 30px;
  }

  .title,
  .amount {
    height: 25px;
    line-height: 25px;
    letter-spacing: 0;
  }
  
  .title {
    width: 146px;
    font-size: 18px;
    font-family: var(--font-medium);
    text-align: center;
    margin-right: 25px;
  }
  
  .amount {
    font-family: var(--font-regular);
    font-size: 25px;
  }
 
  .expandArrowBox {
    margin-left: 40px;
    display: flex;
    align-items: center;
  }
  
  .expandArrow svg {
    height: 8px;
  }
  
  .collapseArrow svg {
    height: 8px;
    transform: rotate(180deg);
  }

  .label {
    font-family: var(--font-regular);
    font-size: 15px;
    line-height: 25px;
    padding: 0 15px;
    height: 25px;
    min-width: 90px;
    text-align: center;
    border-radius: 15px;
  }

  .pendingLabel {
    background-size: 35px 50px;
    background-image: linear-gradient(
      55deg,
      transparent  33.4%,
      var(--theme-transactions-state-pending-stripes-color) 33.4%,
      var(--theme-transactions-state-pending-stripes-color) 50%,
      transparent 50%,
      transparent 83.4%,
      var(--theme-transactions-state-pending-stripes-color) 83.4%,
      var(--theme-transactions-state-pending-stripes-color)
    );
    animation: pending-label-animation 1s linear infinite;
    :global {
      @keyframes pending-label-animation {
        0% {
          background-position: 0 0;
        }
        100% {
          background-position: 70px 50px;
        }
      }
    }
  }

  .type {
    font-family: var(--font-regular);
    font-size: 16px;
    margin-right: 40px;
    width: 100px;
    letter-spacing: 0;
    line-height: 25px;
  }
  // ========= DETAILS =========
  .content {
    margin-left: 30px;
    margin-right: 30px;
  }

  .details {
    h2 {
      font-family: var(--font-regular);
      font-size: 16px;
      margin-bottom: 2px;
      line-height: 1.38;
    }
  
    span {
      font-family: var(--font-regular);
      color: var(--theme-transactions-text-color);
      line-height: 1.57;
    }
  }

  .currencySymbol {
    margin-left: 12px;
    vertical-align: middle;
    & > svg {
      width: 21px;
      height: 21px;
    }
  }
}
