.component {
  margin-top: 22px;
  min-width: fit-content;
  overflow-y: overlay;

  .group {
    &:last-child {
      margin-bottom: 17px;
    }
  }

  .bar {
    padding-right: 24px;

    .groupDate {
      padding-left: 24px;
      font-family: var(--font-regular);
      font-size: 14px;
      line-height: 1.38;
      color: var(--theme-navbar-color);
    }
  }

  .list {
    margin-bottom: 20px;
  
    &:last-child {
      margin: 0;
    }
  }

  .showMoreTransactionsButton {
    display: block !important;
    margin: 30px auto;
  }
}

.loading {
  margin: 20px 0;
}
