.headerContent {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #3f51b5;
  color: white;
  padding: 15%;
  height: 100px;
}

.logo {
  margin: 0% 0% 5% 0%;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  color: white;
}

.formContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  background: white;
  min-height: 53vh;
}

.formButton {
  display: flex;
  justify-content: flex-end;
  padding: 5%;
}

.createContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  min-height: 53vh;
}

.formButtons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 5%;
}

.formRightButton {
  padding-left: 5%;
}

.wordsContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5% 10%;
}

.description {
  padding: 1% 5% 0% 5%;
}

.word {
  margin: 1%;
  padding: 5%;
}