.formContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  background: white;
  min-height: 53vh;
}

.stepper {
  padding: 5% 0% 0% 0% !important /* Fixme */
}

.container {
  min-height: 53vh !important;
  padding:  0% !important; /* Fixme */
}

.createSubContainer {
  margin: 0% 10%;
}

.confirmSubContainer {
  margin: 0% 10%;
  padding: 3% 0% 0% 0%;
}

.formButton {
  display: flex;
  justify-content: flex-end;
  padding: 5%;
}

.loading {
  display: flex;
  justify-content: center;
  padding: 14% 10%;
  margin: 10%;
}

.title {
  display: flex;
  justify-content: center;
  margin: 5%;
  padding: 9% 0%;
}