.itemBody {
  display: flex;
  flex-direction: column;
  flex-grow: 10;
  margin-left: 5%;
}
.amount {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 0% !important; /* Fixme */
}
.expansionPanelDetails {
  display: flex;
  flex-direction: column;
}
.link {
  display: flex;
  flex-direction: row;
  align-items: center;
}
