.component {
  font-family: var(--font-regular);
  color: var(--theme-support-settings-text-color);

  h2 {
    color: var(--theme-support-settings-text-color);
    font-family: var(--font-semibold);
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 12px;
  }
  .aboutLine {
    font-size: 14px;
    line-height: 22px;
  }
}

.yoroiLogo {
  & > svg {
    & > path {
      fill: #2249BE;
    }
  }
}

@media screen and (max-width: 1024px) {
  .socialMediaLinkText {
    display: none;
  }
}


.component,
.aboutSocial {
  border-top: 1px solid var(--cmn-default-color-grey-3-alpha);
  padding-top: 30px;
  margin-top: 32px;
}