.component {
  font-weight: 400;
  color: var(--theme-support-settings-text);

  h2 {
    color: var(--theme-support-settings-text);
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 12px;
  }
  .aboutLine {
    font-size: 14px;
    line-height: 22px;
  }
}

.yoroiLogo {
  & > svg {
    & > path {
      fill: #2249be;
    }
  }
}

@media screen and (max-width: 1024px) {
  .socialMediaLinkText {
    display: none;
  }
}

.component,
.aboutSocial {
  border-top: 1px solid var(--th-palette-gray-200);
  padding-top: 30px;
  margin-top: 32px;
}
