@import '../../../../themes/mixins/error-message';

.component {
  margin-bottom: 20px;

  h1 {
    color: var(--theme-support-settings-text-color);
    font-family: var(--font-semibold);
    font-size: 16px;
    line-height: 1.38;
    margin-bottom: 10px;
    padding-top: 10px;
  }
}

.error {
  @include error-message;
  text-align: center;
}
