@import '../../../../themes/mixins/error-message';

.component {
  margin-bottom: 20px;

  h1 {
    color: var(--theme-support-settings-text);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.38;
    margin-bottom: 10px;
    padding-top: 10px;
  }
}

.error {
  @include error-message;
  text-align: center;
}

.info {
  color: var(--theme-terms-of-use-text-color);
  text-align: justify;
  margin-top: 10px;

  h1 {
    color: var(--th-palette-gray-800);
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 11px;
  }

  p {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 1.38;
    margin-bottom: 11px;
  }
}
