@import '../../../../themes/mixins/underline';

.component {
  border-top: 1px solid var(--yoroi-palette-gray-200);
  padding-top: 30px;

  .main {
    max-width: 1300px;
    text-align: center;
    margin-top: 20px;
  }

  .title {
    color: var(--yoroi-support-settings-text);
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 12px;
  }

  .subTitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: var(--yoroi-support-settings-text);
  }

  a,
  p {
    color: var(--yoroi-support-settings-text);
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }

  a {
    color: var(--yoroi-support-settings-text);
  }

  p {
    margin-bottom: 2px;
  }

  .link {
    @include underline(var(--yoroi-palette-gray-800));
  }
}

.themesWrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;

  .themeImageWrapper {
    margin-bottom: 32px;
    position: relative;
    text-align: left;

    div {
      border-radius: 8px;
      overflow: hidden;
      width: 100%;
      margin-bottom: 8px;
    }

    svg {
      display: block;
      width: 100%;
    }

    .themeWarning {
      position: absolute;
      top: calc(50% - 37px);
      left: 0px;
      background-color: var(--yoroi-palette-background-banner-warning);
      color: var(--yoroi-palette-common-white);
      padding: 10px;
    }

    div {
      box-shadow: 0 5px 30px 0px rgba(24, 26, 30, 0.12);
    }

    &.inactive {
      opacity: 0.5;
      &:hover {
        opacity: 0.6;
        cursor: pointer;
      }
    }
  }
}

.revampWrapper {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}
