@import '../../../../themes/mixins/error-message';

.component {
  .title {
    color: var(--yoroi-support-settings-text);
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 12px;
  }
  a,
  p {
    color: var(--yoroi-support-settings-text);
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }

  a {
    color: var(--yoroi-support-settings-text);
  }

  p {
    margin-bottom: 2px;
  }

  .optionRow {
    display: flex;
    .optionLabel {
      margin-left: 8px;
    }
  }
}

.error {
  @include error-message;
  text-align: center;
}

:global(.YoroiModern) .optionSmallNative {
  font-size: 14px;
  color: var(--yoroi-palette-secondary-200);
}
