@import '../../../../themes/mixins/underline';

.component {
  border-top: 1px solid var(--yoroi-palette-gray-200);
  padding-top: 24px;
  padding-bottom: 24px;

  .title {
    color: var(--yoroi-support-settings-text);
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 12px;
  }

  p {
    color: var(--yoroi-support-settings-text);
    font-size: 14px;
    line-height: 22px;
  }

  p button {
    @include underline(var(--yoroi-support-settings-text));
  }

  p {
    margin-bottom: 2px;
    font-weight: 400;
  }
}
