@import '../../../themes/mixins/error-message';

.dialog {
  font-family: var(--font-light);
  .walletPassword {
    & + .walletPasswordFields {
      .newPasswordClassic {
        margin-top: 10px;
      }
    }
  }

  .walletPasswordFields {
    max-height: 300px;
    overflow: hidden;
    transition: all 400ms ease;

    .newPasswordClassic {
      margin-bottom: 10px;
    }
  }

  .error {
    @include error-message;
    text-align: center;
    margin-bottom: 24px !important;
  }
}

:global(.YoroiModern) {
  .dialog {
    :global(.Dialog_actions) {
      margin-top: var(--theme-dialog-password-input-actions-margin-top);
    }
  }
}

