@import '../../../themes/mixins/loading-spinner';
@import '../../../themes/mixins/error-message';

.dialog {
  font-family: var(--font-light);
  .walletPassword {
    & + .walletPasswordFields {
      .newPasswordClassic {
        margin-top: 10px;
      }
    }
  }

  .walletPasswordFields {
    max-height: 300px;
    overflow: hidden;
    transition: all 400ms ease;

    .newPasswordClassic {
      margin-bottom: 10px;
    }
  }

  .error {
    @include error-message;
    text-align: center;
    margin-top: 27px;
  }
}

.isSubmitting {
  @include loading-spinner("../../../assets/images/spinner-light.svg");
}


:global(.YoroiModern) {
  .walletPasswordFields {
    & > div:last-child {
      padding-bottom: 0;
    }
  }
}