@import '../../../themes/mixins/loading-spinner';
@import '../../../themes/mixins/error-message';

.dialog {
  font-family: var(--font-light);
  .walletPassword {
    .walletPasswordSwitch {
      & .passwordLabel {
        color: var(--theme-wallet-password-switch-label-color);
        font-family: var(--font-semibold);
        font-size: 16px;
        line-height: 1.38;
        margin-bottom: 10px;
      }
    }
    & + .walletPasswordFields {
      .newPasswordClassic {
        margin-top: 10px;
      }
    }
  }


  :global .SimpleSwitch_root > .SimpleSwitch_checked {
    background: var(--theme-input-remove-color-light) !important;
    .SimpleSwitch_thumb {
      box-shadow: inset -1.5px -1.5px 0 var(--theme-input-remove-color-light) !important;
      box-shadow:
        inset -1.5px -1.5px 0 var(--theme-input-remove-color-light),
        inset 1.5px 1.5px 0 var(--theme-input-remove-color-light),
        inset 1.5px -1.5px 0 var(--theme-input-remove-color-light),
        inset -1.5px 1.5px 0 var(--theme-input-remove-color-light) !important;
    }
  }

  .walletPasswordFields {
    max-height: 300px;
    overflow: hidden;
    transition: all 400ms ease;

    .newPasswordClassic {
      margin-bottom: 10px;
    }

    .passwordInstructionsClassic {
      color: var(--theme-instructions-text-color);
      font-family: var(--font-light);
      line-height: 1.38;
      margin-top: 20px;
      opacity: 0.5;
    }

    .passwordInstructions {
      color: var(--theme-instructions-text-color);
      font-family: var(--font-regular);
      line-height: 1.71;
      margin-top: 14px;
      font-size: 14px;
      letter-spacing: 0;

      ul {
        display: flex;
        flex-wrap: wrap;
      }

      li {
        list-style-type: disc;
        margin-left: 18px;
        width: calc(50% - 18px);
      }

      .successCondition {
        position: relative;
        color: var(--theme-password-condition-text-color);
        list-style-type: none;

        span:first-child {
          position: absolute;
          left: -18px;
        }

        svg {
          width: 11px;
        }
      }
    }
  }

  .error {
    @include error-message;
    text-align: center;
    margin-top: 27px;
  }
}

.isSubmitting {
  @include loading-spinner("../../../assets/images/spinner-light.svg");
}
