.component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 36px;
  .notices {
    max-width: 675px;
    .group {
      margin-bottom: 30px;
      .groupDate {
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: var(--yoroi-palette-gray-900);
      }
    }
  }
}
