.card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  & .avatar {
    margin-right: 8px;
    border-radius: 4px;
    overflow: hidden;
    object-fit: cover;
    height: 40px;
    width: 40px;
  }

  & .icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .wrapper {
    display: flex;
    align-items: center;
    width: 100%;
  }

  & .nameWrapper {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
  }

  & .name {
    flex: 1;
    text-align: left;
  }

  & .balance {
    font-weight: 400;
  }
}

.disabledReason {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: var(--text-error, rgba(255, 19, 81, 1));
}
