.card {
  display: flex;
  align-items: center;
  width: 100%;
  letter-spacing: 0;
  line-height: 22px;
  & .avatar {
    margin-right: 13px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
  }
  & .name {
    flex: 1;
    text-align: left;
  }
  & .balance {
    font-weight: 500;
  }
}
