.component {
  overflow: overlay;
  height: 100%;
  padding: 30px;
  background-color: var(--theme-page-background-color);

  fieldset {
    background: var(--theme-settings-pane-background-color);
  }
}
