.component {
  background-color: var(--yoroi-palette-common-white);
  box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.topbar,
.navbar {
  // Show elements that overflow the topbar above the content area
  z-index: 2;
}

.windowWrapper {
  font-weight: 400;
  display: flex;
  flex-wrap: nowrap;
  min-height: 100%;
}

.sidebar {
  flex: 1 0 auto;
}

.main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.containerMain {
  background-color: var(--yoroi-palette-gray-50);
}

.inner {
  height: 100%;
  position: relative;
  overflow: auto;
  &::-webkit-scrollbar-button {
    height: 7px;
    display: block;
  }
}

.containerInner {
  margin-top: 4px;
  background-color: var(--yoroi-palette-common-white);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  height: initial;
}

.containerCard {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

.content {
  height: 100%;
  min-height: 200px;
}

.containerContent {
  max-width: 1295px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 24px - 46px);
}

// avoid background image overlapping with language select form

@media (min-width: 1100px) and (min-height: 820px), (min-width: 1160px) {
  :global(.YoroiModern):global(.YoroiShelley) .languageSelectionBackground {
    background-image: url(../../assets/images/select-language-shelley.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
  }
  :global(.YoroiModern):not(:global(.YoroiShelley)) .languageSelectionBackground {
    background-image: url(../../assets/images/select-language.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
  }
}
