// avoid background image overlapping with language select form

@media (min-width: 1100px) and (min-height: 820px), (min-width: 1160px) {
  :global(.YoroiModern):global(.YoroiShelley),
  :global(.YoroiRevamp):global(.YoroiShelley) {
    .languageSelectionBackground {
      background-image: url(../../assets/images/select-language-shelley.svg);
      background-size: auto;
      background-repeat: no-repeat;
      background-position-y: bottom;
      background-position-x: right;
    } 
  }

  :global(.YoroiModern):not(:global(.YoroiShelley)), 
  :global(.YoroiRevamp):not(:global(.YoroiShelley)) {
    .languageSelectionBackground {
      background-image: url(../../assets/images/select-language.svg);
      background-size: auto;
      background-repeat: no-repeat;
      background-position-y: bottom;
      background-position-x: right;
    } 
  }
}
