.component {
  color: var(--theme-settings-menu-item-text-color);
  display: block;
  text-align: left;
  font-family: var(--font-regular);
  font-size: 16px;
  line-height: 22px;
  padding: 6px 0px;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
  width: initial;

  &.active {
    border-bottom-color: var(--theme-wallet-navigation-tab-text-color-active);
    color: var(--theme-wallet-navigation-tab-text-color-active);
  
    &:hover {
      border-bottom-color: var(--theme-wallet-navigation-tab-text-color-active);
    }
  }

  & + .component {
    margin-left: 43px;
  }
}

.enabled {
  &:hover {
    color: var(--theme-settings-menu-item-text-color-enabled-hover);
    cursor: pointer;
  }
}

.disabled {
  color: var(--theme-settings-menu-item-text-color-disabled);
}