.component {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.body {
  color: var(--theme-bordered-box-text-color);
  font-family: var(--font-regular);
  font-size: 14px;
  line-height: 19px;

  .title {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 6px;
    word-break: break-all;
    text-align: center;
  }

  .progressInfo {
    color: var(--theme-default-color-grey-3);
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 12px;
    word-break: break-word;
    text-align: center;
  }

  .walletLoader {
    margin: 20px auto;
    width: 170px;
    height: 190px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }  
}

:global(.YoroiModern) {
  .walletLoader {
    background-image: url("../../assets/images/paper-wallet-loader.gif");
  }
}

:global(.YoroiClassic) {
  .walletLoader {
    background-image: url("../../assets/images/paper-wallet-loader.gif");
  }
}