.component {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.body {
  color: var(--theme-bordered-box-text-color);
  font-family: var(--font-regular);
  font-size: 14px;
  line-height: 19px;

  .title {
    font-size: 18px;
    font-family: var(--font-medium);
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 8px;
    word-break: break-all;
    text-align: center;
  }

  .progressInfo {
    font-size: 16px;
    line-height: 22px;
    word-break: break-word;
    text-align: center;
  }
}
