.component {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  .title {
    color: var(--theme-default-main-color);
    text-transform: uppercase;
    height: 19px;
    font-family: var(--font-semibold);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
  }

  .text {
    color: var(--card-text-color);
    height: 22px;
    font-family: var(--font-regular);
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
}

:global(.YoroiModern):not(:global(.YoroiShelley)) .component {
  .successImg {
    background-image: url('../../assets/images/transfer-success.inline.svg');
    background-size: auto;
    background-repeat: no-repeat;
    width: 252px;
    height: 194px;
  }
}
:global(.YoroiModern):global(.YoroiShelley) .component {
  .successImg {
    background-image: url('../../assets/images/transfer-success-shelley.inline.svg');
    background-size: auto;
    background-repeat: no-repeat;
    width: 369px;
    height: 251px;
  }
}