@import '../../themes/mixins/error-message';
@import '../../themes/mixins/loading-spinner';

.component {
  padding: 20px;
}

.button {
  margin: 0;
}

.body {
  color: var(--theme-bordered-box-text-color);
  font-family: var(--font-regular);
  font-size: 14px;
  line-height: 19px;
  
  .currencySymbol {
    font-family: var(--font-light);
    text-transform: uppercase;
  }

  .addressLabelWrapper,
  .amountFeesWrapper {
    margin-bottom: 20px;
  }

  .addressLabelClassic,
  .addressLabel,
  .addressSubLabel {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 1.38;
  }

  .addressLabelClassic {
    text-transform: uppercase;
  }
  .addressLabel {
    font-size: 16px;
    text-transform: capitalize;
  }

  .addressSubLabel {
    margin-top: 6px;
  }

  .address {
    font-family: var(--font-light);
    line-height: 1.38;
    margin-top: 6px;
    opacity: 0.5;
    word-wrap: break-word;
  }

  .amountFeesWrapper {
    display: flex;
    flex-direction: row;
    .amountWrapper,
    .feesWrapper {
      width: 50%;
    }
    .amountWrapper {
      margin-right: 10px;
    }
    .feesWrapper {
      margin-left: 10px;
    }
    .amountLabelClassic,
    .amountLabel,
    .feesLabelClassic,
    .feesLabel {
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.5px;
      line-height: 1.38;
      text-transform: uppercase;
    }
    .amountLabel,
    .feesLabel {
      font-size: 16px;
      text-transform: capitalize;
    }
    .amount,
    .fees {
      color: var(--theme-send-confirmation-dialog-send-values-color);
      line-height: 1.38;
      margin-top: 6px;
      word-break: break-word;
    }
    .fees {
      opacity: 0.5;
    }
  }

  .totalAmountLabelClassic, .totalAmountLabel {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 1.38;
    text-transform: uppercase;
  }

  .totalAmountLabel {
    font-size: 16px;
    text-transform: capitalize;
  }

  .totalAmount {
    color: var(--theme-send-confirmation-dialog-send-values-color);
    line-height: 1.38;
    margin-top: 6px;
    word-break: break-word;
  }

  .buttonsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .errorWrapper {
    margin: 1% 0%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .error {
    @include error-message;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 12px;
    word-break: break-word;
    text-align: center;
  }
}

.isSubmitting {
  @include loading-spinner("../../assets/images/spinner-light.svg");
}
