@import '../../themes/mixins/loading-spinner';

.component {
  min-width: 650px;

  & + .component {
    margin-top: 30px;
  }

  .buttonTitle {
    font-size: 18px;
    font-family: var(--font-semibold);
    margin-bottom: 30px;
    line-height: 1.38;
    text-align: left;
  }
  
  .button {
    display: block !important;
    margin-bottom: 30px;
  }
  
  .body {
    display: flex;
    color: var(--theme-bordered-box-text-color);
    font-family: var(--font-regular);
    font-size: 14px;
    line-height: 19px;
  
    .infoBlock {
      padding-right: 60px;
      .title {
        font-size: 18px;
        font-family: var(--font-semibold);
        line-height: 1.38;
        margin-bottom: 16px;
      }

      .text {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 12px;
        word-break: break-word;
      }
    }

    .operationBlock {
      padding-right: 40px;
      margin-left: auto;
    }
  }
}
