$margin: 20px;

.component {
  margin: $margin;
  height: calc(100% - var(--theme-wallet-navigation-tab-height));

  .annotatedLoaderWrapper {
    display: flex;
    flex-flow: column;
    margin: $margin;
    height: calc(100% - #{#{$margin}*2} - var(--theme-wallet-navigation-tab-height));
  }
}