.component {
  padding: 20px;
  min-width: 650px;

  .button {
    display: block !important;
    margin-bottom: 30px;
  }
  
  .body {
    display: flex;
    color: var(--theme-bordered-box-text-color);
    font-family: var(--font-regular);
    font-size: 14px;
    line-height: 19px;
  
    .infoBlock {
      padding-right: 60px;
      .title {
        line-height: 1.38;
        margin-bottom: 16px;
        font-size: 11px;
        font-family: var(--font-medium);
        text-transform: capitalize;
      }

      .text {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 12px;
        word-break: break-word;
      }
    }

    .operationBlock {
      padding-right: 40px;
      margin-left: auto;
    }
  }
}

:global(.YoroiClassic) .component {
  .body {
    .title {
      font-weight: 600;
      padding-left: 10px;
      text-transform: uppercase;
    }
  }  
}

:global(.YoroiModern) .component {
  .body {
    .title {
      font-size: 18px;
      font-family: var(--font-semibold);
    }
  }
}

