@import '../../themes/mixins/buttons';

.component {
  @include button;
  align-items: center;
  color: var(--theme-sidebar-category-text-color);
  display: flex;
  height: 64px;
  justify-content: center;
  width: 64px;

  &:hover {
    background-color: var(--theme-sidebar-category-background-color-hover);
  }

  &.supportRequest {
    &:hover,
    &.active {
      svg {
        & > g {
          opacity: 1;

          :nth-child(1) {
            opacity: 0.5;
          }

          :nth-child(2) {
            fill: rgb(255, 79, 25);
            opacity: 1;
          }

          & > g {
            opacity: 0.5;
            stroke: none;
            & > path {
              opacity: 1 !important;
            }
          }

          :nth-child(5) {
            fill: rgb(255, 79, 25);
          }

          :nth-child(6) {
            fill: rgb(220, 43, 0);
          }

          :nth-child(7) {
            fill: rgb(255, 219, 45);
          }

          :nth-child(8) {
            fill: rgb(250, 251, 252);
            opacity: 0.5;
          }

          :nth-child(9) {
            fill: rgb(245, 179, 0);
          }
        }
      }
    }
  }
}

.active {
  path {
    stroke: #daa49a;
  }

  .icon:not(.walletsIcon) path {
    fill: #daa49a;
  }

  &:hover {
    cursor: default;
  }
}

.icon {
  flex-shrink: 0;
  & > svg {
    width: 24px;
    height: 24px;

    & > g > path {
      fill: var(--theme-icon-sidebar-color);
    }
    // ada.svg icon needs stroke attribute
    & > g > g {
      stroke: var(--theme-icon-sidebar-color);
    }
  }
}

:global {
  .TopBarCategory_component {
    position: absolute;
    top: 0;

    &.wallets {
      left: 0;
    }

    &.daedalus-transfer {
      right: 64px;
    }

    &.settings {
      right: 0;
    }
  }
}

.supportRequest {
  bottom: 0;
  position: absolute;
  width: auto;
}

.supportRequestIcon {
  flex-shrink: 0;
  margin: 0 30px;
  & > svg {
    width: 24px;
    height: 24px;
  }
}

.walletsIcon {
  flex-shrink: 0;
  & > svg {
    width: 36px;
    height: 42.5px;
  }
}

.label {
  font-family: var(--font-regular);
  font-size: 18px;
}
