.component {
  background-color: var(--theme-topbar-layout-body-background-color);
  box-shadow: 0 0 70px 0 rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 100%;
  
  .topbar {
    height: var(--cmn-topbar-height);
    flex-shrink: 0;
    // Show elements that overflow the topbar above the content area
    z-index: 1;
  }
  
  .content {
    height: 100%;
  }
  
  .contentWrapper {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    &::-webkit-scrollbar-button {
      height: 7px;
      display: block;
    }
  }
  
  .main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
  }
}

.languageSelectionBackground {
  background-image: url(../../assets/images/select-language.svg);
  background-size: cover;
  background-position-y: bottom;
}
