.component {
  background-color: var(--theme-topbar-layout-body-background-color);
  box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.topbar {
  // Show elements that overflow the topbar above the content area
  z-index: 1;
}

.windowWrapper {
  font-family: var(--font-regular);
  display: flex;
  flex-wrap: nowrap;
  min-height: 100%;
}

.sidebar {
  flex: 1 0 auto;
}

.main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.containerMain {
  background-color: var(--theme-page-background-color);
}

.inner {
  height: 100%;
  // overflow-x: hidden;
  // overflow-y: hidden;
  position: relative;
  &::-webkit-scrollbar-button {
    height: 7px;
    display: block;
  }
}

.containerInner {
  margin-top: 4px;
  background-color: var(--theme-page-content-background-color);
  box-shadow: var(--theme-page-content-box-shadow);
  border-radius: var(--theme-page-content-border-radius);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  height: initial;
}

.content {
  height: 100%;
}

.containerContent {
  max-width: var(--theme-page-container-width);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  max-height: calc(100% - var(--theme-page-content-box-bottom) - var(--theme-banner-height));
}

// avoid background image overlapping with language select form
@media
  (min-width: 1100px) and (min-height: 820px),
  (min-width: 1160px)
{
  :global(.YoroiModern):global(.YoroiShelley) .languageSelectionBackground {
    background-image: url(../../assets/images/select-language-shelley.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
  }
}
:global(.YoroiModern):not(:global(.YoroiShelley)) .languageSelectionBackground {
  background-image: url(../../assets/images/select-language.svg);
  background-size: cover;
  background-position-y: bottom;
}