@import './DialogCommonStyle.scss';

.component {
  .prerequisiteBlock {
    display: inline-block;

    .prerequisiteHeaderText {
      font-size: 18px;
      line-height: 22px;
    }

    li {
      list-style-type: disc;
      margin-left: 18px;
      font-family: var(--font-regular);
      line-height: 22px;
      font-size: 16px;
      letter-spacing: 0;
      margin-top: 6px;

      &:first-child {
        margin-top: 8px;
      }

      a {
        color: var(--font-black);
      }
    }
  }

  .hwImageBlock {
    vertical-align: baseline;
    display: inline-block;
  }
}

:global(.YoroiClassic) {
  .component {
    .prerequisiteBlock {
      width: 520px;
      height: 280px;
    }

    .prerequisiteHeaderText {
      font-family: var(--font-semibold);
      margin-left: 10px;
      opacity: $opacityCommon;
    }

    li {
      margin-top: 12px;
      opacity: $opacityCommon;
    }
  }
}

:global(.YoroiModern) {
  .component {
    .prerequisiteBlock {
      margin-top: 24px;
    }

    .prerequisiteHeaderText {
      font-family: var(--font-medium);
      margin-left: 7px;
    }

    li {
      font-size: 14px;
    }
  }
}

:global .ConnectDialog .Dialog_title {
  margin-bottom: 12px !important;
}

:global .ConnectDialog .Dialog_actions {
  margin-top: 24px !important;
}