@import './DialogCommonStyle.scss';

.component {
  .middleConnectLoadBlock {
    padding: 0px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  
  .middleConnectProcessBlock {
    padding: 0px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  & + .Dialog_title {
    margin-bottom: 12px !important;
  }

  & + .Dialog_actions {
    margin-top: 24px !important;
  }
}

:global(.YoroiClassic) {
  .component {
    .middleBlock {
      background-color: var(--theme-hw-connect-dialog-middle-block-common-error-background-color);
      padding: 0px;
      text-align: center;
    }
  }
}

:global .CheckDialog .Dialog_title {
  margin-bottom: 12px !important;
}

:global .CheckDialog .Dialog_actions {
  margin-top: 24px !important;
}