@import './DialogCommonStyle.scss';

.component {
  .middleConnectLoadBlock {
    padding: 0px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  
  .middleConnectProcessBlock {
    padding: 0px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

:global(.YoroiClassic) {
  .component {
    .middleBlock {
      background-color: var(--theme-hw-connect-dialog-middle-block-common-error-background-color);
      padding: 0px;
      text-align: center;
    }
  }
}

