@import '../../../../themes/mixins/loading-spinner.scss';

$opacityCommon: 0.7;

.component {

  .processing {
    @include loading-spinner("../../../../assets/images/spinner-light.svg");
  }

  .actions {
    display: flex;
    flex-shrink: 0;
    margin-top: 20px;
  
    button {
      width: 50%;
  
      &:only-child {
        margin: auto;
        width: 100%;
      }
  
      & + button {
        margin-left: 20px;
      }
    }
  }
  
  .headerBlock {
    margin-bottom: 16px;
  }
  
  .middleBlock {
    object-fit: contain;
  }

  :global {
    .Dialog_title {
      margin-bottom: 12px;
    }

    .Dialog_actions {
      margin-top: 24px;
    }
  }
}


:global(.YoroiClassic) {
  .headerBlock {
    width: 725px;

    span {
      font-family: var(--font-light);
      line-height: 1.38;
      font-size: 14px;
      opacity: $opacityCommon;
    }
  }

  .middleBlock {
    background-color: var(--theme-hw-connect-dialog-middle-block-common-background-color);
    border-radius: 4px;  
    width: 725px;
    height: 280px;
    padding: 10px 0 10px 10px;
  }
}

:global(.YoroiModern) {
  .headerBlock {
    font-size: 12px;
    line-height: 18px;
  }

  .middleBlock {
    background-color: var(--theme-trezor-connect-dialog-middle-block-common-background-color);
    border-radius: 8px;
  }
}
