@import './DialogCommonStyle.scss';

.headerSaveBlock {
  margin-bottom: 0px;
}

.headerSaveBlockClassic{
  margin-bottom: 12px;
}

.walletNameInfoWrapper {
  display: flex;
  height: 28px;
}

.walletNameInfoIcon {
  margin-right: 6px;
}

.walletNameInfo {
  padding-top: 2px;
  font-family: var(--font-regular);
  font-size: 12px;
  line-height: 14px;
  opacity: 0.5;
}

.middleSaveLoadBlock {
  padding: 0px;
  text-align: center;
}

.middleSaveStartProcessBlock {
  padding: 0px;
  text-align: center;
}

.middleSaveErrorBlockClassic {
  padding: 0px;
  background-color: var(--theme-hw-connect-dialog-middle-block-common-error-background-color);
  text-align: center;
}