.dialog {
  font-weight: 500;

  :global {
    .Dialog_title {
      margin-bottom: 24px;
    }
  }
}

:global(.YoroiModern), :global(.YoroiRevamp) {
  .dialog {
    min-width: var(--yoroi-comp-dialog-min-width-lg);
    max-width: var(--yoroi-comp-dialog-min-width-lg);
    font-weight: 400;
    
    .walletPassword {
      margin-top: 0;
    }
  }
}
