@import '../../../themes/mixins/loading-spinner';
@import '../../../themes/mixins/error-message';

.dialog {
  font-weight: 500;

  .explanation {
    .line::before {
      content: '●';
      margin-right: 0.4em;
      font-size: 0.8em;
      color: var(--yoroi-palette-gray-400);
    }

    .line {
      display: list-item;
      margin-left: 12px;
      margin-top: 8px;
      line-height: 1.38;
      font-size: 14px;
      color: var(--yoroi-palette-gray-800);
    }

    margin-bottom: 40px;
  }

  .headerBlock {
    .header {
      font-weight: 400;
      color: var(--yoroi-palette-gray-800);
      font-size: 16px;
      line-height: 1.38;
      margin-bottom: 4px;
    }
    .content {
      font-weight: 400;
      color: var(--yoroi-palette-gray-400);
      font-size: 14px;
      line-height: 1.38;
      margin-bottom: 4px;
    }

    margin-bottom: 20px;
  }

  .rewardAmount {
    font-weight: 500;
    color: var(--yoroi-send-confirmation-dialog-send-values-color);
    line-height: 1.38;
    font-size: 16px;
  }

  :global {
    .Dialog_title {
      margin-bottom: 24px;
    }
  }

  .warningBox {
    margin-bottom: 24px;
  }

  .submitButtonSpinning {
    @include loading-spinner('../../../assets/images/spinner-light.svg');
  }

  .walletPassword {
    margin-top: 20px;
  }

  .error {
    @include error-message;
    text-align: center;
  }
}

:global(.YoroiModern),
:global(.YoroiRevamp) {
  .dialog {
    min-width: var(--yoroi-comp-dialog-min-width-lg);
    max-width: var(--yoroi-comp-dialog-min-width-lg);
    font-weight: 400;

    .walletPassword {
      margin-top: 0;
    }
  }
}

:global(.YoroiRevamp) {
  .dialog {
    max-width: 650px;
    padding-top: 25px;
    padding-bottom: 24px;

    h1 {
      margin-bottom: 25px !important;
      line-height: 22px;
    }

    & > div {
      padding: 0px 24px !important;
    }

    & > div:nth-child(3) {
      margin-top: 14px;
    }

    & > button {
      right: 15px;
    }
  }
}
