.component {
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 48px;
  overflow-wrap: break-word;

  .amountSmall {
    font-size: 12px;
    font-weight: 400;
  }
  .amountRegular {
    font-weight: 500;
  }
  .afterDecimal {
    font-size: 12px;
    font-weight: 500;
  }

  .amount {
    font-weight: 400;
    color: var(--th-palette-gray-800);
  }
}

.label {
  color: #242838;
  font-size: 14px;
  margin-bottom: 4px;
  letter-spacing: 0;
  line-height: 22px;
}

.rowData {
  font-size: 14px;
  font-weight: 400;
  color: var(--th-palette-gray-600);
  word-break: break-all;
  line-height: 22px;
}
.hash {
  font-family: 'RobotoMono';
  font-weight: 400;
}
.addressItem {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: minmax(232px, 550px) 150px 1fr;
  align-items: center;
}
* + h2,
* + .row {
  margin-top: 18px;
}

.row {
  margin-bottom: 24px;
}
.details {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  & > * {
    flex: 1 1 48%;
    max-width: 48%;
  }
}

.addressHeader {
  margin-bottom: 8px;
  padding-top: 24px;
  border-top: 1px solid #dce0e9;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: minmax(232px, 550px) 150px 1fr;
}

.addressToList,
.addressFromList {
  padding-bottom: 24px;
}

.wrapperBtn {
  padding-top: 16px;
  display: flex;
  button {
    font-size: 14px;
  }
  button + button {
    margin-left: 22px;
  }
}
