.component {
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 30px;
  padding-bottom: 30px;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  min-width: 450px;
  padding-bottom: 100px;
}

.rowData {
  font-size: 14px;
  font-weight: 400;
  color: var(--yoroi-palette-gray-600);
  word-break: break-all;
  line-height: 22px;
}
.hash {
  font-family: 'RobotoMono';
  font-weight: 400;
}
.addressItem {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 150px 1fr 10px;
  align-items: center;
}
* + h2,
* + .row {
  margin-top: 18px;
}
  
.row {
  margin-bottom: 24px;
}
.details {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  & > * {
    flex: 1 1 48%;
    max-width: 48%;
  }
}
  
.addressHeader {
  margin-bottom: 8px;
  padding-top: 24px;
  border-top: 1px solid #dce0e9;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 150px 1fr 10px;
}
  
.addressHeader:first-child {
  border: none;
}
  
.addressToList,
.addressFromList {
  padding-bottom: 24px;
}

.back {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 50px;
  font-family: Rubik;
  font-size: 24px;
  color: var(--yoroi-palette-gray-800);
  letter-spacing: 0;
  line-height: 32px;
  cursor: pointer;

  & > p {
    margin-left: 5px;
  }
}

@media (min-width: 550px) {
  .addressHeader {
    grid-template-columns: 250px 1fr 10px;
  }

  .addressItem {
    grid-template-columns: 250px 1fr 10px;
  }
}

@media (min-width: 678px) {
  .component {
    max-width: 600px;
    margin: auto;

    .back {
      margin-top: 30px;
    }
  }
}