@import '../../../themes/mixins/loading-spinner.scss';

$opacityCommon: 0.7;

.component {
  overflow: hidden;
}

.processing {
  @include loading-spinner("../../../assets/images/spinner-light.svg");
}

.actions {
  display: flex;
  flex-shrink: 0;
  margin-top: 20px;

  button {
    width: 50%;

    &:only-child {
      margin: auto;
      width: 100%;
    }

    & + button {
      margin-left: 20px;
    }
  }
}

.headerBlock {
  width: 725px;
  height: 5em;
  padding-top: 1em;
  span {
    font-family: var(--font-light);
    line-height: 1.38;
    font-size: 14px;
    opacity: $opacityCommon;
  }
}

.middleBlock {
  overflow: hidden;  
  background-color: var(--theme-trezor-connect-dialog-middle-block-common-background-color);
  object-fit: contain;
  border-radius: 4px;  
  width: 725px;
  height: 280px;
  margin-top: 1em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}