.errorBlock {
  color: var(--theme-input-error-color);
  margin-top: 10px;
  width: 725px;
  height: 18px;
  text-align: center;
  font-family: var(--font-regular);
  font-size: 14px;
  span {
    opacity: 0.7;
  }
}