.linkBlock {
  margin-top: 16px;
  width: 725px;
  height: 18px;
  text-align: center;
  font-family: var(--font-regular);
  font-size: 14px;
  a {
    opacity: 0.7;
    color: var(--font-black);
  }  
}