.headerContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #3f51b5;
  color: white;
  padding: 15%;
  height: 100px;
}

.symbol {
  margin-left: 3%;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  color: white;
}
.body {
  overflow-y: scroll;
  height: 320px;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.loading {
  display: flex;
  justify-content: center;
  padding: 14% 10%;
  margin: 10%;
}
