@import '../../themes/mixins/underline';

.component {
  padding-left: 40px;
  padding-right: 40px;
  max-height: 600px;
  max-width: 600px;

  .description {
    color: var(--yoroi-palette-gray-900);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }
}

.content {
  font-weight: 400;
  font-size: 16px;
  flex-direction: column;
  letter-spacing: 0;
  line-height: 22px;
  max-width: 600px;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  .left {
    .nameAndCurrency {
      color: var(--yoroi-palette-gray-900);
      font-size: 16px;
      letter-spacing: 0;
      line-height: 22px;
    }
    .address {
      color: var(--yoroi-palette-gray-600);
      font-size: 14px;
      letter-spacing: 0;
      line-height: 22px;
    }
  }
}

.verifyIcon {
  cursor: pointer;
  object-fit: contain;
  display: inline-flex;
  margin-left: 5px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: background-color 0.3s;
  & > svg {
    display: block;
    margin: auto;
    height: 20px;
    width: 20px;
    path {
      fill: var(--yoroi-palette-gray-800);
    }
  }
  &:hover {
    background-color: var(--yoroi-palette-gray-50);
  }
}
