@import '../../../../themes/mixins/underline';

.component {
  border-top: 1px solid rgba(173, 174, 182, 0.3);
  padding-top: 24px;
  padding-bottom: 24px;

  .title {
    color: var(--theme-support-settings-text-color);
    font-family: var(--font-semibold);
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 12px;
  }

  p,
  button {
    color: var(--theme-support-settings-text-color);
    font-size: 14px;
    line-height: 22px;
  }

  p button {
    color: var(--theme-support-settings-link-color);
    @include underline(var(--theme-support-settings-link-color));
    line-height: initial;
  }

  .submitButton {
    font-family: var(--font-medium);
    width: 287px !important;
    margin-top: 20px;
  }

  p {
    margin-bottom: 2px;
    font-family: var(--font-regular);
  }
}
