@import '../../../themes/mixins/loading-spinner';
@import '../../../themes/mixins/error-message';

.component {
  max-width: 650px;
  margin: 0 auto;
  margin-top: 24px;

  .header {
    color: var(--yoroi-palette-gray-600);
    text-align: center;
    margin-bottom: 50px;
    font-size: 1.125rem;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.375rem;
  }
  .description {
    color: var(--yoroi-palette-gray-600);
    font-size: 1rem;
    line-height: 1.375rem;
    text-align: center;
  }
  .selected {
    font-size: 1rem;
    text-align: center;
    margin: 1rem 0;

    span {
      color: var(--yoroi-comp-button-secondary-text);
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  .cardsWrapper {
    margin: 30px auto;
    display: flex;
    & > div {
      flex: 1;
    }
  }
  .card {
    margin-right: 30px;
    border-radius: 8px;
    background-color: var(--yoroi-palette-common-white);
    border: 1px solid #DCE0E9;
    overflow: hidden;
    &:last-child {
      margin-right: 0;
    }
    .cardImage {
      background-color: var(--yoroi-palette-gray-100);
      height: 184px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .simple {
      background: #f1fdfa;
    }
    .advanced {
      background: #f3f5fd;
    }
    .cardContent {
      padding: 24px;
      color: var(--yoroi-palette-gray-900);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 300px;
      h3 {
        font-size: 1.5rem;
        letter-spacing: 0;
        line-height: 1.875rem;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 16px;
      }
      p {
        font-size: 0.75rem;
        letter-spacing: 0;
        line-height: 1.25rem;
      }
    }

    .error {
      @include error-message;
      text-align: center;
      margin-bottom: 1rem;
    }
  }
}
