# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2

aliases:
  - &attach_workspace
      attach_workspace:
        at: ~/repo

jobs:
  build-setup:
    working_directory: ~/repo
    docker:
      - image: circleci/node:8-browsers

    steps:
      - checkout

      # install rustup
      - run: curl https://sh.rustup.rs -sSf | sh -s -- -y
      - run: echo 'export PATH=$HOME/.cargo/bin/:$PATH' >> $BASH_ENV
      # use 1.32.0 version. 
      # // TODO: This is hardcoded but taken from js-cardano-wasm repo
      # which is checked out later
      - run: rustup install 1.32.0
      - run: rustup target add wasm32-unknown-unknown --toolchain 1.32.0

      # Because npm link will write in this path
      - run: sudo chown -R "$(whoami):$(whoami)" /usr/local/lib/node_modules
      - run: npm ci
      
      # code quality checks
      - run: npm run flow
      - run: npm run eslint

      # run jest tests
      - run: npm run jest

      # create extensions to be consumed by browsers
      - run: npm run test-prepare

      # persist results to then use them in tests
      - persist_to_workspace:
          root: ~/repo
          paths: .

  test-brave:
    working_directory: ~/repo
    docker:
      - image: emurgornd/circleci-node-8-browsers:brave

    steps:
      - checkout
      - *attach_workspace
      - run: npm run test-e2e-brave

  test-chrome:
    working_directory: ~/repo
    docker:
      - image: circleci/node:8-browsers

    steps:
      - checkout
      - *attach_workspace
      - run: npm run test-e2e-chrome

  test-firefox:
    working_directory: ~/repo
    docker:
      # unsiggned addons are only supported in Firefox-dev, Firefox nightly and Firefox-esr
      # CircleCI comes w/ Firefox but we need to replace it w/ Firefox-esr,
      # so we use a custom image derivated from circleci's one:
      - image: emurgornd/circleci-node-8-browsers:firefox-dev

    steps:
      - checkout
      - *attach_workspace

      - run: npm run test-e2e-firefox

  deploy-testnet:
    working_directory: ~/repo
    docker:
      - image: circleci/node:8-browsers

    steps:
      - *attach_workspace

      - run: npm run build -- --env "staging"
      - run: npm run compress -- --env "staging" --zip-only --app-id $APP_ID --codebase "https://www.sample.com/dw/yoroi-extension.crx"
      - run: sudo npm install -g chrome-webstore-upload-cli
      - run: cd ~/build/repo/ && webstore upload --source yoroi.zip --extension-id="${APP_ID}" --client-id="${CLIENT_ID}" --client-secret="${CLIENT_SECRET}" --refresh-token="${REFRESH_TOKEN}" --auto-publish --trusted-testers

workflows:
  version: 2
  build-deploy:
    jobs:
      - build-setup
      - test-brave:
          filters:
            branches:
              only:
                - master
          requires:
            - build-setup
      - test-chrome:
          filters:
            branches:
              ignore:
                - l10n_develop
          requires:
            - build-setup
      - test-firefox:
          filters:
            branches:
              ignore:
                - l10n_develop
          requires:
            - build-setup
      - deploy-testnet:
          requires:
            - test-chrome
            - test-firefox
          filters:
            branches:
              only: staging
