@import '../../../themes/mixins/underline';

.tabsHeader {
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.tabsLink {
  padding: 5px 0;
  position: relative;
  cursor: pointer;
  margin: 0 20px;
  font-size: var(--tab-link-text-size);
  font-weight: 400;
  line-height: var(--tab-link-line-height);

  &.active {
    color: var(--th-palette-secondary-300);
    font-weight: 500;
  }

  &:hover {
    color: var(--th-palette-secondary-300);
  }

  &:disabled {
    color: var(--th-palette-gray-300);
  }

  &.active::after {
    background-color: var(--tab-link-border-color);
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 2px;
  }
}

// OPTION BLOCK LIST
.optionBlockList {
  padding: 10px 0 0 0;
  max-width: 480px;
  min-width: 100%;
  // the size of 3 options
  // use this to make sure the size of the options dialog doesn't change
  // even if more options are present in a different tab
  max-height: 514px;
}
