$height: 128px;

.component {
  height: $height;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;

  .center {
    height: inherit;
    max-width: 1295px;
    margin: 0 auto;
    padding-right: 40px;
    padding-left: 40px;

    .background {
      height: inherit;
      background-color: var(--yoroi-palette-secondary-300);
      opacity: 0.06;
      border-radius: 8px;
    }

    .content {
      position: relative;
      top: calc(-#{$height} + 25px);
      height: calc(#{$height} - 25px);
      overflow: auto;
      margin-left: 30px;
      margin-right: 30px;
      display: flex;
      justify-content: space-between;
    }
    .title {
      color: var(--yoroi-palette-secondary-300);
      font-weight: 500;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 19px;
      margin-bottom: 16px;
    }
    .explanation {
      color: var(--yoroi-palette-gray-900);
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 0;
      line-height: 22px;
    }
    .action {
      margin-left: 10px;
      margin-top: 13px;
    }
  }
}
