.component {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--th-palette-background-banner-warning);
  .warningIcon {
    margin-right: 9px;
  }
  .text {
    margin: 20px 0px;
    text-transform: uppercase;
    color: var(--th-palette-common-white);
    font-size: 13px;
    font-weight: bold;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 20px;
    .preTime {
      width: 200px;
      display: inline-block;
    }
  }
}
