.notProdWarning {
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  .warningIcon {
    margin-right: 9px;
  }
  .text {
    text-transform: uppercase;
    height: 20px;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 20px;
  }
}
