.component {
    background-color: #FFFFFF;
    border-bottom: 1px solid #DCE0E9;

    .header {
        color: #38393D;
        font-family: Rubik;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 28px;
        padding: 20px 24px;
    }
}