.component {
    padding: 20px 40px;

    .themes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 400px;
        gap: 10px;
        margin-bottom: 20px;
        button {
            font-size: 16px;
            font-weight: 400;
            color: #333438;
            padding: 10px 16px;
            border-radius: 10px;
            background-color: #F0F3F5;
        }
        .active {
            background-color: #59B1F4;
            color: #fff;
        }
    }

    .row {
        max-width: 1000px;
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        margin-bottom: 10px;

        .colorBox {
            margin-right: 20px;
            width: 124px;
            height: 40px;
            box-shadow: 3px 6px 8px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }
        
        .colorName {
            font-weight: 500;
            font-size: 16px;
        }
    }

    .multiLayer {

        h1 {
            font-size: 32px;
            line-height: 32px;
            margin: 40px 0px;
        }
        .multiLayerRows {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            .multiLayerRow {
                background-color: var(--yoroi-palette-gray-50);
                margin-bottom: 20px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                padding: 20px 40px;
                border-radius: 9px;

                .flexWithMargin {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    font-family: Courier, monospace;
                    font-weight: 500;
                    color: var(--yoroi-palette-gray-900);
                    p {
                        margin-left: 10px;
                    }
                }

                .arrowDown {
                    margin-bottom: 10px;
                    margin-top: 10px;
                    display: inline-block;
                    width: 100%;
                    padding-left: 30px;
                    
                    svg {
                        width: 35px;
                        height: 35px;
                    }
                }
            }
        }
    }

    .nameToHexHeader {
        font-size: 32px;
        line-height: 32px;
        margin: 20px 0px;
    }
}
