doctype html

html
  head
    meta(charset='UTF-8')
    title Icarus light Cardano wallet - PoC
    style.
      body { width: 500px; }

  body
    #root
    script(src='./js/vendor.js')
    script(src=env != 'development' ? '/js/icaruspoc.bundle.js' : 'http://localhost:3000/js/icaruspoc.bundle.js')