.root {
  position: relative;
}

.feesOld {
  position: absolute;
  bottom: 46px;
  right: 10px;
  color: var(--theme-input-right-floating-text-color);
  font-family: var(--font-regular);
  font-size: 11px;
}

.totalOld {
  position: absolute;
  bottom: 12px;
  right: 10px;
  color: var(--theme-input-right-floating-text-color);
  font-family: var(--font-light);
  font-size: 15px;
  text-transform: uppercase;
}

.fees {
  position: absolute;
  bottom: 80px;
  right: 10px;
  color: var(--theme-input-right-floating-text-color);
  font-family: var(--font-regular);
  font-size: 11px;
}

.total {
  position: absolute;
  bottom: 40px;
  right: 10px;
  color: var(--theme-input-right-floating-text-color);
  font-family: var(--font-light);
  font-size: 15px;
  text-transform: uppercase;
}
