.hash {
  word-break: break-all;
  font-family: 'RobotoMono';
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
}

.lightColor {
  color: var(--th-widgets-hash-light);
}

.darkColor {
  color: var(--th-widgets-hash-dark);
}
