.component {
    min-height: 600px;
    width: 100%;
    height: 100%;
    .tokensList {
        .tokenRow {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

.dialog {
    min-width: 670px;
}
  