.component {
    width: 65%;
    padding-top: 15px;
    .addressToLabel {
        font-size: 16px;
        letter-spacing: 0;
        color: #6B7384;
        margin-bottom: 4px;
    }

    .amountWrapper {
        padding: 12px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: Rubik;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 24px;

        .amountLabel {
            color: #6B7384;
        }

        .amountValue {
            color: #242838;
        }
    }
    
    .feesWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: Rubik;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 24px;

        .feesLabel {
            color: #6B7384;
        }

        .feesValue {
            color: #242838;
        }
    }
    
}