@import '../../themes/mixins/loading-spinner';

.component {
  padding: 20px;
}

.button {
  display: block !important;
  margin: 20px auto 0;
}

.body {
  color: var(--theme-bordered-box-text-color);
  font-family: var(--font-regular);
  font-size: 14px;
  line-height: 19px;

  .title {
    font-size: 11px;
    font-family: var(--font-medium);
    font-weight: 600;
    line-height: 1.38;
    margin-bottom: 4px;
    padding-left: 10px;
    text-transform: uppercase;
  }

  .text {
    font-size: 15px;
    line-height: 1.38;
    margin-bottom: 2px;
    word-break: break-word;
  }

  .instructionsList {
    list-style-type: disc;
    list-style-position: inside;
    margin-bottom: 20px;
  }

  .buttonsWrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .submitWithPasswordButton {
    &.spinning {
      @include loading-spinner("../../assets/images/spinner-light.svg");
    }
  }
}

