.list {
  height: 480px;
  padding-top: 32px;
  .listItem {
    padding: 15px 32px;
    & svg {
      margin-right: 12px;
    }
    & a {
      display: flex;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
    }
  }
  .label {
    font-size: 16px;
    color: #242838;
  }
}
