@import '../../mixins/card-mixin.scss';

.heroCardsList {
  display: flex;
}

.heroCardsItem {
  @include card-mixin;

  .heroCardsItemBg {
    flex: 1 0 auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.heroCardsItemBg {
  &.bgByronMainnet {
    background-image: url(../../../assets/images/claim/byron-mainnet.inline.svg);
  }
  &.bgShelleyTestnet {
    background-image: url(../../../assets/images/claim/shelley-testnet.inline.svg);
  }
  &.bgShelleyMainnet {
    background-image: url(../../../assets/images/claim/shelley-mainnet.inline.svg);
  }
}

.tooltipSize {
  width: 500px;
  overflow-wrap: break-word;
  white-space: normal;
}

