.component {
  overflow: overlay;
  height: 100%;
  display: flex;

  .buttonsContainerClassic {
    padding-top: 18%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;

    button {
      & + button {
        margin-top: 20px;
      }
    }
  }

  .buttonsContainer {
    padding-top: 116px;
    padding-left: 9%;
    display: flex;
    flex: 1;
    flex-direction: column;
    z-index: 1;
    
    :global {
      .SimpleButton_root {
        &.outlined:not([disabled]) {
          color: var(--theme-wallet-add-color);
          border: 2px solid var(--theme-wallet-add-color);
          &:active {
            background-color: var(--theme-wallet-add-translucent-color);
          }
        }
      }
    }
    
    button {
      & + button {
        margin-top: 20px;
      }
    }
  }
}

.background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 115px;
  background-image: url(../../assets/images/add-wallet-bg.svg);
  background-size: cover;
  background-position-y: bottom;
}

.title {
  font-family: var(--font-bold);
  font-size: 65px;
  line-height: 1.23;
  color: var(--theme-wallet-add-color);
  margin-bottom: 32px;
}

.walletImage {
  position: absolute;
  background-image: url(../../assets/images/add-wallet-picture.svg);
  background-repeat: no-repeat;
  background-position-x: right;

  left: 0;
  right: 0;
  bottom: 0;
  top: 0px;

  span {
    height: 100%;
  }

  svg {
    height: calc(100% - 3px);
  }
}

@media screen and (min-width: 1280px) {
  .walletImage {
    background-position-x: 70%;
  }
}

.notification {
  color: var(--theme-transactions-list-group-date-color);
  font-family: var(--font-regular);
  font-size: 16px;
  line-height: 1.38;
  margin-top: 10px;
  opacity: 0.6;
  text-align: center;
}

.footer {
  height: 58px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  z-index: 2;
}

.link {
  display: flex;
  height: 58px;
  align-items: center;
  text-decoration: none;
  color: var(--theme-wallet-add-footer-text-color);
  font-family: var(--theme-footer-text-font);
  font-size: 14px;

  span:last-child {
    margin-left: 10px;
  }

  svg {
    height: 18px;
    width: 18px;
  }
}

.footerIcon {
  width: 18px;
  height: 18px;
  background-size: contain;
}

.buyIcon {
  background-image: url(../../assets/images/footer/buy-trezor.inline.svg);
}

.connectIcon {
  background-image: url(../../assets/images/footer/how-to-connect-trezor.inline.svg);
}

.createIcon {
  background-image: url(../../assets/images/footer/how-to-create-wallet.inline.svg);
}

.restoreIcon {
  background-image: url(../../assets/images/footer/how-to-restore-wallet.inline.svg);

}

// new styles

.hero {
  overflow: overlay;
  height: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 20px 15px;
  display: flex;
  align-items: center;

  @media screen and (max-width: 1300px) {
    max-width: 992px;
  }
}

.heroInner {
  display: flex;
  position: relative;
  z-index: 1;
  justify-content: space-between;
  width: 100%;

  @media screen and (max-width: 1300px) {
    flex-direction: column;
    padding: 300px 15px 0;
  }
}

.heroLogo {
  margin-bottom: 48px;
  width: 156px;
  height: 50px;
  display: block;
}

.title {
  font-family: var(--font-bold);
  font-size: 54px;
  line-height: 62px;
  color: var(--theme-wallet-add-color);
  margin-bottom: 15px;
  margin-right: 42px;
  width: 432px;
}

.subTitle {
  font-family: var(--font-regular);
  font-size: 22px;
  line-height: 27px;
  color: #fff;

  @media screen and (max-width: 1300px) {
    margin-bottom: 30px;
  }
}

.cardList {
  display: flex;
}

.itemCard {
  font-family: var(--font-regular);
  padding: 32px 28px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 8px;
  box-shadow: 0 5px 20px 0px rgba(24,26,30, .08);
  margin-bottom: 15px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 5px 30px 0px rgba(24,26,30, .12);
  }

  .itemCardTitle {
    letter-spacing: -0.03em;
  }

  .itemCardBg {
    flex: 1 0 auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.notification {
  color: var(--theme-transactions-list-group-date-color);
  font-family: var(--font-regular);
  font-size: 16px;
  line-height: 1.38;
  margin-top: 10px;
  opacity: 0.6;
  text-align: center;
}

:global(.YoroiModern) {
  .itemCard {
    width: var(--card-width);
    height: var(--card-height);
    border-radius: var(--card-border-radius);
    background-color: var(--card-bg-color);
    color: var(--card-text-color);
    font-size: var(--card-text-size);
  }

  .itemLink {
    width: calc(var(--card-width) *2 + 15px);
    flex: auto;
    height: auto;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    padding: 24px 32px;

    .itemLinkIcon {
      margin-right: 30px;
    }
  }

  .itemCardBg {
    &.create {
      background-image: url(../../assets/images/wallets/create.wallet.inline.svg);
    }
    &.restore {
      background-image: url(../../assets/images/wallets/restore.wallet.inline.svg);
    }
    &.connect {
      background-image: url(../../assets/images/wallets/hardware.wallet.inline.svg);
    }
  }

  .heroBg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(../../assets/images/add-wallet-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -210px;

    @media screen and (max-width: 1600px) {
      background-position: 0 -100px;
    }

    @media screen and (max-width: 1400px) {
      background-position: 0;
    }
  }
}

:global(.YoroiClassic) {
  .itemCard {
    width: var(--card-width);
    flex: 1 0 var(--card-width);
    height: var(--card-height);
    border-radius: var(--card-border-radius);
    background-color: var(--card-bg-color);
    color: var(--card-text-color);
    font-size: var(--card-text-size);
  }
}

.settingsBar {
  position: absolute;
  right: 28px;
  top: 12px;
  z-index: 99;
  display: flex;
  align-items: center;
}

.settingsBarLink {
  display: block;

  + .settingsBarLink {
    margin-left: 50px;
  }
}