@import '../../themes/mixins/loading-spinner';
@import '../../themes/mixins/error-message';
@import '../../themes/mixins/place-form-field-error-below-input';

.component {
  .walletPassword {
    .walletPasswordFields {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: all 400ms ease;

      &.show {
        max-height: 250px;
        opacity: 1;
        overflow: visible;
      }

      & > div {
        margin-top: 30px;
        width: 350px;
      }

      @include place-form-field-error-below-input;
    }
  }

  .error {
    @include error-message;
    margin-top: 30px;
    text-align: center;
  }

  .isSubmitting {
    @include loading-spinner("../../assets/images/spinner-light.svg");
  }
}

:global(.YoroiClassic) {
  .component {
    .walletName {
      margin-bottom: 10px;
    }

    .walletPassword {
      .walletPasswordFields {
        &.show {
          max-height: 250px;
          opacity: 1;
          overflow: visible;
        }
    
        & > div {
          margin-top: 0;
          width: 350px;
        }

        // Seems like this is the same class name as parent, but it's different.
        // This class will apply to the child Input tag.
        // Unfortunately for fixing this problem we also need to carefully fix basic E2E cases, as its used there.
        :global .walletPassword {
          margin-right: 25px;
        }
    
        @include place-form-field-error-below-input;
      }
    
      .paperPassword {
        margin-top: 0;
      }
    }
  }
}

:global(.YoroiModern) {
  .component {
    .walletName {
      margin-bottom: 0;
    }

    .walletPassword {
      .walletPasswordFields {
    
        &.show {
          max-height: 600px;
          opacity: 1;
        }
    
        & > div {
          margin-top: 0;
          width: 100%;
        }

        & > div:last-child {
          padding-bottom: 0;
        }
      }

      .paperPassword {
        div:first-of-type {
          padding-bottom: 0!important;
        }
      }
    }
  }
}