
.component {
  margin-top: 20%;
  
  .buttonsContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    
    button {
      & + button {
        margin-top: 20px;
      }
    }

  }
}

.notification {
  color: var(--theme-transactions-list-group-date-color);
  font-family: var(--font-regular);
  font-size: 16px;
  line-height: 1.38;
  margin-top: 10px;
  opacity: 0.6;
  text-align: center;
}
