@import '../../themes/mixins/loading-spinner';
@import '../../themes/mixins/error-message';

.component {
  flex: 1;
  overflow-x: hidden;
  overflow-y: overlay;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

  &::-webkit-scrollbar-button {
    height: 7px;
    display: block;
  }

  .qrCodeAndInstructions {
    border-bottom: 1px solid var(--theme-separation-border-color);
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    padding-bottom: 30px;
    position: relative;

    .qrCode {
      align-items: flex-start;
      display: flex;
      margin-left: 150px;

      canvas {
        border: 4px solid var(--theme-receive-qr-code-background-color);
        box-sizing: content-box;
      }
    }

    .instructions {
      color: var(--theme-bordered-box-text-color);
      display: flex;
      flex-direction: column;
      font-family: var(--font-regular);
      font-size: 14px;
      justify-content: space-between;
      line-height: 19px;
      letter-spacing: 0;

      .postCopyMargin {
        margin-bottom: 16px;
      }

      .copyableHash {
        letter-spacing: 0px;
        font-size: 17px;
      }

      .hashLabel {
        font-size: 18px;
        font-family: var(--font-medium);
        line-height: 22px;
        margin-bottom: 16px;
      }

      .instructionsText {
        font-size: 15px;
        letter-spacing: 0.5px;
        line-height: 22px;
        margin-bottom: 40px;
        word-break: break-word;
      }

      .submitWithPasswordButton {
        max-width: 310px;
        width: calc(50% - 10px);
        &.spinning {
          @include loading-spinner("../../assets/images/spinner-light.svg");
        }
      }

      .error {
        @include error-message;
        text-align: left;
        margin-top: 5px;
      }
    }
  }

  .generatedAddresses {
    color: var(--theme-bordered-box-text-color);
    font-family: var(--font-regular);
    font-size: 15px;
    line-height: 22px;

    h2 {
      font-size: 18px;
      font-family: var(--font-medium);
      margin-bottom: 10px;
      line-height: 22px;

      button {
        color: var(--theme-label-button-color);
        cursor: pointer;
        float: right;
        font-family: var(--font-medium);
        font-size: 16px;
        margin-left: 12px;
        text-transform: uppercase;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .walletAddress {
      box-sizing: border-box;
      display: flex;
      padding: 8.5px 0;
      word-break: break-all;

      & + .walletAddress {
        border-top: 1px solid var(--theme-separation-border-color);
      }

      .addressMargin {
        margin-right: 32.5px;
        flex-grow: 1;
      }

      .addressActions {
        display: inline-flex;
        align-items: flex-start;

        .addressActionItemBlock {
          cursor: pointer;
          letter-spacing: 0.5px;
          margin-left: 24px;
          line-height: 20px;
          vertical-align: top;
          white-space: nowrap;

          * {
            vertical-align: middle;
          }

          span {
            color: var(--theme-label-button-color);
            font-family: var(--font-regular);
            font-size: 14px;
            margin-left: 6px;
          }

          .verifyIcon,
          .copyIcon, .generateURIIcon {
            cursor: pointer;
            display: inline-flex;
            object-fit: contain;
            margin-left: 4px;
            & > svg {
              height: 20px;
              width: 20px;
              path {
                fill: var(--theme-icon-copy-address-color);
              }
            }
          }

          .btnGenerateURI {
            cursor: pointer;
          }
        }

        .verifyActionBlock, .generateURLActionBlock {
          button {
            cursor: pointer;
          }
        }

        .generateURLActionBlock {
          margin-left: unset;
        }
      }
    }
  }
}

:global(.YoroiClassic) .component {
  :global {
    .BorderedBox_component {
      padding-bottom: 6px;
    }
  }
}

:global(.YoroiModern) .component {
  padding: 30px;

  .qrCodeAndInstructions {
    .instructions {
      .copyableHash {
        font-size: 14px;
        line-height: 1.57;
      }

      .instructionsText {
        font-size: 14px;
        letter-spacing: 0;
        line-height: 1.57;
      }
    }
  }

  .generatedAddresses {
    font-size: 14px;

    .walletAddress {
      padding: 12px 0;

      & + .walletAddress {
        border-top: 1px solid var(--theme-separation-border-color);
      }

      .addressMargin {
        margin-right: 32.5px;
      }

    }
  }
}
