@import '../../themes/mixins/loading-spinner';
@import '../../themes/mixins/error-message';

.component {
  padding: 20px;
}

.amountInput,
.receiverInput {
  position: relative;
  margin-bottom: 20px;
}

.adaLabel {
  bottom: 16px;
  color: var(--theme-input-right-floating-text-color);
  font-family: var(--font-light);
  position: absolute;
  right: 20px;
  text-transform: uppercase;
}

.nextButton {
  display: block !important;
  margin: 30px auto 0;
}

.contentWarning{
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 1em;
}

.icon {
  flex-shrink: 0;
  & > svg {
    width: 26px;
    height: 26px;
  }
  margin: 1em 0;
}

.warning {
  font-family: var(--font-light);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0.5em;
  color: #daa49a;
}