// WALLET TYPE

.walletTypeListItem {
  box-shadow: 0 5px 20px 0px rgba(24,26,30, .08);
  border-radius: 6px;

  + .walletTypeListItem {
    margin-top: 24px;
  }
}

.walletType {
  font-family: var(--font-regular);
  letter-spacing: 0;
  max-width: 480px;

  .walletTypeTop {
    font-family: var(--font-regular);
    display: flex;
    align-items: center;
    padding: 11px 30px;
  }
  
  .walletTypeImg {
    width: 70px;
    flex: 0 0 70px;
    height: 100px;
    margin-right: 25px;
    background-size: contain;
    background-position: center 10px;
    background-repeat: no-repeat;
  }

  .walletTypeTitle {
    font-size: 18px;
    line-height: 22px;
    color: #2B2C32;
    text-align: left;
    font-family: var(--font-regular);
    font-weight: var(--font-semibold);
    cursor: pointer;
  }

  .walletTypeDesc {
    font-size: 14px;
    line-height: 22px;
    padding: 0 40px 20px;
  }
}

// LEARN MORE

.walletTypeMore {
  overflow: hidden;
  max-height: 0;
  transition: max-height 300ms linear;
  will-change: height;

  &.showMore {
    max-height: 300px;
    transition: max-height 300ms linear;
  }
}

.moreBtn {
  color: #ADAEB6;
  background-color: #F5F7F9;
  display: block;
  font-size: 14px;
  text-align: center;
  width: 100%;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  border-radius: 0 0 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-regular);

  &:hover {
    box-shadow: 0 5px 10px 0 rgba(24,26,30, .08);
  }

  svg {
    transition: 300ms;
  }

  &.arrowUp {
    svg {
      transform: rotate(180deg);
    }
  }
}

.moreBtnIcon {
  margin-left: 5px;
  margin-top: 3px;
  line-height: normal;
}

:global(.YoroiModern) {

  .walletTypeImg {

    &.mnemonic {
      background-image: url(../../assets/images/wallets/modern/mnemonic_wallet.svg);
    }
  
    &.master {
      background-image: url(../../assets/images/wallets/modern/master_key.svg);
    }
  
    &.paper {
      background-image: url(../../assets/images/wallets/modern/paper.wallet.inline.svg);
    }
  
    &.business {
      background-image: url(../../assets/images/wallets/modern/business_wallet.svg);
    }

    &.trezor {
      background-image: url(../../assets/images/wallets/modern/trezor.inline.svg);
    }

    &.ledger {
      background-image: url(../../assets/images/wallets/modern/ledger.inline.svg);
    }
  }

  .walletTypeTitle {
    &:hover {
      color: var(--theme-default-color-blue);
    }
  }
}


:global(.YoroiClassic) {

  .walletTypeImg {

    &.mnemonic {
      background-image: url(../../assets/images/wallets/classic/mnemonimic_words_wallet.inline.svg);
    }
  
    &.master {
      background-image: url(../../assets/images/wallets/classic/master_key.inline.svg);
    }
  
    &.paper {
      background-image: url(../../assets/images/wallets/classic/paper_wallet.inline.svg);
    }
  
    &.business {
      background-image: url(../../assets/images/wallets/classic/business_wallet.inline.svg);
    }

    &.trezor {
      background-image: url(../../assets/images/wallets/classic/trezor_wallet.inline.svg);
    }

    &.ledger {
      background-image: url(../../assets/images/wallets/classic/ledger_wallet.inline.svg);
    }
  }

  .walletTypeTitle {
    &:hover {
      color: var(--theme-default-main-color);
    }
  }
}