@import '../../themes/mixins/loading-spinner';
@import '../../themes/mixins/error-message';

.dialog {
  font-family: var(--font-light);

  li::before {
    content: "●";
    font-size:0.8em;
    color: var(--theme-bullet-point-color);
  }
  li {
    display: list-item;
  
    span {
      font-size: 13px;
      margin-left:0.2em;
    }
  }
}

.smallTopMargin {
  margin-top: 7px;
}

.addressLabel {
  font-family: var(--font-regular);
  margin-bottom: 10px;
}

.postCopyMargin {
  margin-bottom: 6px;
}

.plateRowDiv {
  display: table;
}

.plateIdSpan {
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
  font-size: 35px;
  font-weight: 600;
  opacity: 0.7;
}

.error {
  @include error-message;
  margin-top: 30px;
  text-align: center;
}

:global(.YoroiModern) .dialog {
  // Refer: https://github.com/Emurgo/yoroi-frontend/pull/1052
  min-width: 680px;
  max-width: 680px; 
}
