@import '../../themes/mixins/loading-spinner';
@import '../../themes/mixins/place-form-field-error-below-input';

.component {
  .walletPassword {
    .walletPasswordFields {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: all 400ms ease;
  
      &.show {
        max-height: 250px;
        opacity: 1;
      }
  
      & > div {
        width: 350px;
      }
    }
  }

  .isSubmitting {
    @include loading-spinner("../../assets/images/spinner-light.svg");
  }
}

:global(.YoroiClassic) .component {
  .walletPassword {
    .walletPasswordFields {
      &.show {
        overflow: visible;
      }
  
      & > div {
        margin-top: 0;
      }

      :global .walletPassword {
        margin-right: 25px;
      }
  
      @include place-form-field-error-below-input;
    }
  }  
}

:global(.YoroiModern) .component {
  .walletPassword {
    .walletPasswordFields {
      &.show {
        max-height: 600px;
      }

      & > div {
        width: 100%;
      }

      & > div:last-child {
        padding-bottom: 0;
      }
    }
  }
}