@import '../../themes/mixins/loading-spinner';
@import '../../themes/mixins/error-message';

.component {
  flex: 1;
  overflow-x: hidden;
  overflow-y: overlay;
  padding: 20px;
  &::-webkit-scrollbar-button {
    height: 7px;
    display: block;
  }

  :global {
    .BorderedBox_component {
      padding-bottom: 6px;
    }
  }
}

.copyIconBig,
.copyIcon {
  cursor: pointer;
  object-fit: contain;
}

.copyIconBig {
  margin-left: 6px;
  & > svg {
    height: 14.5px;
    width: 11.5px;
    path {
      fill: var(--theme-icon-copy-address-color);
    }
  }
}

.copyIcon {
  margin-left: 4px;
  & > svg {
    height: 12px;
    width: 10px;
    path {
      fill: var(--theme-icon-copy-address-color);
    }
  }
}

.qrCodeAndInstructions {
  border-bottom: 1px solid var(--theme-separation-border-color);
  display: flex;
  flex-direction: row;
  margin: 0 0 18px;
  padding-bottom: 26px;
  position: relative;

  .qrCode {
    align-items: flex-start;
    display: flex;
    margin-left: 20px;

    canvas {
      border: 4px solid var(--theme-receive-qr-code-background-color);
      box-sizing: content-box;
    }
  }

  .instructions {
    color: var(--theme-bordered-box-text-color);
    display: flex;
    flex-direction: column;
    font-family: var(--font-regular);
    font-size: 14px;
    justify-content: space-between;
    line-height: 19px;

    .hash {
      font-size: 17px;
      font-family: var(--font-medium);
      line-height: 23px;
      margin-bottom: 6px;
      word-break: break-all;
    }

    .usedHash {
      opacity: 0.4;
    }

    .hashLabel {
      font-size: 11px;
      font-weight: 600;
      margin-bottom: 6px;
      opacity: 0.5;
      text-transform: uppercase;
    }

    .instructionsText {
      font-size: 15px;
      letter-spacing: 0.5px;
      line-height: 22px;
      margin-bottom: 12px;
      word-break: break-word;
    }

    .submitWithPasswordButton {
      max-width: 310px;
      width: calc(50% - 10px);
      &.spinning {
        @include loading-spinner("../../assets/images/spinner-light.svg");
      }
    }

    .error {
      text-align: left;
    }
  }
}

.generatedAddresses {
  color: var(--theme-bordered-box-text-color);
  font-family: var(--font-regular);
  font-size: 15px;
  line-height: 22px;

  h2 {
    font-family: var(--font-medium);
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;

    button {
      color: var(--theme-label-button-color);
      cursor: pointer;
      float: right;
      font-family: var(--font-regular);
      font-size: 14px;
      line-height: 22px;
      margin-left: 12px;
      opacity: 0.55;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .walletAddress {
    box-sizing: border-box;
    display: flex;
    padding: 8.5px 0;
    word-break: break-all;

    & + .walletAddress {
      border-top: 1px solid var(--theme-separation-border-color);
    }

    .addressId {
      flex-grow: 1;
      margin-right: 32.5px;
    }

    .addressActions {
      .copyAddress {
        cursor: pointer;
        display: inline-block;
        letter-spacing: 0.5px;
        line-height: 20px;
        vertical-align: top;
        white-space: nowrap;

        * {
          vertical-align: middle;
        }

        span {
          color: var(--theme-label-button-color);
          font-size: 14px;
          margin-left: 6px;
          opacity: 0.65;
        }
      }
    }
  }

  .usedWalletAddress {
    .addressId,
    .addressActions .copyAddress img {
      opacity: 0.4;
    }

    .addressActions .copyAddress span {
      opacity: 0.2;
    }
  }
}

.error {
  @include error-message;
  margin-bottom: 1rem;
  text-align: center;
}
