.component {
  height: 100%;
  display: flex;

  .buttonsContainerOld {
    padding-top: 20%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;

    button {
      & + button {
        margin-top: 20px;
      }
    }
  }

  .buttonsContainer {
    padding-top: 116px;
    padding-left: 9%;
    display: flex;
    flex: 1;
    flex-direction: column;
    z-index: 1;
    
    :global {
      .SimpleButton_root {
        &.outlined:not([disabled]) {
          color: var(--theme-wallet-add-color);
          border: 2px solid var(--theme-wallet-add-color);
          &:active {
            background-color: var(--theme-wallet-add-translucent-color);
          }
        }
      }
    }
    
    button {
      & + button {
        margin-top: 20px;
      }
    }
  }
}

.background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 115px;
  background-image: url(../../assets/images/add-wallet-bg.svg);
  background-size: cover;
  background-position-y: bottom;
}

.title {
  font-family: var(--font-bold);
  font-size: 65px;
  line-height: 1.23;
  color: var(--theme-wallet-add-color);
  margin-bottom: 32px;
}

.walletImage {
  position: absolute;
  background-image: url(../../assets/images/add-wallet-picture.svg);
  background-repeat: no-repeat;
  background-position-x: right;

  left: 0;
  right: 0;
  bottom: 0;
  top: 0px;

  span {
    height: 100%;
  }

  svg {
    height: calc(100% - 3px);
  }
}

@media screen and (min-width: 1280px) {
  .walletImage {
    background-position-x: 70%;
  }
}

.notification {
  color: var(--theme-transactions-list-group-date-color);
  font-family: var(--font-regular);
  font-size: 16px;
  line-height: 1.38;
  margin-top: 10px;
  opacity: 0.6;
  text-align: center;
}

.footer {
  height: 58px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  z-index: 2;
}

.link {
  display: flex;
  height: 58px;
  align-items: center;
  text-decoration: none;
  color: var(--theme-wallet-add-footer-text-color);
  font-family: var(--theme-footer-text-font);
  font-size: 14px;

  span:last-child {
    margin-left: 10px;
  }

  svg {
    height: 18px;
    width: 18px;
  }
}

.footerIcon {
  width: 18px;
  height: 18px;
  background-image: url('../../assets/images/footer/how-to-create-wallet.inline.svg');
  background-size: contain;
}

.buyIcon {
  background-image: url(../../assets/images/footer/buy-trezor.inline.svg);
}

.connectIcon {
  background-image: url(../../assets/images/footer/how-to-connect-trezor.inline.svg);
}

.createIcon {
  background-image: url(../../assets/images/footer/how-to-create-wallet.inline.svg);
}

.restoreIcon {
  background-image: url(../../assets/images/footer/how-to-restore-wallet.inline.svg);

}