@import '../../themes/mixins/loading-spinner';
@import '../../themes/mixins/error-message';
@import '../../themes/mixins/place-form-field-error-below-input';

.walletNameClassic {
  margin-bottom: 20px;
}

.walletName {
  margin-bottom: 0;
}

.walletPasswordClassic {
  .walletPasswordFields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 400ms ease;

    &.show {
      max-height: 250px;
      opacity: 1;
      overflow: visible;
    }

    & > div {
      margin-top: 30px;
      width: 350px;
    }

    @include place-form-field-error-below-input;
  }

  .paperPassword {
    margin-top: 30px;
  }
}

.walletPassword {
  .walletPasswordFields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 400ms ease;

    &.show {
      max-height: 600px;
      opacity: 1;
    }

    & > div {
      margin-top: 0;
      width: 100%;
    }
  }
}

.error {
  @include error-message;
  margin-top: 30px;
  text-align: center;
}

.isSubmitting {
  @include loading-spinner("../../assets/images/spinner-light.svg");
}
