@import '../../themes/mixins/underline';

.component {
  flex: 1;
  overflow-x: hidden;
  overflow-y: overlay;
  padding: 40px 24px;

  &::-webkit-scrollbar-button {
    height: 7px;
    display: block;
  }

  .generatedAddresses {
    color: var(--theme-bordered-box-text-color);
    font-family: var(--font-regular);
    font-size: 14px;
    line-height: 22px;

    h2 {
      font-size: 18px;
      font-family: var(--font-medium);
      margin-bottom: 10px;
      line-height: 22px;

      button {
        color: var(--theme-label-button-color);
        cursor: pointer;
        float: right;
        font-family: var(--font-medium);
        font-size: 16px;
        margin-left: 12px;
        text-transform: uppercase;

        &:hover {
          @include underline(var(--theme-underline-dark-color));
        }
      }
    }

    .walletAddress {
      box-sizing: border-box;
      display: flex;
      padding: 8.5px 0;
      word-break: break-all;

      & + .walletAddress {
        border-top: 1px solid var(--theme-separation-border-color);
      }

      .addressMargin {
        margin-right: 32.5px;
        flex-grow: 1;
      }

      .addressActions {
        display: inline-flex;
        align-items: flex-start;

        .addressActionItemBlock {
          cursor: pointer;
          letter-spacing: 0.5px;
          margin-left: 24px;
          line-height: 20px;
          vertical-align: top;
          white-space: nowrap;

          * {
            vertical-align: middle;
          }

          span {
            color: var(--theme-label-button-color);
            font-family: var(--font-regular);
            font-size: 14px;
            margin-left: 6px;
          }

          .verifyIcon,
          .copyIcon, .generateURIIcon {
            cursor: pointer;
            display: inline-flex;
            object-fit: contain;
            margin-left: 4px;
            & > svg {
              height: 20px;
              width: 20px;
              path:nth-of-type(2) {
                fill: var(--theme-icon-copy-address-color);
              }
            }
          }

          .btnGenerateURI {
            cursor: pointer;
          }
        }

        .verifyActionBlock, .generateURLActionBlock {
          button {
            cursor: pointer;
          }
        }

        .generateURLActionBlock {
          margin-left: unset;
        }
      }
    }
  }
}

:global(.YoroiModern) .component {
  .generatedAddresses {
    .walletAddress {
      padding: 12px 0;
    }
  }
}

.addressHash {
  font-size: 14px;
  line-height: 22px;
  font-family: var(--font-mono-regular);
  color: var(--theme-wallet-receive-hash-text-color);
}

.addressHashUsed {
  color: var(--theme-wallet-receive-hash-used-text-color);
}