.buttonsContainer {
  display: flex;
  flex-direction: column;
}

.firstRow {
  display: flex;
  flex-direction: column;
}

.secondRow {
  display: flex;
}

.component {
  margin: 0;
  width: 400px;

  button {
    width: 100%;

    & + button {
      margin-top: 20px;
    }
  }

  :global {
    .Dialog_title {
      margin-bottom: 20px !important;
    }

    .DialogCloseButton_component {
      right: 16px;
    }
  }
}
