.component {
  background: var(--theme-bordered-box-background-color);
  border: var(--theme-bordered-box-border);
  padding: 20px;
}

:global(.YoroiModern) .component {
  padding: 30px;
  border-radius: 8px;
  
  label {
    background: var(--theme-bordered-box-background-color);
  }  
}