.component {
  display: flex;
  align-items: center;
  
  .copyIconBig {
    cursor: pointer;
    object-fit: contain;
    display: inline-flex;
    margin-left: 5px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: background-color 0.3s;
    & > svg {
      display: block;
      margin: auto;
      height: 20px;
      width: 20px;
      path {
        fill: var(--theme-icon-copy-address-color);
      }
    }
  }
  .copyIconBig:hover {
    background-color: var(--cmn-default-color-grey-5);
  }
}

.SimpleTooltip {
  div[data-bubble-container] {
    transform: translate(-50%, 0); // center the tooltip no matter how long is the text inside
    margin-left: 20px; // offset = horizontal padding of icon and tooltip
  }
}

.componentDark {
  background-color: var(--theme-page-background-color);
  display: flex;
  align-items: center;
  padding: 8px 20px;
  border-radius: 8px;
}