.component {
  cursor: pointer;
  letter-spacing: 0.5px;
  margin-left: 24px;
  line-height: 20px;
  vertical-align: top;
  white-space: nowrap;

  * {
    vertical-align: middle;
  }

  span {
    color: var(--theme-label-button-color);
    font-family: var(--font-regular);
    font-size: 14px;
    margin-left: 6px;
  }

  .copyIconBig {
    cursor: pointer;
    display: inline-flex;
    margin-left: 4px;
    & > svg {
      height: 20px;
      width: 20px;
      path {
        fill: var(--theme-icon-copy-address-color);
      }
    }
  }

}