.component {
  color: var(--theme-dialog-title-color);
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;

  & > .title {
    font-family: var(--font-medium);
    font-size: 15px;
    line-height: 1.39;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
  }

  & > .content {
    flex: 1;
    margin-right: -24px;
    overflow-x: hidden;
    overflow-y: overlay;
    padding-right: 24px;
  }

  & > .actions {
    display: flex;
    flex-shrink: 0;
    margin-top: 20px;

    button {
      width: 50%;

      &:only-child {
        margin: auto;
        width: 100%;
      }

      & + button {
        margin-left: 20px;
      }
    }
  }
}

:global(.YoroiModern) .component {
  margin: var(--modal-margin-cmn);
  width: var(--modal-width-cmn);

  & > .title {
    font-size: 16px;
    letter-spacing: 0px;
  }  
}

:global(.YoroiModern) {
  .content {
    padding: 0 40px;
    margin: 0 -40px;
    max-height: 60vh;
  }

  .title {
    letter-spacing: 0;
  }
}
