@import '../../themes/mixins/error-message.scss';

.errorBlockOld {
  @include error-message;
  margin-top: 10px;
  height: 20px;
  text-align: center;
  span {
    opacity: 0.7;
    font-size: 15px;
  }
}

.errorBlock {
  @include error-message;
  margin-top: 10px;
  height: 20px;
  text-align: center;
  span {
    // opacity: 0.7;
    font-size: 12px;
  }
}