@import '../../themes/mixins/error-message.scss';

.component {
  @include error-message;
  margin-top: 10px;
  height: 20px;
  text-align: center;
  span {
    opacity: 0.7;
    font-size: 15px;
  }
}

:global(.YoroiModern) .component {
  span {
    font-size: 12px;
  }  
}