
.infoIcon {
  display: flex;
  margin-left: 3px;
}

.SimpleTooltip {
  width: 14px;
  height: 14px;
  div[data-bubble-container] {
    transform: translate(-50%, 0); // center the tooltip no matter how long is the text inside
    margin-left: 20px; // offset = horizontal padding of icon and tooltip
  }
}