.component {
  color: var(--theme-bordered-box-text-color);
  text-align: justify;
  margin: 10px 0 24px 0;

  h1 {
    color: var(--theme-dialog-title-color);
    font-family: var(--font-medium);
    font-size: 14px;
    margin-bottom: 11px;
  }

  p {
    font-family: var(--font-regular);
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 1.38;
    margin-bottom: 11px;
  }

  p em {
  	font-weight: bold;
  }
}

.component-bordered {
  color: var(--theme-bordered-box-text-color);
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--theme-bordered-box-background-color);
  border-radius: 8px;
  padding: 16px;

  h1 {
    color: var(--theme-dialog-title-color);
    font-family: var(--font-medium);
    font-size: 14px;
    margin-bottom: 11px;
  }

  p {
    font-family: var(--font-regular);
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 1.38;
  }

  p em {
  	font-weight: bold;
  }
}
