$common-color:var(--theme-widgets-progress-step-common-color);

.outer {
  text-align: center;
}

.stepBlock {
  display: inline-block;
  vertical-align: top;
  padding-left: 5px;
  padding-right: 5px; 
}

.stepTopBarOld {
  height: 6px;
  background-color: $common-color;
  border-radius: 3px;
  opacity: 0.3;
}

.stepTopBar {
  height: 4px;
  background-color: $common-color;
  border-radius: 2px;
  opacity: 0.3;
}

.stepTopBarDone {
  opacity: 1.0;
}

.stepTopBarActive {
  opacity: 1.0;
}

.stepBottomBlockOld {
  margin-top: 2px;
  padding-left: 24px;
  padding-right: 40px;
}

.stepBottomBlock {
  width: 117px;
  margin-top: 2px;

  span {
    margin-top: 1px;
    display: inline-block;
  }

  svg {
    height: 10px;
    width: 10px;
  }
}

.stepStateIconContainerOld {
  display: inline-block;
  width: 16px;
  height: 16px;
}

.stepStateIconContainer {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: -16px;
}

.stepTextContainer {
  display: inline-block;
  vertical-align: top;
}

.stepTextOld {
  color: $common-color;
  opacity: 0.3;
  font-size: 13px;
  font-family: var(--font-light);
}

.stepText {
  color: $common-color;
  opacity: 0.3;
  font-size: 12px;
  font-family: var(--font-regular);
}

.stepTextDone {
  opacity: 1.0;
}

.stepTextActive {
  opacity: 1.0;
}