.timeBlock {
  display: inline-block;
  width: 26px;
  height: 22px;
  font-size: 16px;
  line-height: 22px;
  border-radius: 2px;
  background-color: var(--theme-dashboard-epoch-time-background);
  text-align: center;
  margin: 0 4px;
  &:first-child {
      margin-left: 0;
  }
  &:last-child {
      margin-right: 0;
  }
}

.timer {
  width: max-content;
}
