@import '../../themes/mixins/underline.scss';

.component {
  position: absolute;
  z-index: 2;

  width: 330px;
  height: max-content;

  transform: translateX(-100%);
  background-color: white;
  border: 1px solid var(--theme-tooltipbox-border-color);

  // size tooltip to text contained inside
  min-width: auto;
  padding: 16px;

  .header {
    display: flex;

    .message {
      display: flex;
      margin-left: auto;
      margin-right: auto;

      .headerIcon {
        margin-top: -2px;
      }
    
      .headerText {
        font-family: var(--font-medium);
        color: var(--theme-warning-color);
        font-size: 16px;
        line-height: 19px;
        margin-left: 4px;
      }
    }

    .closeButton {
      margin-top: -2px;
      cursor: pointer;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  .body {
    margin-top: 13px;
  }
}
