.contentWarning {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 16px 0 16px 0;
  border-radius: 8px;
  background-color: var(--theme-warning-box-bg-color);
  box-shadow: var(--theme-warning-box-bg-shadow);

  .header {
    display: inline-flex;
    align-items: flex-end;
  
    .headerIcon {
      width: 20px;
      height: 20px;
      background-image: url(../../assets/images/attention.inline.svg);
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      margin-bottom: 1px
    }
  
    .headerText {
      font-family: var(--font-medium);
      color: var(--rp-theme-color-error);
      font-size: 16px;
      font-weight: 500;
      margin-left: 6px;
    }
  }

  .warning {
    margin-top:10px;
    line-height: 22px;
    font-family: var(--font-regular);
    color: var(--rp-theme-color-error);
    font-size: 12px;
    text-align: center;
  }  
}