.tabsHeader {
  font-family: var(--font-regular);
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.tabsLink {
  padding: 5px 0;
  position: relative;
  cursor: pointer;
  margin: 0 50px;
  font-size: var(--tab-link-text-size);
  font-family: var(--font-regular);
  line-height: var(--tab-link-line-height);
  
  &.active {
    color: var(--theme-wallet-navigation-tab-text-color-active);
    font-family: var(--font-medium);
  }

  &:hover {
    color: var(--theme-wallet-navigation-tab-text-color-hover);
  }

  &:disabled {
    color: var(--theme-wallet-navigation-tab-text-color-disabled);
  }

  &.active::after {
    background-color: var(--tab-link-border-color);
  }  

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 2px;
  }
}

// OPTION BLOCK LIST
.optionBlockList {
  padding: 10px 0 0 0;
  max-width: 480px;
  min-width: 100%;
}