.dialog {
  padding-top: 25px;
  padding-bottom: 24px;
  max-width: 650px !important;

  & > h1 {
    margin-bottom: 25px !important;
  }

  & > div {
    padding: 0px 24px !important;
  }

  & > div:nth-child(3) {
    margin-top: 27px !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
}
