@import './WalletSendConfirmationDialog.scss'; // Reusing this as it's almost same

.dialog {
  .infoBlock {
    background-color: var(--theme-hw-send-confirmation-info-block-background-color);
    font-family: var(--font-regular);
    padding: 5px;
    margin-bottom: 30px;
    line-height: 1.38;
    font-size: 14px;
    opacity: 0.7;
    letter-spacing: 0.5px;
    li {
      list-style-type: disc;
      margin-left: 18px;
    }
  }
}
