@import '../../../themes/mixins/loading-spinner';
@import '../../../themes/mixins/error-message';

.component {
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

  .receiverInput {
    position: relative;

    :global {
      .SimpleInput_input {
        font-family: var(--font-mono-light);
        letter-spacing: 0;
      }
    }
  }
  
  .amountInput {
    position: relative;
    margin-bottom: 10px;
  }
  
  .adaLabel {
    bottom: 16px;
    color: var(--theme-input-right-floating-text-color);
    font-family: var(--font-light);
    position: absolute;
    right: 20px;
    text-transform: uppercase;
  }
  
  .nextButton {
    display: block !important;
    margin: 30px auto 0;
  }

  .contentWarning {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 1em;
  }

  .icon {
    flex-shrink: 0;
    & > svg {
      width: 26px;
      height: 26px;
    }
    margin: 1em 0;
  }
  
  .warning {
    font-family: var(--font-light);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0.5em;
    color: var(--rp-theme-color-error);
  }  

  .shouldSendAllCheckbox {
    font-family: var(--font-mono-light);
  }
  
}

:global(.YoroiClassic) .component {
  .receiverInput {
    margin-bottom: 10px;
  }
}

:global(.YoroiModern) .component {
  padding: 30px;

  .receiverInput {
    letter-spacing: 0;

    :global {
      .SimpleInput_input {
        font-family: var(--font-mono-regular);
      }
    }
  }

  .nextButton {
    margin: 20px auto 0;
  }  
}