.dialog {
  max-width: 650px;
  max-height: unset;
  height: unset;
  padding-bottom: 24px;

  & > h1 {
    margin-bottom: 25px !important;
  }

  & > div {
    padding: 0px 20px !important;
  }

  & > div:nth-child(3) {
    margin-top: 27px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
}
