.component {
  background: var(--yoroi-palette-common-white);
  padding: 20px;
}

:global(.YoroiModern) .component {
  padding: 30px;
  border-radius: 8px;

  label {
    background: var(--yoroi-palette-common-white);
  }
}
