.solidSeparator {
  display: flex;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid var(--th-palette-gray-200);
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
}
.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid var(--th-palette-gray-200);
}
.separator::before {
  margin-right: 40px;
}
.separator::after {
  margin-left: 40px;
}
