 @import '../../themes/mixins/loading-spinner';

.component {
  color: var(--theme-dialog-title-color);
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;

  & > .title {
    font-family: var(--font-medium);
    font-size: 16px;
    line-height: 19px;
    margin: var(--theme-dialog-title-margin);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0;
  }

  & > .content {
    flex: 1;
    overflow-x: hidden;
    overflow-y: overlay;
    padding: 0 30px;
    margin: 0 -30px;
    max-height: 60vh;
  }

  & > .actions {
    display: flex;
    flex-shrink: 0;
    margin: var(--theme-dialog-input-actions-margin);

    button {
      width: 50%;

      &:only-child {
        margin: auto;
        width: 100%;
      }

      & + button {
        margin-left: 20px;
      }
    }
  }
}

:global(.YoroiModern) {
  .component {
    margin: var(--theme-modal-margin-cmn);
    min-width: var(--theme-modal-min-max-width-cmn);
    max-width: var(--theme-modal-min-max-width-cmn);
  
    & > .title {
      font-size: 16px;
      letter-spacing: 0px;
    }

    & > .content {
      padding: 0 40px;
      margin: 0 -40px;
      max-height: 60vh;

      /* Fix: non-zero bottom margin helps dynamic height rendering and prevents unnecessary scrollbars  */
      & > :last-child {
        margin-bottom: 1px;
      }
    }
  }
}

.isSubmittingPrimary {
  @include loading-spinner("../../assets/images/spinner-light.svg");
}
.isSubmittingSecondary {
  @include loading-spinner("../../assets/images/spinner-dark.svg");
  opacity: 0.5;
}
