.component,
.component-bottom,
.component-input {
  color: var(--yoroi-palette-gray-900);
  text-align: justify;
  padding: 10px 0 24px 0;
}

.component-bottom {
  padding-bottom: 0px;
}

.component-input {
  padding-bottom: 14px;
}
