.component,
.component-bottom,
.component-input {
  color: var(--yoroi-palette-gray-900);
  text-align: justify;
  padding: 10px 0 24px 0;

  h1 {
    color: var(--yoroi-palette-gray-900);
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 11px;
  }

  p {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 1.38;
    margin-bottom: 11px;
  }

  p em {
    font-weight: bold;
  }
}

.component-bottom {
  padding-bottom: 0px;
}

.component-input {
  padding-bottom: 14px;
}
