@import '../../themes/mixins/error-message.scss';

.component {
  @include error-message;
  margin-top: 10px;
  text-align: center;
  span {
    opacity: 0.7;
    font-size: 15px;
  }
}

:global(.YoroiModern), :global(.YoroiRevamp) {
  .component {
    span {
      font-size: 12px;
    }  
  } 
}