.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 42px;
}

.text {
  margin-bottom: 42px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--th-palette-gray-800);
  font-weight: 400;
  line-height: 22px;
  max-width: 560px;
}

.title {
  font-size: 16px;
  color: var(--th-palette-gray-800);
  font-weight: 400;
  line-height: 22px;
}

.paragraph {
  margin-top: 12px;
  font-size: 14px;
}
