$blockHeight: 27px;

.component {
  display: block;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 400;
    color: var(--th-palette-common-black);
  }
}

.block {
  height: $blockHeight;
  display: inline-block;
  padding-left: 13px;
  border-radius: 4px;

  .icon {
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
    svg {
      width: 20px;
      height: 20px;
    }
  }
  .text {
    display: inline-block;
    vertical-align: middle;
  }
}

.block:hover {
  background-color: var(--th-palette-gray-200);
  cursor: pointer;
}
