.component {
  :global {
    animation: loading-spin 1.5s linear;
    animation-iteration-count: infinite;
  }
}

.dark {
  background: url("../../assets/images/spinner-dark.svg") no-repeat center;
}
.light {
  background: url("../../assets/images/spinner-light.svg") no-repeat center;
}

.largeSize {
  margin: auto auto;
  width: 38px;
  height: 38px;
  background-size: 38px;
}

.standardSize {
  margin: auto auto;
  width: 30px;
  height: 30px;
  background-size: 30px;
}

.smallSize {
  margin: auto auto;
  width: 22px;
  height: 22px;
  background-size: 22px;
}
