.component {
  background-color: var(--theme-notification-message-background-color);
  height: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  transition: all 200ms linear;
  width: 100%;
}

.show {
  height: 40px;
  padding: 0;
}

.icon {
  display: inline-block;
  vertical-align: top;
  & > svg {
    height: 40px;
    width: 40px;
  }
}

.message {
  color: var(--theme-notification-message-text-color);
  display: inline-block;
  font-family: var(--font-regular);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 40px;
}
