.separator {
  display: flex;
  align-items: center;
  text-align: center;
}
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 2px solid var(--th-palette-gray-200);
}

.separator::after {
  margin-left: 8px;
}
