@import '../../themes/mixins/underline';

.component {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 16px 0 16px 0;
  border-radius: 8px;
  box-shadow: var(--yoroi-warning-box-bg-shadow);

  .header {
    display: inline-flex;
    align-items: flex-end;

    .headerIcon {
      width: 20px;
      height: 20px;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      margin-bottom: 1px;
    }

    .headerText {
      font-weight: 500;
      font-size: 16px;
      font-weight: 500;
      margin-left: 6px;
    }
  }

  .warning {
    margin-top: 4px;
    text-align: center;
    padding: 0px 10px;

    & *,
    & {
      line-height: 22px;
      font-weight: 400;
      font-size: 12px;
    }
    a,
    button {
      line-height: initial;
    }
  }
}

:global(.YoroiClassic) {
  .component {
    .headerIcon {
      background-image: url(../../assets/images/attention-classic.inline.svg);
    }

    .headerText {
      font-weight: bold;
    }
  }
}

:global(.YoroiModern), :global(.YoroiRevamp) {
  .component {
    .headerIcon {
      background-image: url(../../assets/images/attention-modern.inline.svg);
    }
  }
}
