.component {
  background: #f0f3f5;
  .title {
    padding: 32px 0;
    color: #6b7384;
    font-size: 16px;
    text-align: center;
  }
  .walletList {
  }
  .noItems {
    padding: 60px 32px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #6b7384;
    text-align: center;
    svg {
      margin-bottom: 24px;
    }
    h3 {
      font-size: 26px;
      font-weight: 500;
      margin-bottom: 20px;
      line-height: 35px;
    }
  }
}
