.header {
  display: flex;
  padding: 12px 32px;
  justify-content: space-between;
}
.expandedHeader {
  background-color: var(--yoroi-palette-gray-100);
}
.headerTitle {
  display: flex;
  align-items: center;
  color: #3154cb;
  font-size: 16px;
  line-height: 24px;
  .status {
    height: 10px;
    width: 10px;
    margin-right: 12px;
    border-radius: 50%;
    border: 1px solid #c4cad7;
  }
  .active {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid var(--yoroi-palette-secondary-300);
    background-color: var(--yoroi-palette-secondary-300);
  }
}

.expandArrowBox {
  margin-left: 16px;
  align-items: center;
}

.expandArrow svg {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease-in-out;
}

.collapseArrow svg {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease-in-out;
  transform: rotate(180deg);
}

.expandedContent {
  background-color: var(--yoroi-palette-gray-100);
  padding: 0 32px;
  color: var(--yoroi-palette-gray-600);
  & > h3 {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    margin-bottom: 4px;
    font-weight: 500;
  }
  & > p {
    font-size: 12px;
  }
}

.card {
  display: flex;
  align-items: center;
  padding: 20px 0;
  & + & {
    border-top: 1px solid #dce0e9;
  }
}
.remove {
  cursor: pointer;
  margin-right: 24px;
}
