.passwordInstructionsClassic {
  color: var(--theme-instructions-text-color);
  font-family: var(--font-light);
  line-height: 1.38;
  margin-top: 20px;
  opacity: 0.5;
}

.passwordInstructions {
  color: var(--theme-instructions-text-color);
  font-family: var(--font-regular);
  line-height: 1.71;
  margin-top: 14px;
  font-size: 14px;
  letter-spacing: 0;

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    list-style-type: disc;
    margin-left: 18px;
    width: calc(50% - 18px);
  }

  .successCondition {
    position: relative;
    color: var(--theme-password-condition-text-color);
    list-style-type: none;

    span:first-child {
      position: absolute;
      left: -18px;
    }

    svg {
      width: 11px;
    }
  }
}
