.component {
  color: var(--theme-instructions-text-color);
  font-family: var(--font-light);
  line-height: 1.38;
  margin-top: 0;
}

:global(.YoroiClassic) .component {
  opacity: 0.5;
  margin-top: 0;
}

:global(.YoroiModern) .component {
  font-family: var(--font-regular);
  line-height: 1.71;
  margin-top: 14px;
  font-size: 14px;
  letter-spacing: 0;
}
