.contentWarning {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.warning {
  font-family: var(--font-light);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  margin-left: 1em;
  color: var(--rp-theme-color-error);
}

.icon {
  flex-shrink: 0;
  & > svg {
    width: 26px;
    height: 26px;
  }
}
