@import '../../../themes/mixins/unordered-donot-list';

.component {
  .text {
    color: var(--theme-support-settings-text-color);
    font-family: var(--font-regular);
    font-size: 14px;
    line-height: 24px;
  }

  ul {
    margin-top: 6px;
    margin-bottom: 6px;
    @include unordered-donot-list;
  }
}
