@import '../../../themes/mixins/loading-spinner';
@import '../../../themes/mixins/error-message';

.component {
  padding: 20px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: overlay;

  &::-webkit-scrollbar-button {
    height: 7px;
    display: block;
  }

  .centeredBox {
    margin: 0 auto;
    width: 800px;
  }
  
  .submitButton,
  .submitButtonSpinning {
    display: block !important;
    margin: 0;
    width: 350px;
  }
  
  .submitButtonSpinning {
    @include loading-spinner("../../../assets/images/spinner-light.svg");
  }
  
  .error {
    @include error-message;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
    padding-top: 40px;
  
    :global .SimpleCheckbox_label {
      font-family: var(--rp-theme-font-regular);
    }
  }  
}
