.navbar {
  display: flex;
  position: relative;
  z-index: 100;
  margin-top: 12px;
  margin-bottom: 4px;
  height: var(--theme-navbar-height);
  background-color: var(--theme-navbar-background-color);
  color: var(--theme-navbar-color);
}

.title {
  flex: 0 0 auto;
}

.content {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.plate {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.details {
  flex: 0 0 auto;
  margin-left: 32px;
  min-width: 280px;
}