.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 18px;
  min-height: 74px;
}

.categories {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.toggleButton {
  padding: 20px 24px;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  &:hover {
    cursor: pointer;
    & svg > path {
      fill: #17D1AA;
    }
  }
  & .iconRotate {
    transform: rotate(180deg);
  }

  &.toggleActive {
    justify-content: flex-end;
  }
}