.component {
  padding: 20px 24px;
  height: 67px;
  width: 100%;
  display: flex;
  align-items: center;
  & svg > path {
    fill: var(--theme-sidebar-icon-color);
  }
  &:hover {
    cursor: pointer;
    & svg > path {
      fill: var(--theme-sidebar-icon-color-hover);
    }
  }
  &.active {
    background-color: var(--theme-sidebar-item-background-color-hover);
    & svg > path {
      fill: var(--theme-sidebar-icon-color-active);
    }
  }
}

.icon {
  & > svg {
    max-width: 24px;
    max-height: 24px;
  }
}

.label {
  display: block;
  color: var(--theme-sidebar-text-color);
  font-family: var(--font-regular);
  font-size: var(--theme-sidebar-text-font-size);
  line-height: var(--theme-sidebar-text-line-height);
  margin-left: var(--theme-sidebar-text-left-spacing);
}