@import '../../themes/mixins/buttons';

.component {
  @include button;
  align-items: center;
  color: var(--theme-topbar-category-text-color);
  display: flex;
  height: 64px;
  justify-content: center;
  width: 87px;

  // &:hover {
  //   background-color: var(--theme-topbar-category-background-color-hover);
  // }
}

.active {
  background: #2f57d7;

  .icon:not(.withTrezorTIcon) path {
    // stroke: var(--theme-button-primary-background-color);
    // fill: var(--theme-button-primary-background-color);
    stroke: white;
    fill: white;
  }

  // .icon:not(.walletsIcon):not(.withTrezorTIcon) path {
  //   fill: var(--theme-button-primary-background-color);
  // }

  // .withTrezorTIcon {
  //   & > svg {
  //     // plus-logo
  //     & > g > g:nth-child(1) {
  //       stroke: none;
  //       fill: var(--theme-button-primary-background-color);
  //     }
  //     // trezor-t-logo
  //     & > g > g:nth-child(2) {
  //       stroke: var(--theme-button-primary-background-color);
  //     }
  //   }
  // }  

  &:hover {
    cursor: default;
  }
}

.icon {
  flex-shrink: 0;
  & > svg {
    width: 24px;
    height: 24px;

    & > g > path {
      fill: var(--theme-icon-topbar-color);
    }
    // ada.svg icon needs stroke attribute
    & > g > g {
      stroke: var(--theme-icon-topbar-color);
    }
  }
}

.walletsIcon {
  flex-shrink: 0;
  & > svg {
    width: 36px;
    height: 42.5px;
  }
}

.withTrezorTIcon {
  flex-shrink: 0;
  & > svg {
    width: 64px;
    height: 42.5px;
    // plus-logo
    & > g > g:nth-child(1) {
      stroke: none;
      fill: var(--theme-icon-topbar-color);
    }
    // trezor-t-logo
    & > g > g:nth-child(2) {
      stroke: var(--theme-icon-topbar-color);
    }    
  }
}

:global {
  .TopBarCategory_component {
    position: absolute;
    top: 0;

    &.wallets {
      left: 0;
    }

    &.with-trezor-t {
      left: 64px;
    }    

    &.daedalus-transfer {
      right: 87px;
    }

    &.settings {
      right: 0;
    }
  }
}

.label {
  font-family: var(--font-regular);
  font-size: 18px;
}
