@import '../../themes/mixins/buttons';

.component {
  @include button;
  align-items: center;
  color: var(--theme-topbar-category-text-color);
  display: flex;
  height: var(--cmn-topbar-height);
  justify-content: center;
}

.component.active {
  border-top: var(--theme-topbar-active-item-top-border);
  border-bottom: var(--theme-topbar-active-item-bottom-border);
  &:hover {
    cursor: default;
  }
}

.icon {
  flex-shrink: 0;
  & > svg {
    & > g > path {
      fill: var(--theme-icon-topbar-color);
    }
    // ada.svg icon needs stroke attribute
    & > g > g {
      stroke: var(--theme-icon-topbar-color);
    }
  }
}

.iconInlineText {
  font-size: 16px;
  line-height: 22px;
  font-family: var(--font-light);
}

.goBackIcon {
  margin-left: 20px;
  margin-right: 6px;
}

.noticeBoardIcon,
.walletsIcon {
  flex-shrink: 0;
}

.withLedgerNanoIcon {
  flex-shrink: 0;
  & > svg {
    width: var(--cmn-topbar-icon-default-width);
    height: 42.5px;
    // plus-logo
    & > g > g:nth-child(1) {
      stroke: none;
      fill: var(--theme-icon-topbar-color);
    }
    // Ledger Nano S icon
    & > g > g:nth-child(2) {
      stroke: none;
      fill: var(--theme-icon-topbar-color);
    }    
  }
}

.withTrezorTIcon {
  flex-shrink: 0;
  & > svg {
    width: var(--cmn-topbar-icon-default-width);
    height: 42.5px;
    // plus-logo
    & > g > g:nth-child(1) {
      stroke: none;
      fill: var(--theme-icon-topbar-color);
    }
    // Ledger Nano S icon
    & > g > g:nth-child(2) {
      stroke: var(--theme-icon-topbar-color);
    }    
  }
}

:global {
  .TopBarCategory_component {
    position: absolute;
    top: 0;

    &.go-back {
      left: 0px;
      width: auto;
    }

    &.wallets {
      left: 0;
      width: 56px;
      margin-left: 14px;
    }

    &.with-ledger-nano {
      left: 56px;
      width: 72px;
      margin-left: 14px;
      padding-right: 8px;
    }

    &.with-trezor-t {
      left: 56px;
      width: 64px;
      margin-left: 14px;
    }

    &.wallet-transfer {
      right: 86px;
      width: 72px;
    }

    &.settings {
      right: 14px;
      width: 72px;
    }

    &.notice-board {
      right: 158px;
      width: 72px;
    }
  }
}

.label {
  font-family: var(--font-regular);
  font-size: 18px;
}
