@import '../../themes/mixins/buttons';

.component {
  @include button;
  align-items: center;
  color: var(--theme-topbar-category-text-color);
  display: flex;
  height: 64px;
  justify-content: center;
  width: 64px;

  &:hover {
    background-color: var(--theme-topbar-category-background-color-hover);
  }
}

.active {
  path {
    stroke: var(--theme-button-primary-background-color);
    fill: var(--theme-button-primary-background-color);
  }

  .icon:not(.walletsIcon) path {
    fill: var(--theme-button-primary-background-color);
  }

  &:hover {
    cursor: default;
  }
}

.icon {
  flex-shrink: 0;
  & > svg {
    width: 24px;
    height: 24px;

    & > g > path {
      fill: var(--theme-icon-topbar-color);
    }
    // ada.svg icon needs stroke attribute
    & > g > g {
      stroke: var(--theme-icon-topbar-color);
    }
  }
}

:global {
  .TopBarCategory_component {
    position: absolute;
    top: 0;

    &.wallets {
      left: 0;
    }

    &.daedalus-transfer {
      right: 128px;
    }

    &.settings {
      right: 64px;
    }
    &.lock {
      right: 0;
    }
  }
}

.walletsIcon {
  flex-shrink: 0;
  & > svg {
    width: 36px;
    height: 42.5px;
  }
}

.label {
  font-family: var(--font-regular);
  font-size: 18px;
}
