.topBar {
  align-items: center;
  background: var(--theme-topbar-background-color);
  display: flex;
  height: var(--cmn-topbar-height);
  padding: 0;
  position: relative;
  z-index: 100;

  .topBarTitle {
    flex-grow: 1;
  }  
}
