$topBarClassicHeight: 64px;
$topBarHeight: 58px;

.topBar {
  align-items: center;
  background: var(--theme-topbar-background-color);
  display: flex;
  height: $topBarClassicHeight;
  padding: 0;
  position: relative;
  z-index: 100;

  .topBarTitle {
    flex-grow: 1;
  }  
}

:global(.YoroiModern) .topBar {
  height: $topBarHeight;
}