.component {
  padding-top: 120px;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: auto;

  .centeredBox {
    width: 500px;
  }

  .explanation {
    font-weight: 400;
    color: var(--yoroi-palette-gray-800);
    line-height: 22px;

    h1 {
      text-align: center;
      font-weight: 700;
      margin-top: 40px;
      margin-bottom: 25px;
      font-size: 18px;
    }

    p {
      display: block;
      font-size: 14px;
      margin-bottom: 8px;
    }
  }

  .aboutSvg {
    & > svg {
      display: block;
      margin: auto;
      height: 282.1px;
      width: 526px;
    }
  }

  .buttonsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 34px;
  }
}
