.layout {
  min-height: 100vh;
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.06);
  font-weight: 400;
}

.header {
  height: 52px;
  background: var(--yoroi-sidebar-background);
  display: flex;
  align-items: center;
  padding-right: 32px;
  padding-left: 32px;
  & .menuIcon {
    cursor: pointer;
  }
  & .menu {
    margin: 0 auto;
    padding-right: 24px;
    color: #fff;
    display: flex;
    & svg {
      width: 20px;
      height: 18px;
      margin-right: 4px;
    }
    & .logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 19px;
      h3 {
        margin-top: 0;
        margin-bottom: 2px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0;
      }
    }
    & .poweredBy {
      font-size: 8px;
      letter-spacing: 0;
      line-height: 9px;
    }
  }
  & .setting {
    margin-left: 65px;
  }
}

.content {
  position: relative;
}
