// Css module overrides go here …

.autocompleteWrapper  {
  input {
    background: var(--rp-autocomplete-input-bg-color, transparent);
    border: var(--rp-autocomplete-input-border, 0);
  }
  .autocompleteContent {
    border: none;
    min-height: 140px;
    padding: 0 40px 15px 15px;
    border-radius: 8px;

    &:hover {
      border-color: var(--theme-autocomplete-hover-border-color);
    }

    &:focus, &:active, &.opened {
      border-width: 2px;
    }

    &.errored {
      border-color: var(--rp-theme-color-error);

      &:active {
        border-width: 2px;
      }
    }  

    .selectedWords {
      input {
        font-size: 15px;
        margin: 5px 0;
      }

      .selectedWordBox {
        border-radius: 8px;
        margin: 5px 12px 0 -6px;
        padding: 3px 13px;

        .selectedWordValue {
          font-size: 14px;
          letter-spacing: 0;

          .selectedWordRemoveButton {
            margin-left: 4px;
          }
        }

        &:last-of-type {
          margin-right: 6px;
        }
      }
    }
  }
}
