// Css module overrides go here …

.autocompleteWrapper  {
  .autocompleteContent {
    min-height: 73px;
    padding: 10px 15px;
    border-radius: 8px;

    &:hover {
      border-color: var(--theme-autocomplete-hover-border-color);
    }

    &:focus, &:active, &.opened {
      padding: 9px 14px;
      border-width: 2px;
      border-color: var(--theme-autocomplete-focus-border-color);
    }

    &.errored {
      border: 1px solid var(--theme-autocomplete-error-color);

      &:active {
        border-width: 2px;
      }

      &.opened {
        border: 2px solid var(--theme-autocomplete-error-color)!important;
      }
    }  

    .selectedWords {
      input {
        font-size: 15px;
        margin: 5px 0;
      }

      .selectedWordBox {
        border-radius: 8px;
        margin: 5px 12px 0 -6px;
        padding: 3px 13px;

        .selectedWordValue {
          font-size: 14px;
          letter-spacing: 0;

          .selectedWordRemoveButton {
            margin-left: 4px;
          }
        }

        &:last-of-type {
          margin-right: 6px;
        }
      }
    }
  }
}
