// Css module overrides go here …

.root {
  padding: var(--theme-dialog-input-margin);
}

.error {
  position: absolute;
  bottom: 3px;
  left: 15px;
  margin: 0;
  line-height: 1.33;
  font-size: 12px;

  & + label {
    color: var(--rp-theme-color-error);
  }
}

.label {
  background: white;
  top: 2px;
  left: 10px;
  font-family: var(--rp-theme-font-regular);
  font-size: 12px;
  font-weight: normal;
  padding: 0 6px;
  z-index: 1;
}
