// Css module overrides go here …

.input {
  border: none;

  &:not([disabled]):hover {
    border-color: var(--rp-input-border-color-focus);
  }

  &.errored:hover {
    border-color: var(--rp-input-border-color-errored);
  }

  &[type="password"] {
    // react-polymorph adds a padding-top for some Daedalus specific handling of password fields
    padding-top: 0px;
  }
}