// Css module overrides go here …

.overlay {
  z-index: 100;
}

.modal {
  border-radius: 8px;
  padding: 25px 40px 40px 40px;
  display: flex;
  flex-direction: column;

  :global(.YoroiModern) {
    letter-spacing: 0;
  }
}