// Css module overrides go here …

.overlay {
  z-index: 100;
}

.modal {
  border-radius: 8px;
  padding: unset;
  min-width: unset;
  max-width: unset;
  display: flex;
  flex-direction: column;
  letter-spacing: 0;
}