// Css module overrides go here …

$IconBottom: 45px !important; 

.selectInput {
  &::after {
    bottom: $IconBottom;
    left: calc(100% - 27px);
  }

  label {
    position: absolute;
  }

  input {
    height: 52px;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 0 15px;
    background: none;
    text-transform: uppercase;

    &:hover {
      border-color: var(--rp-input-border-color-focus);
    }
  }
}

.isOpen {
  input, input:hover {
    border-width: 2px;
    padding-left: 14px;
    color: var(--rp-input-border-color-focus);
    border-color: var(--rp-input-border-color-focus);
  }

  .selectInput::after {
    background-color: var(--rp-input-border-color-focus);
    bottom: $IconBottom;
  }
}
