.wrapper {
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 12px;
  color: var(--th-palette-gray-600);
  font-size: 14px;
  line-height: 22px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--th-palette-gray-900);
  margin-bottom: 2px;
  text-transform: uppercase;
}

.icon {
  width: 35px;
  height: 35px;
}
