.wrapper {
  font-weight: 400;
  display: block;
  width: 100%;
  box-shadow: 0 5px 20px 0 rgba(24, 26, 30, 0.08);
  background-color: var(--yoroi-palette-common-white);
  border-radius: 8px;

  & + & {
    margin-top: 24px;
  }
}

.content {
  display: flex;
}

.section {
  display: flex;
  align-items: center;
  border-left: 1px solid var(--yoroi-palette-gray-100);
  padding: 31px 24px;
}

.settingSection {
  display: flex;
  align-items: center;
  padding: 31px 24px;

  .settingButton {
    & svg > path {
      fill: var(--yoroi-palette-gray-400);
    }
    &:hover {
      cursor: pointer;
      & svg > path {
        fill: var(--yoroi-palette-gray-700);
      }
    }
  }
}

.nameSection {
  @extend .section;
  &:hover {
    cursor: pointer;
  }
}

.detailsSection {
  @extend .section;
  width: 100%;
  max-width: 560px;
}

.syncSection {
  @extend .section;
  min-width: 160px;
}

.currencySection {
  @extend .section;
  display: flex;
  align-items: center;
  justify-content: center; // flex-end;
  flex: 1;
  padding-left: 24px;
  padding-right: 24px;
}

.addSection {
  @extend .section;
  padding-left: 24px;
  padding-right: 24px;
}

.contentBody {
  border-radius: 0 0 8px 8px;
  box-shadow: inset 0 -1px 10px 0 rgba(255, 255, 255, 0.5), inset 0 2px 4px 0 rgba(56, 57, 61, 0.2);
  background-color: var(--yoroi-mywallets-expandable-background-color);
}

.toggle {
  @extend .section;
  padding: 24px;
  &:hover {
    cursor: pointer;
  }
  &.toggleExpanded {
    transform: rotate(180deg);
  }
}

.add {
  background-color: var(--yoroi-palette-secondary-300);
  border-radius: 50%;
  width: 38px;
  height: 38px;
  &:hover {
    cursor: pointer;
  }
}
