@import '../../../themes/mixins/loading-spinner.scss';

.processing {
  @include loading-spinner("../../../assets/images/spinner-light.svg");
}

.label {
  color:  var(--rp-formfield-label-text-color);
  display: block;
  font-family: var(--rp-formfield-label-font-family);
  font-size: var(--rp-formfield-label-font-size);
  line-height: 1.38;
  margin: var(--rp-formfield-label-margin);
  text-align: left;
}

.header {
  padding-left: 0px !important;
  padding-right: 0px;
}

.infoBlock {
  font-family: var(--font-mono-regular);
  letter-spacing: 0;
  font-size: 15px;
  opacity: 0.7;
  text-align: center;

  p {
    line-height: 30px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: var(--theme-bordered-box-background-color);
    border: var(--theme-bordered-box-border);
  }
}

:global(.YoroiModern) .component {
  width: var(--modal-width-lg);
}