@import '../../../themes/mixins/loading-spinner.scss';

.processing {
  @include loading-spinner("../../../assets/images/spinner-light.svg");
}

.label {
  color:  var(--theme-wallet-receive-label-text-color);
  font-size: 14px;
  line-height: 22px;
  display: block;
  font-family: var(--font-regular);
  margin-bottom: 4px;
  text-align: left;
}

.derivation {
  font-family: var(--font-mono-regular);
  letter-spacing: 0;
}

.hash {
  color: var(--theme-wallet-receive-hash-used-text-color);
  font-size: 16px;
  line-height: 22px;
}

:global(.YoroiModern) .component {
  min-width: var(--theme-modal-min-max-width-lg);
  max-width: var(--theme-modal-min-max-width-lg); 
}
