@import '../../themes/mixins/animations';
@import '../../themes/mixins/error-message';
@import '../../themes/mixins/underline';

.component {
  height: 100%;
  transition: background-color 500ms;
  width: 100%;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loading {
  top: 50%;
  position: absolute;
  text-align: center;
  width: 100%;
  transform: translateY(-50%);

  .spinner {
    margin-top: 20px;
  }
}

.yoroiLogo {
  & > svg {
    width: 100px;
    margin: 0 114px;
    & > path {
      fill: var(--yoroi-palette-secondary-300);
    }
  }
}

.hide {
  & > svg {
    & > path {
      fill: rgba(0, 0, 0, 0);
    }
  }
}

.headline {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 24px;
}

.component,
.headline,
.logo,
.error {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.link {
  color: var(--yoroi-palette-error-200);
  @include underline(var(--yoroi-palette-error-200));
}

.error {
  @include error-message;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  word-break: break-word;
  text-align: center;
  margin-left: 24px;
  margin-right: 24px;
}
