@import '../../themes/mixins/underline';

.body {
  padding-left: 40px;
  padding-right: 40px;

  .attention {
    color: var(--th-palette-gray-900);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }

  .explanation {
    color: var(--th-palette-gray-900);
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }

  .learnMore {
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;

    a {
      color: var(--th-palette-gray-800);
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      text-decoration: none;
    }

    span {
      margin-left: 4px;
      margin-top: 2px;
      width: 14px;
      height: 14px;
    }

    &:hover {
      @include underline(var(--th-palette-gray-800));
    }
  }
}
