.layout {
  min-height: 100vh;
  padding-bottom: 40px;
  border-radius: 2px;
  background-color: #f0f3f5;
  box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.06);
  font-family: var(--font-regular);
}

.header {
  display: flex;
  align-items: center;
  padding-right: 32px;
  padding-left: 32px;
  height: 52px;
  background: linear-gradient(45deg, #244abf 0%, #4760ff 100%);
  & .menuIcon {
    cursor: pointer;
  }
  & .menu {
    flex: 1;
    padding-right: 24px;
  }
  & .label {
    color: #fff;
    text-align: center;
  }
}
