@import '../../../themes/mixins/loading-spinner.scss';

.processing {
  @include loading-spinner('../../../assets/images/spinner-light.svg');
}

.label {
  color: var(--yoroi-palette-gray-900);
  font-size: 14px;
  line-height: 22px;
  display: block;
  font-weight: 400;
  margin-bottom: 4px;
  text-align: left;
}

.derivation {
  font-family: 'RobotoMono';
  font-weight: 400;
  letter-spacing: 0;
}

.hash {
  color: var(--yoroi-palette-gray-600);
  font-size: 16px;
  line-height: 22px;
}

:global(.YoroiModern) {
  .component {
    min-width: var(--yoroi-comp-dialog-min-width-lg);
    max-width: var(--yoroi-comp-dialog-min-width-lg);
  } 
}
