.component {
  margin-bottom: 30px;
  padding-bottom: 30px;
  position: relative;

  .header {
    display: flex;

    .warningSection {
      border-radius: 8px;
      box-shadow: var(--yoroi-warning-box-bg-shadow);
      width: 80%;
      .attentionLabel {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;

        padding-top: 24px;
        margin-bottom: 12px;
      }

      .text {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        padding-top: 8px;
        padding-bottom: 12px;
        padding-right: 12px;
      }

      p {
        padding-left: 24px;
      }
    }
  }
}

.invalidURIImg {
  display: block;
  text-align: center;
}
