$time-min-width: 110px;
$time-align: left;

$type-min-width: 250px;
$type-align: left;

$status-width: 87px;
$status-align: center;

$min-fee-width: 80px; // fits 2-digit fees
$fee-align: center;

$min-amount-width: 191px; // fits 16 digits
$amount-align: right;
