@import './categoryData';

.component {
  // ========= TOGGLER =========
  .toggler {
    cursor: pointer;
    padding: 25px 0;
  }

  .togglerContent {
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    white-space: nowrap;
  }

  .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .time {
    min-width: $time-min-width;
    text-align: $time-align;

    font-weight: 400;
    color: var(--yoroi-palette-gray-900);
    font-size: 16px;
    line-height: 25px;
  }

  .type {
    min-width: $type-min-width;
    text-align: $type-align;

    text-align: left;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: var(--yoroi-palette-gray-900);
  }

  .status {
    width: $status-width;
    min-width: $status-width;
    text-align: $status-align;

    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 8px;
    padding-top: 3px;
    height: 25px;
    user-select: none;
  }
  .typeAddress {
    min-width: fit-content;
    height: auto;
    width: 105px;
    font-size: 10px;
    letter-spacing: 0;
    padding: 4px 8px;
    border-radius: 20px;
  }

  .currency {
    color: var(--yoroi-palette-gray-900);
    font-size: 16px;
    line-height: 22px;

    .afterDecimal {
      font-size: 12px;
    }
  }
  .asset {
    color: var(--yoroi-palette-gray-900);
    font-size: 14px;
    line-height: 20px;

    .afterDecimal {
      font-size: 10px;
    }
  }

  .fee {
    min-width: $min-fee-width;
    text-align: $fee-align;

    text-align: center;
    font-weight: 400;
  }
  .amount {
    min-width: $min-amount-width;
    text-align: $amount-align;

    font-weight: 500;
    text-align: right;
  }
  .pendingLabel {
    background-color: var(--yoroi-palette-tx-status-pending-background);
    background-size: 35px 50px;
    overflow: hidden;
    background-image: linear-gradient(
      55deg,
      transparent 33.4%,
      var(--yoroi-palette-tx-status-pending-stripes) 33.4%,
      var(--yoroi-palette-tx-status-pending-stripes) 50%,
      transparent 50%,
      transparent 83.4%,
      var(--yoroi-palette-tx-status-pending-stripes) 83.4%,
      var(--yoroi-palette-tx-status-pending-stripes)
    );
    animation: pending-label-animation 3s linear infinite;
    :global {
      @keyframes pending-label-animation {
        0% {
          background-position: 0 0;
        }
        100% {
          background-position: 70px 50px;
        }
      }
    }
  }

  .amountSmall {
    color: var(--yoroi-widgets-hash-light);
    font-size: 14px;
  }
  .afterDecimal {
    font-size: 12px;
  }

  .failedLabel {
    color: var(--yoroi-palette-tx-status-failed-text);
    background-color: var(--yoroi-palette-tx-status-failed-background);
  }

  .low {
    color: var(--yoroi-palette-tx-status-low-text);
    background-color: var(--yoroi-palette-tx-status-low-background);
  }

  .medium {
    color: var(--yoroi-palette-tx-status-medium-text);
    background-color: var(--yoroi-palette-tx-status-medium-background);
  }

  .high {
    color: var(--yoroi-palette-tx-status-high-text);
    background-color: var(--yoroi-palette-tx-status-high-background);
  }

  .assuranceLevel {
    text-transform: capitalize;
  }

  &.pending {
    .type,
    .time,
    .fee,
    .amount,
    .details {
      color: var(--yoroi-palette-gray-300);
    }
    .status {
      color: var(--yoroi-palette-tx-status-pending-text);
    }
  }

  .expandArrowBox {
    margin-left: 16px;
    align-items: center;
  }

  .expandArrow svg {
    width: 24px;
    height: 24px;
  }

  .collapseArrow svg {
    width: 24px;
    height: 24px;
    transform: rotate(180deg);
  }
  // ========= DETAILS =========
  .content {
    .closed {
      max-height: 0;
      overflow: hidden;
      padding-bottom: 0;
    }

    .expanded {
      max-height: 100%;
    }
  }
  .shadow {
    box-shadow: inset 0 -1px 10px 0 rgba(255, 255, 255, 0.5),
      inset 0 2px 4px 0 rgba(56, 57, 61, 0.2);
  }

  .last {
    .expanded {
      margin-bottom: 8px;
    }
  }
  

  .details {
    height: auto;

    .addressContent {
      display: flex;
      & > div {
        flex: 1 1 50%;
        padding-top: 16px;
        margin-bottom: -1px;
      }
      @media (max-width: 1140px) {
        flex-direction: column;
        border: none;
        & > div {
          &:first-child {
            padding-right: 0;
          }
          &:last-child {
            border: none;
            padding-left: 0;
            padding-top: 40px;
          }
        }
      }
    }
    .addressHeader {
      display: grid;
      grid-gap: 15px;
      grid-template-columns: minmax(232px, 1fr) 105px 1fr;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24px;
      padding-left: 24px;
      h2 {
        margin: 0;
      }
    }
    .addressCount {
      font-weight: bold;
      margin-left: 5px;
    }
    .addressList {
      font-size: 14px;
      & > * {
        padding-bottom: 16px;
        padding-top: 16px;
        padding-left: 24px;
        padding-right: 24px;
      }

      & > div:last-child {
        border-bottom: 0;
      }
    }
    .addressItem {
      display: grid;
      grid-gap: 15px;
      grid-template-columns: minmax(232px, 1fr) 105px 1fr;
      align-items: center;
    }
    * + h2,
    * + .row {
      margin-top: 18px;
    }

    h2 {
      font-weight: 400;
      font-size: 14px;
      margin-bottom: 3px;
      line-height: 1.38;
    }

    .rowData {
      font-size: 14px;
      font-weight: 400;
      color: var(--yoroi-palette-gray-600);
      word-break: break-all;
      line-height: 22px;
    }

    .editButton {
      cursor: pointer;
      margin-left: 6px;

      .editMemoIcon {
        cursor: pointer;
        display: inline-flex;
        object-fit: contain;
        vertical-align: bottom;
        & > svg {
          height: 15px;
          width: 15px;
        }
      }
    }

    .memoActionItemBlock {
      letter-spacing: 0.5px;
      margin: 10px 0;
      line-height: 20px;
      vertical-align: top;
      white-space: nowrap;

      * {
        vertical-align: middle;
      }

      button {
        cursor: pointer;
      }

      span {
        color: #242838;
        font-weight: 400;
        font-size: 14px;
        margin-left: 6px;
      }

      .addMemoIcon {
        cursor: pointer;
        display: inline-flex;
        object-fit: contain;
        margin-left: 4px;
        & > svg {
          height: 20px;
          width: 20px;
        }
      }
    }

    .hash {
      font-family: 'RobotoMono';
      font-weight: 400;
    }
  }

  .conversion {
    display: flex;
  }

  .conversionRate {
    margin-left: 76px;
  }
}
