.transactionTypeIconWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 44px;
  justify-content: center;
  width: 24px;

  &.expend {
    svg path {
      fill: var(--yoroi-transactions-icon-type-expend-background-color);
    }
  }

  &.income {
    svg path {
      fill: var(--yoroi-transactions-icon-type-income-background-color);
    }
  }

  &.exchange {
    svg path {
      fill: var(--yoroi-transactions-icon-type-exchange-background-color);
    }
  }

  &.failed {
    svg path {
      fill: var(--yoroi-transactions-icon-type-failed-background-color);
    }
    .transactionTypeIcon > svg {
      height: 16px;
      width: 22px;
    }
  }
}

.transactionTypeIcon {
  display: flex;

  & > svg {
    height: 19px;
    width: 23px;
    path {
      fill: #fafbfc;
    }
  }
}
