@mixin unordered-donot-list() {
  li::before {
    content: '               '; // Hair Space (U+200A)
    margin-right: 0.4em;
    font-size: 0.8em;
    background-image: url(../../../assets/images/transaction/deny-ic.inline.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  li {
    font-weight: 400;
    display: list-item;
    margin-left: 12px;
    line-height: 1.38;
    font-size: 14px;
    color: var(--th-palette-gray-800);

    & + li {
      margin-top: 8px;
    }
  }
}
