@import '../../../../themes/mixins/loading-spinner';

.dialog {
  font-family: var(--font-medium);
  overflow: hidden;

  :global {
    .Dialog_title {
      margin-bottom: 20px;
    }
  };

  .submitButtonSpinning {
    @include loading-spinner("../../../../assets/images/spinner-light.svg");
  };

  .infoBlock {
     // TODO: create new color variable
    background-color: var(--theme-trezor-connect-dialog-middle-block-common-background-color);
    font-family: var(--font-regular);
    padding: 5px;
    margin-bottom: 20px;
    line-height: 1.38;
    font-size: 14px;
    opacity: 0.7;
    letter-spacing: 0.5px;
    li {
      list-style-type: disc;
      margin-left: 18px;
    }
  }

  .currencySymbol {
    font-family: var(--font-light);
    text-transform: uppercase;
  }

  .addressToLabelWrapper,
  .amountFeesWrapper {
    margin-bottom: 20px;
  }

  .addressToLabel {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 1.38;
    margin-left: 10px;
    text-transform: uppercase;
  }

  .addressTo {
    font-family: var(--font-light);
    font-size: 15px;
    line-height: 1.38;
    margin-top: 6px;
    opacity: 0.5;
    word-wrap: break-word;
  }

  .amountFeesWrapper {
    display: flex;
    flex-direction: row;
    .amountWrapper,
    .feesWrapper {
      width: 50%;
    }
    .amountWrapper {
      margin-right: 10px;
    }
    .feesWrapper {
      margin-left: 10px;
    }
    .amountLabel,
    .feesLabel {
      font-size: 11px;
      font-weight: 600;
      letter-spacing: 0.5px;
      line-height: 1.38;
      margin-left: 10px;
      text-transform: uppercase;
    }
    .amount,
    .fees {
      color: var(--theme-send-confirmation-dialog-send-values-color);
      font-size: 15px;
      line-height: 1.38;
      margin-top: 6px;
      word-break: break-word;
    }
    .fees {
      opacity: 0.5;
    }
  }

  .totalAmountLabel {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 1.38;
    margin-left: 10px;
    text-transform: uppercase;
  }

  .totalAmount {
    color: var(--theme-send-confirmation-dialog-send-values-color);
    line-height: 1.38;
    margin-top: 6px;
    word-break: break-word;
  }
}
