@import '../../../themes/mixins/error-message';

.component {
  padding: 20px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: overlay;

  &::-webkit-scrollbar-button {
    height: 7px;
    display: block;
  }

  .centerBar {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .centeredBox {
    margin: 0 auto;
    width: 800px;
  }

  .error {
    @include error-message;
    text-align: center;
    margin-bottom: 1rem;
  }

  .checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
    padding-top: 40px;

    :global .SimpleCheckbox_label {
      font-family: var(--rp-theme-font-regular);
    }
  }
}
