$opacityCommon: 0.7;

.dialog {
  max-width: 635px !important;
  font-weight: 400;
}

.firstItem {
  margin-top: 48px;
}

.lineText {
  line-height: 22px;
  font-size: 14px;
}

.importantText {
  color: #ff1351 !important;
}

.lastItem {
  margin-top: 32px;
  margin-bottom: 34px !important;
}