@import './common.scss';

.pinContainer {
  display: flex;
  justify-content: center;
  :not(:last-child) {
    margin-right: 24px;
  }
  .pin {
    border: 1px solid #9B9B9B;
    width: 56px;
    height: 56px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      color: var(--yoroi-palette-gray-900);
    }
  }
}
