@import './common.scss';

.voting {
  display: flex;
  align-items: center;
  flex-direction: column;

  .cardContainer {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    :not(:last-child) {
      margin-right: 16px;
    }

    .card {
      background-repeat: no-repeat;
      background-position: 50% 30%;
      background-size: contain;

      width: 272px;
      height: 374px;
      border: 1px solid #C4CAD7;
      border-radius: 8px;
      padding: 24px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .lineText {
        font-size: 16px;
        text-align: left;
      }

      .number {
        width: 32px;
        height: 32px;
        border-radius: 20px;
        background-color: #DCE0E9;
        color: #242838;
        font-size: 16px;
        line-height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;        
      }

      .appBadges {
        display: flex;
        justify-content: center;
        margin-top: 12px;
      }
    }
  }

  .card {
    &.bgStep1 {
      background-image: url(../../../assets/images/pic-catalyst-step1.inline.svg);
    }
    &.bgStep2 {
      background-image: url(../../../assets/images/pic-catalyst-step2.inline.svg);
    }
    &.bgStep3TrezorT {
      background-image: url(../../../assets/images/pic-catalyst-step3-trezor.inline.svg);
    }
    &.bgStep3LedgerNano {
      background-image: url(../../../assets/images/pic-catalyst-step3-ledger.inline.svg);
    }
  }

  .lineTitle {
    line-height: 30px;
    font-size: 24px;
    color: #242838;
    text-align: center;
    font-weight: 800;
    margin-bottom: 12px;
    max-width: 714px;
  }
  
  .lineText {
    color: #6B7384;
    text-align: center;
  }

  .step2Text {
    margin-bottom: 24px;
  }
  
  .registerButton {
    text-align: center;
    margin-bottom: 32px;
  }

  .delegationStatus {
    text-align: center;
    margin-top: 32px;
  }
}