@import './common.scss';
@import '../../../themes/mixins/loading-spinner';
@import '../../../themes/mixins/error-message';

.dialog {
  font-family: var(--font-medium);

  .amountInput {
    margin-top: 23px;
  }

  :global {
    .Dialog_title {
      margin-bottom: 24px;
    }
  }

  .warningBox {
    margin-bottom: 24px;
  }

  .submitButtonSpinning {
    @include loading-spinner("../../../assets/images/spinner-light.svg");
  }  

  .error {
    @include error-message;
    text-align: center;
  }

  .infoBlock {
    background-color: var(--theme-hw-send-confirmation-info-block-background-color);
    font-family: var(--font-regular);
    padding: 10px;
    margin-bottom: 30px;
    line-height: 1.38;
    font-size: 14px;
    opacity: 0.7;
    letter-spacing: 0.5px;
    border-radius: 10px;
    li {
      list-style-type: disc;
      margin-left: 18px;
    }
  }
}

:global(.YoroiModern) .dialog {
  min-width: var(--theme-modal-min-max-width-lg);
  max-width: var(--theme-modal-min-max-width-lg);  
  font-family: var(--font-regular);

  .walletPassword {
    margin-top: 0;
  }
}
