@import './common.scss';
@import '../../../themes/mixins/loading-spinner';
@import '../../../themes/mixins/error-message';

.dialog {
  font-family: var(--font-medium);

  .amountInput {
    margin-top: 23px;
  }

  :global {
    .Dialog_title {
      margin-bottom: 24px;
    }
  }

  .warningBox {
    margin-bottom: 24px;
  }

  .submitButtonSpinning {
    @include loading-spinner("../../../assets/images/spinner-light.svg");
  }  

  .error {
    @include error-message;
    text-align: center;
  }
}

:global(.YoroiModern) .dialog {
  min-width: var(--theme-modal-min-max-width-lg);
  max-width: var(--theme-modal-min-max-width-lg);  
  font-family: var(--font-regular);

  .walletPassword {
    margin-top: 0;
  }
}
