.component {
  :global {
    .Dialog_title {
      margin-bottom: 24px;
    }
  }

  .uriDisplay {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: flex-start;

    .uri {
      font-weight: 400;
      word-break: break-all;
      font-size: 16px;
      line-height: 24px;
      text-align: left;
    }
  }

  .qrCode {
    margin: 24px auto;
    text-align: center;
  }
}
