.component {

  font-weight: 400;
  font-size: 16px;

  .warningText {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .address {
    letter-spacing: 0px;
    font-family: 'RobotoMono';
    font-weight: 400;
    word-break: break-all;
    font-size: 16px;
    line-height: 23px;
  }

  .continueButton {
    display: block !important;
    margin: 30px auto 0;
  }

  .invalidURIImg {
    display: block;
    width: 100%;
    text-align: center;
  }
}
