.dialog {
  font-weight: 400;

  :global {
    .Dialog_title {
      margin-bottom: 30px;
    }
  }

  .label {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .address {
    letter-spacing: 0px;
    font-family: 'RobotoMono';
    font-weight: 400;
    word-break: break-all;
    font-size: 16px;
    line-height: 23px;
  }

  .amount {
    color: var(--yoroi-send-confirmation-dialog-send-values-color);
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 1.38;
    display: block;
  }

  .textBlock {
    font-weight: 300;
    margin-top: 10px;
    font-size: 13px;
    margin-bottom: 20px;
  }

  .amountSmall {
    @extend .amount;
    font-size: 14px;
    color: var(--yoroi-widgets-hash-light);
  }
}

:global(.YoroiModern) .component, :global(.YoroiRevamp) .component {
  min-width: var(--yoroi-comp-dialog-min-width-lg);
  max-width: var(--yoroi-comp-dialog-min-width-lg);
}
