@import '../../../themes/mixins/loading-spinner.scss';

.processing {
  @include loading-spinner("../../../assets/images/spinner-light.svg");
}

.infoBlock {
  font-family: var(--font-regular);
  font-size: 15px;
  opacity: 0.7;
  text-align: center;
  padding: 10px 0 0 0;
}
