.component {
  height: 100%;
  width: 100%;
  background-color: #f0f3f5;
  display: flex;
  justify-content: center;

  .container {
    width: 750px;
    height: 600px;
    overflow-y: scroll;
    background-color: white;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 8px;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .container::-webkit-scrollbar {
    display: none;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 2px 4px 0 rgba(56, 57, 61, 0.2);

    & > p {
      padding-left: 40px;
      padding-top: 28px;
      color: #a7afc0;
      font-family: Rubik;
      font-size: 14px;
      letter-spacing: 0;
      line-height: 22px;
      padding-bottom: 16px;
    }
  }
  .chain {
    padding: 0px 24px;
    & > h1 {
      margin-top: 8px;
      margin-bottom: 8px;
      margin-left: 14px;
      color: #a7afc0;
      font-family: Rubik;
      font-size: 14px;
      letter-spacing: 0;
      line-height: 22px;
    }
  }

  .line {
    position: relative;
    width: 100%;

    &::after {
      content: '';
      left: 50%;
      position: absolute;
      width: 95%;
      height: 1px;
      background-color: #dce0e9;
      transform: translateX(-50%);
    }
  }
  .chain:first-child {
    padding-top: 20px;
  }
}

.noItems {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--yoroi-palette-gray-600);
  text-align: center;
  svg {
    margin-bottom: 24px;
  }
  h3 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 35px;
  }
}
