@import '../../../themes/mixins/loading-spinner';

.component {
    padding: 15px 12px 20px 12px;
    border: 1px solid #ffff;
    border-radius: 8px;
    margin-bottom: 15px;

    &:hover {
        border: 1px solid #EAEDF2;
    }

    .rowWrapper {
        display: grid;
        grid-template-columns: 6fr 5fr 1fr; 
        grid-gap: 5px;
        align-items: center;
    }

    .name {
        color: #242838;
        font-family: Rubik;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 22px;
        margin-bottom: 6px;
    }

    .card {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
      
        letter-spacing: 0;
        line-height: 22px;
        & .avatar {
            margin-right: 12px;
            overflow: hidden;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            img {
                object-fit: cover;
            }
        }

        & .balance {
          font-weight: 500;
          .isLoading {
              @include loading-spinner('../../../assets/images/spinner-dark.svg', 20);
          }
        }
    }

    .delete {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 25px;
        border-radius: 50%;
        width: 32px;
        height: 32px;
    }

    .delete:hover {
       background-color: var(--yoroi-palette-gray-50);
    }

    .dapp {
        display: flex;
        align-items: center;
        padding-left: 40px;

        & > div {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .url {
                color: #242838;
                font-family: Rubik;
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 0;
                line-height: 24px;
            }

            .status {
                color: #17D1AA;
                font-family: Rubik;
                font-size: 14px;
                letter-spacing: 0;
                line-height: 22px;
            }
        }

        .websiteIcon {
            margin-right: 10px;
            border-radius: 50%;
            overflow: hidden;
            width: 32px;
            height: 32px;
            border: 1px solid #EAEDF2 ;
           img {
                object-fit: cover;
           }
        }
    }
}

.isLoading {
    position: relative;
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 4px;
}