.component {
  border-radius: 8px;
  padding: 16px;
  width: 312px;
  min-height: 352px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    content: '';
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-radius: 8px;
    z-index: -1;
    transition: opacity 300ms linear;
    opacity: 0;
  }

  &:hover::before {
    opacity: 1;
  }
}
