@import '../../../../themes/mixins/loading-spinner';
@import '../../../../themes/mixins/error-message';

.component {
  text-align: center;
  font-weight: 400;
  line-height: 22px;

  .downloadIcon {
    cursor: pointer;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    margin-top: 16px;
    margin-bottom: 24px;
    width: 92px;
    height: 92px;
  }

  .downloadIcon:focus {
    outline: none;
  }

  .labelDownload {
    font-size: 16px;
    margin-bottom: 6px;
  }

  .labelDownloadSize {
    font-size: 14px;
    color: var(--yoroi-palette-gray-400);
  }

  .walletLoaderWrapper {
    .walletLoaderTitle {
      word-break: break-all;
      font-size: 16px;
      margin-bottom: 6px;
    }

    .walletLoaderProgressInfo {
      font-size: 14px;
      color: var(--yoroi-palette-gray-400);
      word-break: break-word;
    }
  }
}

:global(.YoroiClassic) {
  .component {
    .downloadIcon {
      background-image: url('../../../../assets/images/paper-wallet/download-certificate-classic.inline.svg');
    }
  }
}

:global(.YoroiModern), :global(.YoroiRevamp) {
  .component {
    .downloadIcon {
      background-image: url('../../../../assets/images/paper-wallet/download-certificate-modern.inline.svg');
    }
  }
}
