@import '../../../../themes/mixins/loading-spinner';
@import '../../../../themes/mixins/error-message';

.dialog {
  font-weight: 300;

  .error {
    @include error-message;
    text-align: center;
    margin-top: 27px;
  }
}

:global(.YoroiClassic) {
  .dialog {
    .paperPassword {
      margin-top: 10px;
    }
    .repeatedPassword {
      margin-top: 0;
    }
  }
}

:global(.YoroiModern), :global(.YoroiRevamp) {
  .dialog {
    :global(.Dialog_actions) {
      margin-top: 10px;
    }
  }
}

:global .UserPasswordDialog_dialog .HeaderBlock_headerBlock {
  margin-bottom: 24px;
}
