.backButton {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  background-color: transparent;
  color: var(--yoroi-palette-gray-600);
  height: 100%;
  display: block;

  &:hover {
    cursor: pointer;
  }
}

.backIcon {
  width: 12px;
  height: 12px;
  margin-right: 16px;
}
