.navbarRevamp {
  position: relative;
  z-index: 100;
  background-color: #fff;
  color: var(--theme-navbar-color);
  box-shadow: 0 4px 6px 0 #dee2ea, 0 1px 2px 0 rgba(222, 226, 234, 0.82),
    0 2px 4px 0 rgba(222, 226, 234, 0.74);
  display: flex;
  align-items: center;
  padding: 32px 40px;
  height: 90px;

  .mainRevamp {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  .menu {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
.navbarRevampWithMenu {
  height: 111px;
  padding: 34px 40px 49px;
}
.title {
  flex: 0 0 auto;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.notifications {
  margin-left: 11.5px;
  svg {
    max-width: 24px;
    max-height: 24px;
    path {
      fill: #6b7384;
    }
  }
}

.details {
  flex: 0 0 auto;
  margin-left: 32px;
  min-width: 280px;
}

.buyButton {
  align-self: center;
  margin-left: 24px;
}
