.title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  height: 100%;
  display: flex;
  align-items: center;
}
.titleRevamp {
  font-size: 20px;
  font-weight: 500;
  height: 100%;
  letter-spacing: 0;
  line-height: 28px;
  display: flex;
  align-items: center;
}
