.wrapper {
  position: absolute;
  padding-top: 33px;
  top: 40px;
  width: 100%;
  right: 0;
  z-index: 1;
}

.card {
  overflow: hidden;

  border-radius: 8px;
  background-color: var(--theme-wallet-dropdown-background-color);
  width: 100%;
  border: 1px solid #eaedf2;
  box-shadow: 0 10px 30px 0 rgba(24, 26, 30, 0.12);
}

.footer {
  border-top: 1px solid #dce0e9;
  display: flex;
  justify-content: center;
  button {
    padding: 20px 0;
    color: #17d1aa;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    font-family: var(--font-medium);
  }
}
