.content {
  overflow: auto;
  border-radius: 0 0 8px 8px;
  background-color: var(--th-palette-common-white);
  box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.16);
  min-width: 700px;
  position: absolute;
  top: 65px;
  right: 0;
}

.buttonWrapper {
  display: flex;
  padding: 23px 32px;

  justify-content: flex-end;

  .buyButton {
    margin-right: 24px;
  }
}
