.wrapper {
  padding: 20px 40px 20px;
  display: flex;
  background-color: var(--yoroi-palette-common-white);
  border-bottom: 1px solid var(--yoroi-palette-gray-100);
}

.titleWrapper {
  padding: 24px 100px 40px 40px;
}

.title {
  color: var(--yoroi-palette-gray-600);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
}

.currentWrapper {
  background-color: var(--yoroi-palette-gray-50);
}

.head {
  min-width: 300px;
}
button {
  &:hover {
    cursor: pointer;
  }
}

.details {
  flex: 1;
}

.sync {
  position: relative;
  left: 10px;
  align-self: flex-end;
  color: var(--yoroi-palette-gray-900);
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
}

.syncLabel {
  color: var(--yoroi-palette-gray-600);
}
