.wrapper {
  position: relative;
}

.head {
  display: flex;
  align-items: center;

  .component {
    flex: 1;
    min-width: 250px;
  }
}

.toggle {
  margin-left: 58px;
  padding: 15px;
  border-radius: 100%;
  display: flex;
  transition: background-color .4s ;
  &:hover {
    cursor: pointer;
    background-color: #EDEDED;
  }
}

.toggleRotate svg {
  transform: rotate(180deg);
}
