.wrapper {
  padding: 20px 20px 20px 30px;
  display: flex;
  background-color: var(--yoroi-palette-common-white);
}

.titleWrapper {
  padding: 24px 100px 40px 40px;
}

.title {
  color: var(--yoroi-palette-gray-600);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
}

.currentWrapper {
  background-color: var(--yoroi-palette-gray-50);
}

.head {
  min-width: 300px;
}
button {
  &:hover {
    cursor: pointer;
  }
}

.details {
  flex: 1;
}

.syncLabel {
  color: var(--yoroi-palette-gray-600);
}
