@import '../../themes/mixins/loading-spinner';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--yoroi-palette-gray-900);
  border: 1px solid var(--yoroi-palette-gray-300);
  border-radius: 8px;
}

.outerWrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
}

.contentWrapper {
  display: flex;
  align-items: center;
  padding: 0px 8px;
}

.plate {
  margin-right: 12px;
  display: flex;
  flex-shrink: 0;
  border: none;
  overflow: hidden;
  width: 32px;
  height: 32px;
  & canvas {
    width: 100% !important;
    height: 100% !important;
  }
}

.walletInfo {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: start;
  margin-right: auto;

  .name {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
  }

  .plateId {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
  }
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 16px;
  line-height: 22px;
  width: 100%;
}

.balance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  font-size: 16px;
  line-height: 22px;
  width: 100%;
  margin-left: 24px;
  margin-right: 8px;
}

.spinnerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: 16px;
  line-height: 22px;
  width: 100%;
}

.amount {
  font-weight: 500;

  & > p {
    text-align: left !important;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &:first-child {
      font-size: 14px;
    }

    &:nth-child(2) {
      margin-top: -2px;
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 12px;
      font-weight: 400;
    }
  }
}

.highlightAmount {
  color: var(--yoroi-palette-secondary-300);
}

.fixedAmount {
  color: var(--yoroi-palette-gray-600);
}
