.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  min-height: 60px;
  color: var(--yoroi-palette-gray-900);
  font-weight: 400;
}

.outerWrapper {
  display: flex;
}

.currency {
  box-sizing: border-box;
  height: fit-content;
  width: fit-content;
  border: 1px solid var(--yoroi-palette-gray-200);
  border-radius: 8px;
  background-color: var(--yoroi-palette-gray-50);
  margin-right: 11.5px;
}
.currencyAlign {
  margin-top: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex: 1;
  width: max-content;
  max-width: max-content;
}

.amount {
    font-family: var(--font-medium);
    font-size: 16px;
    line-height: 20px;
}

.highlightAmount {
  color: var(--yoroi-palette-secondary-300);
}

.toggleButton {
  align-self: flex-start;
  margin-left: 12px;
  &:hover {
    cursor: pointer;
  }
}

.text {
  font-size: 14px;
  line-height: 22px;
  margin-top: 2px;
}

.details {
    font-size: 10px;
    line-height: 14px;
    margin-top: -2px;

  .afterDecimal {
    font-size: 10px;
    font-weight: 300;
  }
}

.label {
  display: inline-block;
  color: var(--yoroi-palette-gray-600);
}

.info {
  font-size: 12px;
  line-height: 20px;
  color: var(--yoroi-palette-gray-600);
}
