@import '../../themes/mixins/loading-spinner';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--yoroi-palette-gray-900);
  border: 1px solid var(--yoroi-palette-gray-300);
  border-radius: 8px;
  min-width: 360px;
}

.outerWrapper {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.contentWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px;
  padding: 0px 16px;
}

.currency {
  margin-right: 12px;
  display: flex;
  flex-shrink: 0;
  border-radius: 50%;
  border: none;
  overflow: hidden;
  width: 32px;
  height: 32px;
  & canvas {
    width: 100% !important;
    height: 100% !important;
  }
}

.walletInfo {
  max-width: 100px;
  flex-shrink: 0;
  margin-right: auto;
  .name { 
    font-size: 14px;
    line-height: 22px;
    color: #242838;
    font-weight: 500;
  }

  .plateId {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #6B7384;
  }
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 16px;
  line-height: 22px;
  width: 100%;
}
.balance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  font-size: 16px;
  line-height: 22px;
  margin-left: auto;
}

.isLoading {  
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.amount {
  font-weight: 500;
}

.highlightAmount {
  color: var(--yoroi-palette-secondary-300);
}

.toggleButton {
  margin-left: auto;
  background-color: var(--yoroi-palette-primary-200);
  width: 56px;
  height: 56px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  &:hover {
    cursor: pointer;
  }

  g {
    stroke: #ffffff;
  }
}

.fixedAmount {
  color: var(--yoroi-palette-gray-600);
}
