@import '../../themes/mixins/loading-spinner';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--yoroi-palette-gray-900);
  border: 1px solid var(--yoroi-palette-gray-300);
  border-radius: 8px;
  width: 360px;
}

.outerWrapper {
  display: flex;
  align-items: center;
}

.currency {
  margin-right: 12px;
  display: flex;
  border-radius: 50%;
  border: none;
  overflow: hidden;
  width: 32px;
  height: 32px;
  & canvas {
    width: 100% !important;
    height: 100% !important;
  }
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 16px;
  line-height: 22px;
}
.balance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  line-height: 22px;
}

.isLoading {
  position: relative;
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 4px;
}

.amount {
  font-weight: 500;
  .isLoading {
    margin-left: 9px;
    margin-bottom: 6px;
    @include loading-spinner('../../assets/images/spinner-dark.svg', 16);
  }
}

.highlightAmount {
  color: var(--yoroi-palette-secondary-300);
}

.toggleButton {
  margin-left: auto;
  &:hover {
    cursor: pointer;
  }
}

.fixedAmount {
  color: var(--yoroi-palette-gray-600);
}
