@import '../../themes/mixins/loading-spinner';

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  min-height: 60px;
}

.info {
  margin-right: -48px;
  text-align: right;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: var(--yoroi-palette-gray-600);
}
