@import '../../themes/mixins/loading-spinner';

.component {
    margin-top: 20px;

    .header {
        display: flex;
        color: var(--yoroi-palette-gray-900);
        font-size: 14px;
        letter-spacing: 0;
        line-height: 22px;
        margin-bottom: 8px;

        .name {
            margin-right: 4px;
        }

        .type {
            margin-left: 4px;
        }
    }

    .body {
        display: flex;
        align-items: center;
        margin-top: 0px;

        .isLoading {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 15px;
        }

        .amount {
            margin-left: 12px;
            flex: 1;

            & > p:nth-child(2) {
                margin-top: 5px;
            }
        }

        .fixedAmount {
            margin-left: 12px;
            color: var(--yoroi-palette-gray-600);
            font-size: 14px;
            letter-spacing: 0;
            line-height: 22px;
        }
    }
}

.main {
    flex: 1;
    canvas {
      width: 32px !important;
      height: 32px !important;
      border-radius: 50%;
    }
}