.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--yoroi-sidebar-background);
}

.header {
  padding: 18px;
  min-height: 74px;
  & svg > path {
    fill: var(--yoroi-sidebar-text);
  }
}

.categories {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.faq {
  max-width: 47px;
  text-transform: uppercase;
  border-radius: 20px;
  background: #1737A3;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 12px;
  padding: 14px 12px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0px 12px;

  &:hover {
    background-color: #122770;
  }
}

.toggleButton {
  padding: 20px 24px;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  & svg > path {
    fill: var(--yoroi-sidebar-text);
  }
  &:hover {
    cursor: pointer;
    & svg > path {
      fill: var(--yoroi-palette-secondary-300);
    }
  }
  & .iconRotate {
    transform: rotate(180deg);
  }

  &.toggleActive {
    justify-content: flex-end;
  }
}
