.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 72px;

  .faq {
    max-width: 47px;
    text-transform: uppercase;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    padding: 14px 12px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px 12px;
    margin-bottom: 32px;
  }
}

.header {
  padding: 32px 28px;
  margin-bottom: 28px;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
    height: 1px;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
  }
}

.categories {
  display: flex;
  flex-direction: column;
  flex: 1;
  // & > *:nth-child(5) {
  //   position: relative;
  //   padding-bottom: 20px;
  //   margin-bottom: 20px;
  // }
  & > *:nth-child(4)::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 1px;
    bottom: -8px;
    background: rgba(255, 255, 255, 0.5);
  }
}
