.wrapper {
  width: 72px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(30.09deg, #244abf 0%, #4760ff 100%);

  .faq {
    max-width: 47px;
    text-transform: uppercase;
    border-radius: 20px;
    background: #1737a3;
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font-size: 12px;
    padding: 14px 12px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px 12px;
    margin-bottom: 32px;
    &:hover {
      background-color: #122770;
    }
  }
}

.header {
  padding: 32px 0px 24px;
  margin-bottom: 28px;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
    height: 1px;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
  }
  & svg {
    transform: scale(0.9);
  }
  & svg > path {
    fill: white;
  }
}

.categories {
  display: flex;
  flex-direction: column;
  flex: 1;
  & > *:nth-child(4)::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 1px;
    bottom: -8px;
    background: rgba(255, 255, 255, 0.5);
  }
}
