.component {
  padding: 20px 24px;
  height: 67px;
  width: 100%;
  display: flex;
  align-items: center;
  & svg > path {
    fill: var(--th-sidebar-text);
  }
  &:hover {
    & svg > path {
      fill: var(--th-palette-secondary-300);
    }
  }
  &.active:hover {
    cursor: default !important;
  }
  &.active {
    background-color: var(--th-sidebar-end);
    & svg > path {
      fill: var(--th-palette-secondary-300);
    }
  }
}

.icon {
  & > svg {
    max-width: 24px;
    max-height: 24px;
  }
}

.label {
  display: block;
  color: var(--th-sidebar-text);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 22px;
  margin-left: 16px;
}
