.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--th-sidebar-background);
}

.header {
  padding: 18px;
  min-height: 74px;
  & svg > path {
    fill: var(--th-sidebar-text);
  }
}

.categories {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.toggleButton {
  padding: 20px 24px;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  & svg > path {
    fill: var(--th-sidebar-text);
  }
  &:hover {
    cursor: pointer;
    & svg > path {
      fill: var(--th-palette-secondary-300);
    }
  }
  & .iconRotate {
    transform: rotate(180deg);
  }

  &.toggleActive {
    justify-content: flex-end;
  }
}
