.topbarTitleContainer {
  color: var(--yoroi-palette-common-white);
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;

  .topbarTitleText {
    font-size: 17px;
    font-weight: 500;
    color: var(--yoroi-palette-common-white);
  }

}
