.component {
  color: var(--yoroi-palette-gray-600);
  display: block;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding: 6px 0px;
  border-bottom: 3px solid transparent;
  width: initial;
}

.enabled {
  &:hover {
    color: var(--yoroi-palette-gray-900);
    cursor: pointer;
  }
}

.disabled {
  color: var(--yoroi-palette-gray-200);
}
