.component {
  background-color: var(--yoroi-palette-gray-50);
  padding: 10px 24px 0 24px;
  box-shadow: 0 4px 6px 0 var(--yoroi-palette-gray-200), 0 1px 2px 0 rgba(222, 226, 234, 0.82),
    0 2px 4px 0 rgba(222, 226, 234, 0.74);
  width: 100%;
  border: none;
  background: none;
  height: initial;
  overflow: auto;
  display: flex;
}

.componentRevamp {
  padding: 0 24px;
  width: 100%;
  display: flex;
}

.componentWrapper {
  position: relative;
}
