.topBar {
  align-items: center;
  background: var(--th-sidebar-background);
  display: flex;
  height: var(--topbar-height);
  padding: 0;
  position: relative;
  z-index: 100;

  .topBarTitle {
    flex-grow: 1;
  }
}
