@import '../../themes/mixins/loading-spinner';

.main {
  flex: 1;
  canvas {
    width: 32px !important;
    height: 32px !important;
    border-radius: 50%;
  }
}
.header {
  display: flex;
  color: var(--yoroi-palette-gray-900);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
  margin-bottom: 8px;
}

.body {
  display: flex;
  align-items: center;
}

.name {
  margin-right: 5px;
}

.type {
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.data {
  margin-left: 12px;
}

.isLoading {
  position: relative;
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 4px;
}

.fixedAmount {
  color: var(--yoroi-palette-gray-600);
}
.amount {
  font-weight: 500;
  flex: 1;
  .isLoading {
    margin-left: 9px;
    margin-bottom: 6px;
    @include loading-spinner('../../assets/images/spinner-dark.svg', 16);
  }
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-size: 14px;
  line-height: 22px;
  margin-left: 12px;
}

.extraInfo {
  flex: 1;
  text-align: left;
  .label {
    color: var(--yoroi-palette-gray-600);
    line-height: 22px;
  }
  .value {
    color: var(--yoroi-palette-gray-900);
  }
}
.actions {
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  
  svg {
    max-width: 24px;
    max-height: 24px;
    color: var(--yoroi-palette-gray-600);
  }
  & > * {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background: #eaedf2;
    }
  }
}

.showActions {
  opacity: 1;
}
.cardWrapper {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid transparent;

  & + & {
    margin-top: 14px;
  }

  &:hover {
    cursor: pointer;
    border: 1px solid #eaedf2;
  }
}

.isDragging {
  border: 1px solid #eaedf2;
}

.currentCardWrapper {
  border: 1px solid #3154cb;

  &:hover {
    cursor: pointer;
    border: 1px solid #3154cb;
  }
}
