@import '../../themes/mixins/loading-spinner';

.component {
  font-size: 16px;
  min-width: 673px !important;
  max-height: 90vh;
  padding-right: 0 !important;
  padding-bottom: 0px !important;

  & > div {
    padding: 0px;
    max-height: unset !important;
  }

  .header {
    position: sticky;
    top: 0px;
    background: var(--yoroi-comp-dialog-background);
    padding-bottom: 14px;

    padding-top: 14px;
    padding-left: 40px;

  }

  .totalInfo {
    display: flex;
  }

  .amount {
    margin-right: 8px;
    color: var(--yoroi-palette-gray-600);
    .label {
      margin-bottom: 4px;
      font-size: 14px;
    }
    .value {
      font-weight: 500;
      margin-top: 10px;
      & > p {
        color: var(--yoroi-palette-gray-600) !important;
        font-size: 16px;
      }
    }
  }
  .toggleButton {
    display: flex;
    align-self: flex-end;
  }

  .sectionHeader {
    color: #A7AFC0;
    font-size: 14px;
    margin-top: 26px;
  }

  .list {
    display: flex;
    flex-direction: column;
    padding: 15px 0px 30px 0;
    overflow-y: auto;
  }
}

