.component {
  .header {
    position: sticky;
    top: 0px;
    padding-bottom: 14px;
  }

  .totalInfo {
    display: flex;
  }

  .amount {
    margin-right: 8px;
    color: var(--yoroi-palette-gray-600);
    .label {
      margin-bottom: 4px;
      font-size: 14px;
    }
    .value {
      font-weight: 500;
      margin-top: 10px;
      & > p {
        color: var(--yoroi-palette-gray-600) !important;
        font-size: 16px;
      }
    }
  }
  .toggleButton {
    display: flex;
    align-self: flex-end;
  }

  .sectionHeader {
    color: #a7afc0;
    font-size: 14px;
    margin-top: 26px;
  }

  .list {
    display: flex;
    flex-direction: column;
    padding: 15px 0px 30px 0;
    overflow-y: auto;
  }
}
