.component {
  font-size: 16px;
  min-width: 673px !important;
  padding-right: 0 !important;

  .header {
    position: sticky;
    top: 0px;
    background: var(--yoroi-comp-dialog-background);
    padding-bottom: 14px;

    padding-top: 14px;
    padding-left: 40px;
  }
  .totalInfo {
    display: flex;
  }
  .amount {
    margin-right: 8px;
    color: var(--yoroi-palette-gray-600);
    .label {
      margin-bottom: 4px;
      font-size: 14px;
    }
    .value {
      font-weight: 500;
    }
  }
  .toggleButton {
    display: flex;
    align-self: flex-end;
  }

  .sectionHeader {
    color: #A7AFC0;
    font-size: 14px;
    margin-top: 26px;
    padding-left: 40px;
  }

  .list {
    display: flex;
    flex-direction: column;
    padding: 15px 0px 30px 0;
    padding-left: 24px;
    overflow-y: scroll;
  }
  .footer {
    position: sticky;
    bottom: 0px;
    background: var(--yoroi-comp-dialog-background);
    border-top: 1px solid #dce0e9;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    button {
      font-weight: 500;
      text-transform: uppercase;
      color: var(--yoroi-palette-secondary-300);
    }
  }
}
