@mixin loading-spinner($iconPath, $size:30) {
  text-indent: -9999px;
  &:after {
    content: '';
    width: $size + px;
    height: $size + px;
    position: absolute;
    top: calc(50% - #{$size / 2}px);
    left: calc(50% - #{$size / 2}px);
    background: url($iconPath) no-repeat center;
    background-size: $size + px;
    :global {
      animation: loading-spin 1.5s linear;
      animation-iteration-count: infinite;
    }
  }
}
