@mixin unordered-list() {
  li::before {
    content: "●";
    margin-right:0.4em;
    font-size:0.8em;
    color: var(--theme-bullet-point-color);
  }

  li {
    font-family: var(--font-regular);
    display: list-item;
    margin-left: 12px;
    margin-top: 8px;
    line-height: 1.38;
    font-size: 14px;
    color: var(--cmn-default-color-grey);
  }
}