.component {
  height: 100%;

  .hero {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: var(--yoroi-palette-gray-800);

    span {
      color: #6b7384;
      a {
        text-decoration: none;
        color: #3154cb;
      }
    }

    .headerText {
      max-width: 421px;
      font-size: 24px;
      text-align: center;
      margin-bottom: 12px;
    }
  }
}
