@import "./settingsConfig";

.component {
  background-color: var(--theme-settings-body-background-color);
  display: flex;
  flex-direction: column;
  height: 100%;

  .settingsPaneWrapper {
    flex: 1;
    overflow-x: hidden;
    overflow-y: overlay;
  }

  .settingsPane {
    min-height: 100%;
    padding: 32px 24px;
    background-color: var(--theme-settings-pane-background-color);
    border: var(--theme-settings-pane-border);
    overflow: visible;
  }

  fieldset {
    background: var(--theme-settings-pane-background-color);
  }
}
