@import './settingsConfig';

.component {
  background-color: var(--yoroi-palette-common-white);
  display: flex;
  flex-direction: column;
  height: 100%;

  .settingsPaneWrapper {
    flex: 1;
    overflow-x: hidden;
    overflow-y: overlay;
  }

  .settingsPane {
    min-height: 100%;
    padding: 32px 24px;
    background-color: var(--yoroi-palette-common-white);
    border: 1px solid #ffffff;
    overflow: visible;
  }
}
