@mixin headerBlockBase {
  font-size: 14px;
  line-height: 22px;
  color: var(--theme-instructions-recovery-text-color);
  margin: 10px 0 14px 0;
  letter-spacing: 0;
}
.headerBlock {
  @include headerBlockBase;
  font-family: var(--font-regular);
} 
.headerBlockClassic {
  @include headerBlockBase;
  font-family: var(--font-light);
}
