.component {

  min-width: var(--theme-modal-min-max-width-lg) !important;
  max-width: var(--theme-modal-min-max-width-lg) !important;

  :global {
    .Dialog_title {
      margin-bottom: 30px;
    }
  }

  .receiverLabel {
    font-family: var(--font-regular);
    margin-bottom: 10px;
  }

  .receiverInput {
    position: relative;

    :global {
      .SimpleInput_input {
        font-family: var(--font-mono-light);
        letter-spacing: 0;
      }
    }
  }  

  .amountField {
    margin-bottom: 15px;
  }

  .generateButton {
    display: block !important;
    margin: 30px auto 0;
  }
}

:global(.YoroiClassic) .component {
  .receiverInput {
    margin-bottom: 10px;
  }  
}

:global(.YoroiModern) .component {
  .receiverInput {
    letter-spacing: 0;

    :global {
      .SimpleInput_input {
        font-family: var(--font-mono-regular);
      }
    }
  }  

  .generateButton {
    margin: 20px auto 0;
  }
}
