.component {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 648px;

  .search {
    border-radius: 8px;
    background-color: #f0f3f5;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .searchInput {
      width: 100%;
      background-color: inherit;
      border: none;
      padding: 12px 0px;
      margin-left: 12px;
    }

    .searchInput:focus {
      outline: none;
    }

    .searchInput::placeholder {
      color: #a7afc0;
      font-size: 14px;
      letter-spacing: 0;
      line-height: 22px;
    }
  }

  .minAda {
    color: #242838;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    margin-top: 24px;
  }

  .noAssetFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;

    img {
      display: inline-block;
      width: 130px;
      height: 100px;
      margin-bottom: 24px;
    }

    .text {
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 26px;
      text-align: center;
      margin-top: 16px;
    }
  }

  .nftsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    padding-bottom: 20px;
    height: 100%;
    max-height: 360px;
    overflow-y: scroll;
    margin-top: 24px;

    .nftCard {
      img,
      svg {
        display: inline-block;
        height: 141px;
        width: 141px;
        border-radius: 8px;
      }

      .nftName {
        margin-top: 12px;
        color: #242838;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 24px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
