.component {
    min-height: 500px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .search {
        border-radius: 8px;
        background-color: #F0F3F5;
        display: flex;
        align-items: center;
        padding: 0px 20px;

        .searchInput {
            width: 100%;
            background-color: inherit;
            border: none;
            padding: 12px 0px;
            margin-left: 12px;
        }

        .searchInput:focus {
            outline: none;
        }

        .searchInput::placeholder {
            color: #A7AFC0;
            font-family: Rubik;
            font-size: 14px;
            letter-spacing: 0;
            line-height: 22px;
        }

    }

    .columnsContainer {
        height: 360px;
        overflow-y: scroll;
        margin-right: -30px;
    }

    .minAda {
        color: #242838;
        font-family: Rubik;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        margin: 20px 0px;
    }

    .headerText {
        color: #A7AFC0;
        font-family: Rubik;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 22px;
    }

    .columns {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 16px 0px 32px 0px;

        .name {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            button {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                p {
                    margin-right: 4px;
                }
            }
        }

        .identifier {
            display: flex;
            align-items: center;
            justify-content: center;

            .headerText {
                margin-right: 4px;
            }
        }
        
        .quantity {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-right: 10px;

            button {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                p {
                    margin-right: 4px;
                }
            }
        }
    }

    .noAssetFound {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 30px;

        img {
            display: inline-block;
            width: 130px;
            height: 100px;
            margin-bottom: 24px;
        }

        .text {
            color: #242838;
            font-family: Rubik;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 26px;
            text-align: center;
        }

    }

    .add {
        border-top: 1.5px solid#DCE0E9;
        cursor: pointer;
        text-transform: uppercase;
        width: 670px;
        text-align: center;
        color: #17D1AA;
        font-family: Rubik;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.5px;
        line-height: 22px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -40px;
        margin-top: auto;

    }
}

.dialog {
    min-width: 670px !important;
    padding-bottom: 0px !important;
}
  