.component {
  .token {
    cursor: pointer;
    display: grid;
    grid-template-columns: 1.1fr 1fr 1fr;
    align-items: center;
    border-radius: 8px;
    width: calc(100% - 6px);
    border:2px solid transparent;
    height: 56px;
    margin-top: 20px;

    & > div {
      padding: 10px 20px;
      font-size: 16px;
      line-height: 24px;
    }
 
    .name {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .logo {
        overflow: hidden;
        width: 32px;
        height: 32px;
        margin-right: 16px;
      }
    }

    .amount {
      justify-self: flex-end;
    }

    &:hover {
      border:2px solid #DCE0E9;
      border-radius: 8px;
  }
  }
  .amountWrapper {
    display: grid;
    grid-template-columns: 1.1fr 1fr 1fr;
    align-items: center;
    border-radius: 8px;
    position: relative;
    width: calc(100% - 6px);
    height: 56px;
    margin-top: 20px;

    & > div {
      padding: 10px 24px;
    }

    .error {
      position: absolute;
      bottom: -20px;
      right: 0;
      color: var(--yoroi-comp-input-error);
      font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
      font-size:12px;
      color:#FF1351;
      padding: 0;
    }

    .amountTokenName {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .logo {
        margin-right: 16px;
      }
    }

    .amountInput {
      width: 100%;
      height:24px;
      margin: 0 0;
      padding:0;
      margin-bottom: 6px;
      input {
        text-align: right;
        font-size: 16px;
        line-height: 24px;
        width: 100%;
      }

      input::placeholder {
        font-size: 16px;
        line-height: 24px;
      }

    }

    .close {
      position: absolute;
      height: 32px;
      width: 32px;
      background-color: #f0f3f5;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      top: -12px;
      right: -12px;
    }

    .close:hover {
      background-color: lighten($color: #f0f3f5, $amount: 0.9);
    }
  }

  .amountError {
    border: 2px solid #FF1351;
    color:#FF1351;
  }

  .inputFocused {
    border:2px solid var(--yoroi-palette-gray-max)
  }
}
