.component {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .staleTxWarning {
    margin-bottom: 20px;
  }

  .txError {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 12px 16px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .wrapper {
    height: auto;
  }

  .addressToLabel {
    font-size: 16px;
    letter-spacing: 0;
    margin-bottom: 8px;
  }

  .receiverAddress {
    overflow-wrap: break-word;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
  }

  .amountWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;

    .amountLabel {
      color: #6b7384;
    }

    .amountValue {
      text-align: right;
      color: #242838;
    }
  }

  .feesWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Rubik;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 12px;

    .feesLabel {
      color: var(--yoroi-palette-gray-600);
    }

    .feesValue {
      text-align: right;
      color: var(--yoroi-palette-gray-900);
    }
  }

  .totalAmountWrapper {
    margin-top: 24px;
    margin-bottom: 8px;
    border-radius: 8px;
    padding: 24px;
    display: flex;
    justify-content: space-between;

    .assetsCount {
      text-align: right;
      font-size: 20px;
      font-weight: 500;
      line-height: 28px;
    }

    .totalAmountValue {
      text-align: right;
      margin-top: 4px;

      .totalAmount {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0;
        text-align: right;
        margin-bottom: 6px;
      }

      .totalFiatAmount {
        opacity: 0.5;
        font-size: 16px;
        letter-spacing: 0;
      }
    }
  }

  .infoBlock {
    background-color: var(--yoroi-palette-gray-50);
    font-weight: 400;
    padding: 10px;
    margin-bottom: 30px;
    line-height: 1.38;
    font-size: 14px;
    opacity: 0.7;
    letter-spacing: 0.5px;
    border-radius: 10px;
    li {
      list-style-type: disc;
      margin-left: 18px;
    }
  }
}
