@import './common/DialogCommonStyle.scss';

.middleAboutBlock {
  .prerequisiteBlock {
    display: inline-block;
    width: 520px;
    height: 280px;
    .prerequisiteHeaderText {
      font-family: var(--font-semibold);
      line-height: 1.38;
      font-size: 18px;
      opacity: $opacityCommon;
      margin-left: 10px;
    }
    li {
      list-style-type: disc;
      margin-left: 18px;
      margin-top: 8px;
      font-family: var(--font-regular);
      line-height: 1.38;
      font-size: 14px;
      opacity: $opacityCommon;
      a {
        color: var(--font-black);
      }
    }    
  }
  .trezorImageBlock {
    vertical-align: baseline;
    display: inline-block;
  }
}
