@import '../../../themes/mixins/loading-spinner';

$opacityCommon: 0.7;

.component {
  overflow: hidden;
}

.isProcessing {
  @include loading-spinner("../../../assets/images/spinner-light.svg");
}

.walletName {
  margin-bottom: 4px;
}

.actions {
  display: flex;
  flex-shrink: 0;
  margin-top: 20px;

  button {
    width: 50%;

    &:only-child {
      margin: auto;
      width: 100%;
    }

    & + button {
      margin-left: 20px;
    }
  }
}

.headerComponent {
  width: 725px;
  height: 5em;
  padding-top: 1em;
  span {
    font-family: var(--font-light);
    line-height: 1.38;
    font-size: 14px;
    opacity: $opacityCommon;
  }
}

.headerComponentSave {
  padding-top: 0;
}

.middleComponent {
  overflow: hidden;  
  background-color: #f3f3f5;
  object-fit: contain;
  border-radius: 4px;  
  width: 725px;
  height: 280px;
  margin-top: 1em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.middleComponentAbout {
  .prerequisiteBlock {
    display: inline-block;
    width: 520px;
    height: 280px;
    .prerequisiteHeaderText {
      font-family: var(--font-semibold);
      line-height: 1.38;
      font-size: 18px;
      opacity: $opacityCommon;
      margin-left: 10px;
    }
    li {
      list-style-type: disc;
      margin-left: 18px;
      margin-top: 8px;
      font-family: var(--font-regular);
      line-height: 1.38;
      font-size: 14px;
      opacity: $opacityCommon;
      a {
        color: var(--font-black);
      }
    }    
  }
  .trezorImageBlock {
    vertical-align: baseline;
    display: inline-block;
  }
}

.middleComponentConnectLoad {
  padding: 0px;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.middleComponentConnectStart {
  padding: 0px;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.middleComponentConnectError {
  background-color: #fdf1f0;
  padding: 0px;
  text-align: center;
}

.middleComponentSaveLoad {
  padding: 0px;
  text-align: center;
}

.middleComponentSaveStart {
  padding: 0px;
  text-align: center;
}

.middleComponentSaveError {
  padding: 0px;
  background-color: #fdf1f0;
  text-align: center;
}

.middleComponentSaveSuccess {
  padding: 0px;
}

.yoroiLinkComponent {
  margin-top: 16px;
  width: 725px;
  height: 18px;
  text-align: center;
  font-family: var(--font-regular);
  font-size: 14px;
  a {
    opacity: $opacityCommon;
    color: var(--font-black);
  }  
}

.liveInfoComponent {
  margin-top: 10px;
  width: 725px;
  height: 18px;
  text-align: center;
  font-family: var(--font-regular);
  font-size: 14px;
  span {
    opacity: $opacityCommon;
  }
}

.errorBlock {
  color: var(--theme-input-error-color);
}