@import './common/DialogCommonStyle.scss';

.headerSaveBlockClassic {
  padding-top: 0;
}

.middleSaveLoadBlock {
  padding: 0px;
  text-align: center;
}

.middleSaveStartProcessBlock {
  padding: 0px;
  text-align: center;
}

.middleSaveErrorBlock {
  padding: 0px;
  background-color: var(--theme-trezor-connect-dialog-middle-block-common-error-background-color);
  text-align: center;
}