@import "_config";
// Theme config overrides go here …
@import "~react-polymorph/lib/themes/simple/SimpleModal";
// Css module overrides go here …

.overlay {
  z-index: 100;
}

.modal {
  border-radius: 8px;
  padding: 25px 30px 30px;
  display: flex;
  flex-direction: column;
  max-height: 97%;
  min-width: 465px;
  max-width: 465px;

  :global {
    .WalletExportDialogChoices_component {
      & > button {
        color: var(--theme-dialog-choice-tabs-text-color);
      }

      & > .WalletExportDialogChoices_activeButton {
        color: var(--theme-dialog-choice-tabs-text-color-active);
        border-bottom: 2px solid var(--theme-dialog-choice-tabs-bottom-border-color-active);
      }
    }

    .SimpleInput_input,
    .SimpleAutocomplete_autocompleteContent {
      background-color: transparent !important;
    }
  }
}
