@import "_config";
// Theme config overrides go here …
@import "~react-polymorph/lib/themes/simple/SimpleInput";
// Css module overrides go here …

:global {
  .AmountInputSkin_total, .AmountInputSkin_fees {
    color: var(--theme-input-right-floating-text-color);
  }
}

.input {
  height: 56px;
  font-size: 16px;
  box-sizing: border-box;
  line-height: 56px;
  padding: 0 15px;
  border-radius: 8px;
  border-width: 1px;

  &:hover {
    border-color: var(--theme-input-hover-border-color);
  }

  &:focus, &:active {
    padding-left: 14px;
    border-width: 2px;
    border-color: var(--theme-input-focus-border-color);
  }
}
