@import "_config";
// Theme config overrides go here …
@import "~react-polymorph/lib/themes/simple/SimpleSelect";
// Css module overrides go here …

.selectInput {
  &::after {
    bottom: 42px;
    left: calc(100% - 27px);
  }

  input {
    background: none;
    text-transform: uppercase;
  }
}

.isOpen {
  input {
    border-width: 2px;
    padding-left: 14px;
    color: var(--theme-input-focus-border-color);
  }
}
