@import '../../../themes/mixins/error-message';

.component {
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

  .warningBox {
    margin-bottom: 30px;
  }

  .poolIdInput {
    position: relative;

    :global {
      .SimpleInput_input {
        font-family: var(--font-mono-light);
        letter-spacing: 0;
      }
    }
  }

  .actionLabel {
    color: var(--theme-label-button-color);
    font-family: var(--rp-checkbox-label-font-family, var(--rp-theme-font-light, "NotoSans-Light, NotoSansCJKjp-Light"), sans-serif);
    font-size: var(--rp-checkbox-label-font-size, 16px);
    padding-left: 17px;
  }
}

:global(.YoroiClassic) .component {
  .receiverInput {
    margin-bottom: 10px;
  }
}

:global(.YoroiModern) .component {
  padding: 30px;

  .poolIdInput {
    letter-spacing: 0;

    :global {
      .SimpleInput_input {
        font-family: var(--font-mono-regular);
      }
    }
  }

  .nextButton {
    margin: 20px auto 0;
  }

  fieldset {
    background: var(--theme-settings-pane-background-color);
  }
}