@import '../../../themes/mixins/error-message';

.component {
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

  .warningBox {
    margin-bottom: 30px;
  }

  .poolIdInput {
    position: relative;

    :global {
      .SimpleInput_input {
        font-family: 'RobotoMono';
        font-weight: 300;
        letter-spacing: 0;
      }
    }
  }

  .actionLabel {
    color: var(--yoroi-palette-gray-800);
    font-weight: 300;
    font-size: 16px;
    padding-left: 17px;
  }
}

:global(.YoroiClassic) .component {
  .receiverInput {
    margin-bottom: 10px;
  }
}

:global(.YoroiModern), :global(.YoroiRevamp) {
  .component {
    padding: 30px;
    .poolIdInput {
      letter-spacing: 0;
    }
    .nextButton {
      margin: 20px auto 0;
    }
  } 
}
