@import './WalletSendConfirmationDialog.scss'; // Reusing this as it's almost same

.dialog {
  .infoBlock {
    background-color: var(--th-palette-gray-50);
    font-weight: 400;
    padding: 10px;
    margin-bottom: 30px;
    line-height: 1.38;
    font-size: 14px;
    opacity: 0.7;
    letter-spacing: 0.5px;
    border-radius: 10px;
    li {
      list-style-type: disc;
      margin-left: 18px;
    }
  }
}
