.component {
    .header {
        display: grid;
        grid-template-columns: repeat(3, 3fr);
        text-align: center;

        & .tab {
            padding: 26px 0px 18px 0px;
            font-family: Rubik;
            letter-spacing: 0;
            line-height: 24px;
            text-align: center;
            cursor: pointer;
        }

        & .tabActive {
            font-size: 16px;
            font-weight: 500;
            color: #242838;
        }

        & .tabInActive {
            font-size: 16px;
            font-weight: 400;
            color: #6B7384;
        }

    }

    & .fullBar {
        height: 1px;
        width: 100%;
        background-color: #242838;
    }


    & .noBar {
        height: 1px;
        width: 100%;
        background-color: #DCE0E9;
    }

    & .halfBar {
        height: 1px;
        width: 100%;
        display: flex;
        align-items: center;

        .right {
            height: 100%;
            width: 50%;
            display: inline-block;
            background-color: #242838;
        }

        .left {
            height: 100%;
            width: 50%;
            background-color: #DCE0E9;
        }

        .dot {
            height: 8px;
            width: 8px;
            background-color: #242838;
            border-radius: 50%;
            display: inline-block;
        }
    }
}