@import '../../../themes/mixins/loading-spinner';
@import '../../../themes/mixins/error-message';

.dialog {
  font-weight: 500;

  :global {
    .Dialog_title {
      margin-bottom: 24px;
    }
  }

  .warningBox {
    margin-bottom: 24px;
  }

  .submitButtonSpinning {
    @include loading-spinner('../../../assets/images/spinner-light.svg');
  }

  .currencySymbol {
    font-weight: 300;
    text-transform: uppercase;
  }

  .addressToLabelWrapper,
  .txSizeWrapper,
  .amountFeesWrapper {
    margin-bottom: 20px;
  }

  .addressToLabel {
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 1.38;
    margin-left: 10px;
    text-transform: uppercase;
  }

  .addressTo {
    font-size: 15px;
    line-height: 1.38;
    margin-top: 6px;
  }

  .txSize {
    font-size: 13px;
    line-height: 1.28;
    margin-top: 6px;
    color: #b0b0b0;
  }

  .amountFeesWrapper {
    display: flex;
    flex-direction: row;

    .amountWrapper,
    .feesWrapper {
      width: 50%;
    }

    .amountWrapper {
      margin-right: 10px;
    }

    .feesWrapper {
      margin-left: 10px;
    }

    .amountLabel,
    .feesLabel {
      font-size: 11px;
      font-weight: 500;
      letter-spacing: 0.5px;
      line-height: 1.38;
      margin-left: 10px;
      text-transform: uppercase;
    }

    .amount,
    .fees {
      font-size: 15px;
      line-height: 1.38;
      margin-top: 6px;
      word-break: break-word;
    }

    .amountSmall,
    .feesSmall {
      @extend .amount;
      font-size: 12px;
    }
  }

  .totalAmountLabel {
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 1.38;
    margin-left: 10px;
    text-transform: uppercase;
  }

  .totalAmount {
    color: var(--yoroi-send-confirmation-dialog-send-values-color);
    line-height: 1.38;
    margin-top: 6px;
    word-break: break-word;
  }

  .totalAmountSmall {
    @extend .totalAmount;
    font-size: 13px;
  }

  .walletPassword {
    margin-top: 20px;
  }

  .error {
    @include error-message;
    text-align: center;
  }
}

:global(.YoroiClassic) .dialog {
  .amountFeesWrapper {
    .amount,
    .fees {
      color: var(--yoroi-send-confirmation-dialog-send-values-color);
    }

    .fees {
      opacity: 0.5;
    }
  }
}

:global(.YoroiModern) .dialog {
  min-width: var(--yoroi-comp-dialog-min-width-lg);
  max-width: var(--yoroi-comp-dialog-min-width-lg);
  font-weight: 400;

  .currencySymbol {
    font-weight: 400;
  }

  .addressToLabelWrapper,
  .amountFeesWrapper {
    margin-bottom: 34px;
  }

  .addressToLabel {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0;
    margin-left: 0;
    text-transform: none;
  }

  .addressTo {
    font-size: 14px;
    line-height: 1.57;
    margin-top: 2px;
  }

  .totalAmountWrapper {
    margin-bottom: 24px;
  }

  .walletPassword {
    margin-top: 0;
  }

  .amountFeesWrapper {
    .amountLabel,
    .feesLabel {
      font-size: 16px;
      font-weight: normal;
      letter-spacing: 0;
      margin-left: 0;
      text-transform: none;
    }

    .amount,
    .fees {
      font-size: 14px;
      line-height: 1.57;
      margin-top: 2px;
      opacity: 0.4;
    }

    .amountSmall,
    .feesSmall {
      @extend .amount;
      font-size: 12px;
    }
  }

  .totalAmountLabel {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0;
    margin-left: 0;
    text-transform: none;
  }

  .totalAmount {
    font-weight: 500;
    line-height: 1.57;
    margin-top: 2px;

    .currencySymbol {
      font-weight: 500;
    }
  }
}
