.component {
    display: flex;
    justify-content: center;
    .wrapper {
        width: 756px;
        height: 600px;
    }

    .formBody {
        padding-top: 40px;
        padding-right: 40px;
        padding-bottom: 20px;
        padding-left: 40px;

        .receiverInput {
            position: relative;
            margin-top: 20px;
        
            :global {
              .SimpleInput_input {
                font-family: 'RobotoMono';
                font-weight: 300;
                letter-spacing: 0;
              }
            }
        }
        .memo {
            margin-top: 20px;
            .memoInput {
                border-bottom: 1px solid #A7AFC0;
                input {
                    outline: none;
                    border: none;
                    padding: 10px 0px;
                    padding-bottom: 8px;
                    color: #242838;
                    font-family: Rubik;
                    font-size: 16px;
                    letter-spacing: 0;
                    line-height: 24px;
                    width: 100%;
                }

                input::placeholder {
                    color: #A7AFC0;
                    font-family: Rubik;
                    font-size: 16px;
                    letter-spacing: 0;
                    line-height: 24px;
                }
            }

            .memoWarning {
                margin-top: 8px;
                color: #6B7384;
                font-family: Rubik;
                font-size: 12px;
                letter-spacing: 0;
                line-height: 18px;
            }

            .hide {
                visibility: hidden;
            }

            .memoError {
                margin-top: 8px;
                color: var(--yoroi-palette-error-100);
                font-family: Rubik;
                font-size: 12px;
                letter-spacing: 0;
                line-height: 18px;
            }
        }

        .amountInput {
            position: relative;
            border: 1px solid #A7AFC0;
            border-radius: 8px;
            padding: 15px 16px 26px 16px;

            .label {
                position: relative;
                top: -25px;
                left: -8px;
                background-color: #ffffff;
                padding: 0px 4px;
                color: rgba(0,0,0,0.87);
                font-family: Rubik;
                font-size: 12px;
                letter-spacing: 0.4px;
            }


            .labelDisabled {
                color: var(--yoroi-comp-input-text-disabled);
            }

            .amountInputGrid {
                margin-top: -5px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 1px solid var(--yoroi-comp-input-text-disabled);
                padding-bottom: 12px;

                input {
                    padding: 0px;
                    &:disabled {
                        cursor: not-allowed;
                    }
                }

            }

            .ada {
                color: #6B7384;
                font-family: Rubik;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 0.5px;
                line-height: 22px;
                margin-right: 12px;
            }

            .max {
                height: 30px;
                width: 56px;
                border-radius: 8px;
                background-color: #F0F3F5;
                color: #6B7384;
                font-family: Rubik;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 0.5px;
                line-height: 22px;              
            }

            .usd {
                margin-top: 15px;
                color: #A7AFC0;
                font-family: Rubik;
                font-size: 16px;
                letter-spacing: 0;
            }
        }

        .amountInputError {
            border: 1px solid #FF1351;
        }

        .disabled {
            border: 1px solid var(--yoroi-comp-input-text-disabled);
        }

        .amountError {
            color: #FF1351;
            font-family: Rubik;
            font-size: 12px;
            letter-spacing: 0.4px;
            line-height: 16px;
            margin-left: 16px;
            margin-top: 2px;
        }
    }
}
  
:global(.YoroiRevamp) .component {
    .wrapper {
        background: var(--yoroi-palette-common-white);
        border-radius: 8px;
    }
}

:global(.YoroiModern) .component {
    padding: 30px;

    .receiverInput {
        letter-spacing: 0;
    }
}
  