.component {
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

  .warningBox {
    margin-bottom: 30px;
  }

  .receiverInput {
    position: relative;

    :global {
      .SimpleInput_input {
        font-family: 'RobotoMono';
        font-weight: 300;
        letter-spacing: 0;
      }
    }
  }

  .amountInput {
    position: relative;
    margin-bottom: 10px;
  }

  .checkbox {
    font-family: 'RobotoMono';
    font-weight: 300;
    width: fit-content;
  }

  .memoActionItemBlock {
    letter-spacing: 0.5px;
    margin: 15px 0;
    line-height: 20px;
    vertical-align: top;
    white-space: nowrap;

    * {
      vertical-align: middle;
    }

    button {
      cursor: pointer;
    }

    .addMemoIcon {
      cursor: pointer;
      display: inline-flex;
      object-fit: contain;
      & > svg {
        height: 30px;
        width: 30px;
      }
    }
  }


  .actionLabel {
    color: var(--yoroi-palette-gray-800);
    font-weight: 300;
    font-size: 16px;
    padding-left: 17px;
  }

  .tokenList {
    max-height: 0px;
    height: 0px;
    overflow: hidden;
    transition: all .5s cubic-bezier(0,1,0,1);

    h1 {
      margin-bottom: 10px;
      font-size: 13px;
      font-weight: 500;
      color: #cccdcf;
    }

    p {
      color: var(--yoroi-palette-secondary-200);
      font-weight: 500;
    }
  }

  .show {
    height: auto;
    max-height: 9999px;
    transition: all .5s cubic-bezier(0,1,0,1);
  }

}

:global(.YoroiRevamp) .component {
  border-radius: 8px;
}

:global(.YoroiModern) .component {
  padding: 30px;

  .receiverInput {
    letter-spacing: 0;
  }
}
