@import '../mixins/card-mixin.scss';

$linebreakWidth: 1540px;

.component {
  height: 100%;
  overflow: auto;

  .hero {
    min-height: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding: 20px 15px;
    display: flex;
    align-items: center;

    @media screen and (max-width: $linebreakWidth) {
      max-width: 992px;
    }
  }

  .heroInner {
    display: flex;
    position: relative;
    z-index: 1;
    justify-content: space-between;
    width: 100%;

    @media screen and (max-width: $linebreakWidth) {
      flex-direction: column;
      padding: 0 15px;
    }
  }

  .heroLogo {
    margin-bottom: 48px;
    width: 156px;
    height: 50px;
    display: block;
  }

  .heroTitle {
    color: var(--yoroi-palette-gray-900);

    font-size: 54px;
    letter-spacing: 0.5px;
    line-height: 62px;
    margin-bottom: 15px;
    margin-right: 42px;
    width: 432px;
  }

  .heroSubTitle {
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;

    @media screen and (max-width: 1530px) {
      margin-bottom: 30px;
    }
  }

  .heroCardsItem {
    @include card-mixin;

    &.heroCardsItemLink {
      flex: auto;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
      padding: 24px 32px;

      .heroCardsItemLinkIcon {
        margin-right: 30px;
      }
    }
  }

  .settingsBar {
    position: absolute;
    right: 35px;
    top: 16px;
    z-index: 99;
    display: flex;
    align-items: center;
  }

  .settingsBarLink {
    display: block;
    cursor: pointer;

    + .settingsBarLink {
      margin-left: 50px;
    }
  }
}

:global(.YoroiClassic) {
  .component {
    background-image: linear-gradient(to right, #f3f3f5 65%, var(--yoroi-palette-common-white) 65%);

    .heroCardsItemLink {
      width: calc(250px * 2 + 15px);
      height: auto;
    }

    .heroLogo,
    .heroCardsItemLinkIcon,
    .settingsBarLink {
      path {
        fill: var(--yoroi-palette-secondary-300);
      }
    }

    .heroTitle {
      color: var(--yoroi-palette-background-walletAdd-title);
    }

    .heroSubTitle {
      color: var(--yoroi-palette-background-walletAdd-subtitle);
    }
  }
}

:global(.YoroiModern), :global(.YoroiRevamp) {
  .component {
    background-image: url(../../assets/images/add-wallet/add-wallet-bg-modern.inline.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -13vw;

    @media screen and (max-width: $linebreakWidth) {
      background-position: 0 0;
    }

    .heroTitle {
      color: var(--yoroi-palette-background-walletAdd-title);
    }

    .heroSubTitle {
      color: var(--yoroi-palette-background-walletAdd-subtitle);
    }

    .heroCardsItemLink {
      width: calc(250px * 2 + 15px);
      height: auto;
    }

    .heroLogo,
    .settingsBarLink {
      path {
        fill: var(--yoroi-palette-common-white);
      }
    }

    .heroCardsItemLinkIcon {
      path {
        fill: var(--yoroi-palette-primary-300);
      }
    }
  }
}
