.component {
  width: 100%;
  overflow-y: overlay;
  padding-left: 24px;

  .hierarchy {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--yoroi-palette-gray-200);

    .filter {
      font-size: 14px;
      margin-left: 14px;
    }
  }

  &::-webkit-scrollbar-button {
    height: 7px;
    display: block;
  }

  .notFound {
    padding-top: 2rem;
    text-align: center;
    color: var(--yoroi-palette-gray-600);
    svg {
      max-width: 140px;
      max-height: 140px;
    }
    h1 {
      margin-bottom: 20px;
      font-size: 1.2rem;
      font-weight: 500;
    }
    p {
      margin: 1rem 0;
      font-size: 0.9rem;
    }
  }

  .generatedAddresses {
    color: var(--yoroi-palette-gray-900);
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;

    .generatedAddressesGrid {
      display: flex;
      text-align: center;
      align-items: center;

      & > *:first-child {
        text-align: left;
        flex: 1.5;
      }
      & > * {
        flex: 1;
      }
    }
    .labelHeader {
      text-align: left;
    }
    .walletAddress {
      display: flex;
      padding: 8.5px 0;
      word-break: break-all;

      .addressActions {
        .addressActionItemBlock {
          cursor: pointer;
          letter-spacing: 0.5px;
          text-align: right;
          line-height: 20px;
          vertical-align: top;
          white-space: nowrap;

          * {
            vertical-align: middle;
          }

          span {
            color: var(--yoroi-palette-gray-800);
            font-weight: 400;
            font-size: 14px;
            margin-left: 6px;
          }
        }

        .verifyActionBlock,
        .generateURLActionBlock {
          button {
            cursor: pointer;
          }
        }

        .generateURLActionBlock {
          margin-left: unset;
        }
      }
      .labelAddress {
        font-weight: 400;
        text-align: left;
        font-size: 12px;
        display: flex;
        align-items: center;
        .labelText {
          position: relative;

          background: var(--yoroi-palette-gray-200);
          color: var(--yoroi-palette-gray-600);
          padding: 2px 6px;
          height: 27px;
          &:after {
            content: ' ';
            display: block;
            width: 0;
            height: 0;
            border-top: 13px solid transparent;
            border-bottom: 14px solid transparent;
            border-left: 14px solid var(--yoroi-palette-gray-200);
            position: absolute;
            top: 50%;
            margin-top: -14px;
            right: -14px;
            z-index: 2;
          }
        }
        button {
          margin: 0;
          margin-right: 8px;
        }
      }
    }
  }
}

:global(.YoroiModern),
:global(.YoroiRevamp) {
  .component {
    .generatedAddresses {
      .walletAddress {
        padding: 12px 0;
      }
    }
  }
}

.addressHash {
  font-size: 14px;
  line-height: 22px;
  font-family: 'RobotoMono';
  font-weight: 400;
  color: var(--yoroi-palette-gray-900);
}

.addressHashUsed {
  color: var(--yoroi-palette-gray-600);
}

