@import '../../themes/mixins/error-message';

.component {
  margin-bottom: 20px;

  h1 {
    color: var(--cmn-default-color-grey);
    font-family: var(--font-semibold);
    font-size: 16px;
    line-height: 1.38;
    margin-bottom: 10px;
    padding-top: 10px;
  }
}

.numAddressesSelect {
  margin: 34px 0 14px 0;
  label {
    background-color: var(--theme-settings-pane-background-color);
  }
}

.error {
  @include error-message;
  text-align: center;
}

.button {
  margin-top: 34px;
}

.intro {
  color: var(--cmn-default-color-grey);
  font-family: var(--font-regular);
  text-align: justify;

  h1, h2 {
    font-family: var(--font-medium);
    font-size: 17px;
    margin-bottom: 11px;
  }

  h2 {
    margin-top: 22px;
  }

  ul {
    list-style: disc;
    margin-left: 20px;
  }

  p, li {
    color: var(--cmn-default-color-grey);
    font-family: var(--font-regular);
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.38;
    margin-bottom: 11px;

    strong {
      font-weight: 500;
    }
  }
}

:global(.YoroiClassic) {
  .component {
    :global(.SimpleOptions_options.SimpleOptions_openUpward) {
      margin-bottom: 10px;
    }    
  }
}