// ========= LAYOUT =========

.wrapper {
  display: flex;
  font-weight: 300;
  color: var(--yoroi-palette-gray-600);
  font-size: 1rem;
  &:hover {
    cursor: pointer;
    background: var(--yoroi-palette-common-white);
  }
}

.button {
  display: inline-block;
  padding: 7px;
  border-bottom: 3px solid transparent;
  width: 100%;
  text-align: left;
  color: var(--yoroi-palette-gray-600);
}

.active {
  background: var(--yoroi-palette-common-white);
  color: var(--yoroi-palette-gray-600);
  .label {
    font-weight: 500;
  }
  .notTopLevel {
    color: var(--yoroi-palette-gray-600);
  }
  .topLevel {
    color: var(--yoroi-palette-secondary-300);
  }
}
.notTopLevel {
  padding-left: 40px;
}
.topLevel {
  padding-left: 24px;
}

.icon {
  position: relative;
  right: 24px;
  top: 7px;

  & > svg {
    max-height: 24px;
    max-width: 24px;

    & > g {
      fill: var(--yoroi-palette-gray-600);
    }
  }
}

.label {
  font-size: 1rem;
  line-height: 22px;
  font-weight: 400;
}
