.wrapper {
  padding-top: 37px;
  box-shadow: 0 2px 4px 0 rgba(56, 57, 61, 0.2);
  height: 100%;
  // background-color: var(--yoroi-palette-gray-50);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 225px;
  height: inherit;
}
.accordion {
  &:not(:nth-child(1)) {
    margin-top: 24px;
  }
}
.accordions {
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow-y: overlay;
  min-height: 80px; // always show at least ~2 elements
  flex: 1;
  padding-bottom: 10px;
  .Tooltip {
    position: absolute; // added here due of specificity
  }
}
.filterSection {
  padding-top: 20px;
  padding-bottom: 40px;
  height: 240px;
  box-shadow: inset 0 -1px 12px 0 rgba(255, 255, 255, 0.5), inset 0 2px 4px 0 rgba(56, 57, 61, 0.2);
  overflow: auto;
}
.infoIcon {
  margin-left: 8px;
  svg {
    max-width: 12px;
    max-height: 12px;
    path {
      fill: #8a92a3;
    }
  }
}
