// ========= LAYOUT =========

.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--th-navigation-tab-height);
  color: var(--th-palette-gray-400);

  &:hover {
    background-color: var(--th-palette-common-white);
    cursor: pointer;
  }
}

.active {
  background-color: var(--th-palette-common-white);

  .label {
    color: var(--th-palette-secondary-300);
  }

  &:hover {
    cursor: default;
    background-color: var(--th-palette-common-white);
  }

  .icon {
    & > svg {
      color: var(--th-palette-secondary-300);
    }
    & > svg > path {
      fill: var(--th-palette-secondary-300);
    }
  }
}

.label {
  font-size: 18px;
  font-weight: 400;
  font-weight: 600;
  letter-spacing: 0.4px;
  display: block;
  text-align: center;
  line-height: 22px;
  color: var(--th-palette-gray-600);
}

.icon {
  margin-right: 10px;

  & > svg {
    max-height: 24px;
    max-width: 24px;

    & > path {
      fill: var(--th-palette-gray-600);
    }
  }

  @media (max-width: 950px) {
    display: none;
  }
}

:global(.YoroiModern) {
  .active {
    .label {
      color: var(--th-palette-secondary-300);
    }
  }
}
