.wrapper {
  padding-top: 37px;
  padding-left: 35px;
  padding-right: 35px;
  box-shadow: 0 2px 4px 0 rgba(56, 57, 61, 0.2);
  height: 100%;
}

.content {
  display: flex;
  justify-content: flex-start;
}
