// ========= LAYOUT =========

.wrapper {
  position: relative;
  display: flex;
  font-family: var(--font-light);
  color: var(--theme-wallet-plate-secondary-text-color);
  font-size: 1rem;
  &:hover {
    cursor: pointer;
    background: #fff;
  }
}

.button {
  display: inline-block;
  padding: 7px;
  border-bottom: 3px solid transparent;
  width: 100%;
  text-align:left;
}

.active {
  background: var(--theme-settings-menu-item-background-color-active);
  
  .label {
    font-family: var(--font-semibold);
  }
  .notTopLevel {
    color: var(--theme-wallet-navigation-tab-text-color);
  }
  .topLevel {
    color: var(--theme-transactions-priority-high-text-color);
  }
}
.notTopLevel {
  padding-left: 40px;
}
.topLevel {
  padding-left: 24px;
}


.icon {
  position: absolute;
  right: 24px;
  top: 7px;

  & > svg {
    max-height: 24px;
    max-width: 24px;

    & > g {
      fill: var(--theme-wallet-navigation-tab-text-color);
    }
  }
}

.label {
  font-size: 1rem;
  line-height: 22px;
  font-family: var(--font-regular);
}