// ========= LAYOUT =========

.wrapper {
  position: relative;
  display: flex;
  font-family: var(--font-light);
  color: var(--theme-wallet-plate-secondary-text-color);
  font-size: 1rem;
  &:hover {
    cursor: pointer;
    background: #fff;
  }
}

.button {
  display: inline-block;
  color: var(--theme-wallet-navigation-tab-text-color);
  padding: 7px;
  padding-left: 40px;
  border-bottom: 3px solid transparent;
  width: 100%;
  text-align:left;
}

.active {
  background: var(--theme-settings-menu-item-background-color-active);
  
  .label {
    font-family: var(--font-semibold);
    color: var(--theme-transactions-list-detail-row-text-color);
  }
}

.icon {
  position: absolute;
  right: 24px;
  top: 7px;

  & > svg {
    max-height: 24px;
    max-width: 24px;

    & > g {
      fill: var(--theme-wallet-navigation-tab-text-color);
    }
  }

  @media (max-width: 550px) {
    display: none;
  }
}

.label {
  font-size: 1rem;
  line-height: 22px;
  font-family: var(--font-regular);
}