.wrapper {
  padding-top: 37px;
  box-shadow: 0 2px 4px 0 rgba(56, 57, 61, 0.2);
  height: 100%;
  background-color: var(--theme-transactions-list-detail-background-color);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 225px;
  height: inherit;
}
.filterSection {
  padding-top: 20px;
  padding-bottom: 40px;
  box-shadow: inset 0 -1px 12px 0 rgba(255,255,255,0.5), inset 0 2px 4px 0 rgba(56,57,61,0.2);
}
.filterButton {
  display: block;
  padding: 10px 24px;
  text-align: left;
  width:100%;
  font-size: 1rem;
  color: var(--theme-transactions-list-detail-row-text-color);
  
}
.active {
  color: var(--theme-transactions-priority-high-text-color);
  font-family: var(--font-medium);
}
.infoIcon {
  margin-left: 8px;
  svg {
    max-width: 12px;
    max-height: 12px;
    path {
      fill: #8A92A3;
    }
  }
}
.addressBook {
  margin-top: 2rem;
}
