// ========= LAYOUT =========

.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--theme-wallet-navigation-tab-height);
  color: var(--theme-nav-item-text-color);
  border-top-right-radius: var(--theme-page-content-border-radius);

  &:hover {
    background-color: var(--theme-nav-item-background-color-hover);
    cursor: pointer;
  }
}

.active {
  background-color: var(--theme-nav-item-background-color-active);

  .label {
    color: var(--theme-wallet-navigation-tab-text-color-active);
  }

  &:hover {
    cursor: default;
    background-color: var(--theme-nav-item-background-color-active);
  }

  .icon {
    & > svg > path {
      fill: var(--theme-wallet-navigation-tab-text-color-active);
    }
  }
}

.label {
  font-size: 12px;
  font-family: var(--font-regular);
  font-weight: 600;
  letter-spacing: 0.4px;
  display: block;
  text-transform: uppercase;
  text-align: center;
}

.icon {
  margin-right: 10px;

  & > svg {
    max-height: 24px;
    max-width: 24px;

    & > path {
      fill: var(--theme-wallet-navigation-tab-text-color);
    }
  }

  @media (max-width: 950px) {
    display: none;
  }
}

:global(.YoroiModern)
{
  .label {
    font-size: 18px;
    font-family: var(--font-regular);
    line-height: 22px;
    color: var(--theme-wallet-navigation-tab-text-color);
    text-transform: initial;
  }

  .active {
    .label {
      color: var(--theme-wallet-navigation-tab-text-color-active);
    }
  }
}