.component {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.body {
  color: var(--yoroi-palette-gray-900);
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  .spinner {
    margin: 20px 0;
  }

  .title {
    font-size: 18px;
    font-weight: 500;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 8px;
    word-break: break-all;
    text-align: center;
  }

  .progressInfo {
    font-size: 16px;
    line-height: 22px;
    word-break: break-word;
    text-align: center;
  }
}
