@import '../../themes/mixins/error-message';

.component {
  .body {
    color: var(--th-palette-gray-900);
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    .text {
      font-size: 15px;
      margin-bottom: 0.3%;
      word-break: break-word;
    }

    .instructionsList {
      list-style-type: disc;
      list-style-position: inside;
      margin-bottom: 10px;
    }
  }

  .error {
    @include error-message;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 12px;
    word-break: break-word;
    text-align: center;
  }
}
