@import '../../themes/mixins/error-message';

.component {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.body {
  color: var(--yoroi-palette-gray-900);
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  .title {
    font-size: 19px;
    font-weight: 500;
    line-height: 23px;
    margin-bottom: 6px;
    text-align: center;
  }

  .error {
    @include error-message;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 12px;
    word-break: break-word;
    text-align: center;
  }
}
