@import '../../themes/mixins/error-message';

.component {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.headerIcon {
  width: 16px;
  height: 16px;
  margin-right: 3px;
  vertical-align: top;
}

.body {
  color: var(--yoroi-palette-gray-900);
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  .message {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 50px;
    word-break: break-word;
    text-align: center;
  }
}

:global(.YoroiClassic) {
  .headerIcon {
    content: url(../../assets/images/attention-classic.inline.svg);
  }
}

:global(.YoroiModern), :global(.YoroiRevamp) {
  .headerIcon {
    content: url(../../assets/images/attention-modern.inline.svg);
  }
}
