.component {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  .spinnerSection {
    margin-top: 12px;
    margin-bottom: 5px;
  }
}

:global(.YoroiModern):not(:global(.YoroiShelley)) .component, :global(.YoroiRevamp):not(:global(.YoroiShelley)) .component {
  .successImg {
    background-image: url('../../assets/images/transfer-success.inline.svg');
    background-size: auto;
    background-repeat: no-repeat;
    width: 252px;
    height: 194px;
    margin: auto;
    margin-top: 30px;
  }
}
:global(.YoroiModern):global(.YoroiShelley) .component, :global(.YoroiRevamp):global(.YoroiShelley) .component {
  .successImg {
    background-image: url('../../assets/images/transfer-success-shelley.inline.svg');
    background-size: auto;
    background-repeat: no-repeat;
    width: 369px;
    height: 251px;
    margin: auto;
  }
}
