$margin: 20px;

.component {
  height: calc(100% - var(--th-navigation-tab-height));

  .annotatedLoaderWrapper {
    :global(.LoadingSpinner_component) {
      width: 60px;
      height: 60px;
      background-size: 60px;
      margin-bottom: 40px;
    }

    display: flex;
    flex-flow: column;
    margin: $margin;
    height: calc(100% - #{#{$margin}* 2} - var(--th-navigation-tab-height));
  }
}

:global(.YoroiClassic) {
  .component {
    .annotatedLoaderWrapper {
      height: calc(100% - #{#{$margin}* 3} - var(--th-navigation-tab-height));
    }
  }
}
