$leftBlockWidth: 72px;
$rightBlockWidth: $leftBlockWidth;

%smallText {
  height: 19px;
  font-family: var(--font-light);
  font-size: 20px;
  line-height: 1.36;
  letter-spacing: 0.5px;
  color: var(--theme-bordered-box-text-color);
  margin-bottom: 5px;
  span {
    font-family: var(--font-medium);
    margin-right: 2px;
  }
}

.component {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;

  .leftBlock {
    float: left;
    padding-top: 20px;
    width: $leftBlockWidth;
  }
  
  .rightBlock {
    float: right;
    padding-top: 20px;
    width: $rightBlockWidth;
  
    .exportTxToFileSvg {
      pointer-events: auto;
      float: right;
    }
  
    .exportTxToFileSvg:hover {
      cursor: pointer;
      circle {
        fill: var(--theme-export-transactions-to-file);
      }
    }
  }
  
  .middleBlock {
    display: inline-block;
    text-align: center;
    border-bottom: 1px solid var(--theme-separation-border-color);
    width: calc(100% - #{$leftBlockWidth + $rightBlockWidth});
  
    :global {
      .BorderedBox_component {
        background: none;
        border: none;
      }
    }
  }
  
  .pendingConfirmation {
    @extend %smallText;
    & > .currencySymbolSmallest {
      display: inline-block;
      margin-left: 1px;
      & > svg {
        height: 15px;
        width: 19px;
        & > g > g {
          stroke: var(--theme-icon-ada-summary-wallet-pending-confirmation-symbol-color);
        }
      }
    }
  }
  
  .numberOfTransactions {
    @extend %smallText;
  }  
}

:global(.YoroiModern) .component {
  margin-left: 30px;
  margin-right: 30px;

  :global {
    .BorderedBox_component {
      padding-left: 0;
      background: none;
      border: none;

      > div {
        height: auto;
        font-family: var(--font-regular);
        font-size: 30px;
        letter-spacing: 0;
      }

      svg {
        height: 21px;
        width: 21px;
      }
    }
  }

  .leftBlock {
    display: none;
  }

  .leftBlock,
  .rightBlock {
    padding-top: 33px;
  }

  .middleBlock {
    border: none;
    text-align: left;    
  }
}