@import '../../../../themes/mixins/loading-spinner';
@import '../../../../themes/mixins/error-message';

.dialog {
  font-family: var(--font-light);
  height: 26rem;
  .walletPassword {
    & + .walletPasswordFields {
      .newPassword {
        margin-top: 20px;
      }
    }
  }

  .error {
    @include error-message;
    text-align: center;
    margin-top: 27px;
  }
}

.button {
  align-self: center;
  margin-top: 20px;
}