@import '../../../../themes/mixins/loading-spinner';
@import '../../../../themes/mixins/error-message';

.dialog {
  font-family: var(--font-light);
  .walletPassword {
    & + .walletPasswordFields {
      .newPassword {
        margin-top: 20px;
      }
    }
  }

  .error {
    @include error-message;
    text-align: center;
    margin-top: 27px;
  }
}

.button {
  cursor: pointer;
  align-self: center;
  background: transparent !important;;
  color: transparent !important;;
}

.icon {
  & > svg {
    max-height: 75px;
    max-width: 75px;
    width: 100%;
  }
}

.label {
  font-family: var(--font-light);
  color: black;
}

.downloadPaperIntroLine1 {
  text-align: center;
}

.walletLoaderWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--theme-bordered-box-text-color);
  font-family: var(--font-regular);
  font-size: 14px;
  line-height: 19px;

  .walletLoaderWrapperTitle {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 6px;
    word-break: break-all;
    text-align: center;
  }

  .walletLoaderWrapperProgressInfo {
    color: var(--theme-default-color-grey-3);
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 12px;
    word-break: break-word;
    text-align: center;
  }

  .walletLoader {
    margin: 20px auto;
    width: 170px;
    height: 190px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }  
}

:global(.YoroiClassic) {
  .walletLoader {
    background-image: url("../../../../assets/images/paper-wallet-loader-classic.gif");
  }
}

:global(.YoroiModern) {
  .walletLoader {
    background-image: url("../../../../assets/images/paper-wallet-loader.gif");
  }
}
