@import '../../../../themes/mixins/loading-spinner';
@import '../../../../themes/mixins/error-message';

.dialog {
  font-family: var(--font-light);
  .walletPassword {
    & + .walletPasswordFields {
      .newPassword {
        margin-top: 20px;
      }
    }
  }

  .error {
    @include error-message;
    text-align: center;
    margin-top: 27px;
  }
}

li::before {
  content: "●";
  font-size:0.8em;
  color: var(--theme-bullet-point-color);
}
li {
  display: list-item;

  span {
    font-size: 13px;
    margin-left:0.2em;
  }
}

.smallTopMargin {
  margin-top: 7px;
}

.addressLabel {
  font-family: var(--font-regular);
  margin-left: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.addressWrap {
  word-wrap: break-word;
}

.recoveryImage {
  display: block;
  width: 100%;
  text-align: center;
  margin: 23px 0 36px;

  svg {
    width: 212px;
  }
}