
@import '../../../../themes/mixins/loading-spinner';

.component {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 170px;
  height: 190px;
}

.spinner {
  @include loading-spinner("../../../../assets/images/spinner-dark.svg");
}

:global(.YoroiClassic) {
  .component {
    background-image: url("../../../../assets/images/paper-wallet/create-paper-wallet-loader-classic.gif");
  }
}

:global(.YoroiModern) {
  .component {
    background-image: url("../../../../assets/images/paper-wallet/create-paper-wallet-loader-modern.gif");
  }
}
