@import '../../../../themes/mixins/loading-spinner';
@import '../../../../themes/mixins/error-message';

.dialog {
  font-family: var(--font-light);

  .error {
    @include error-message;
    text-align: center;
    margin-top: 27px;
  }

  .paperPassword {
    margin-top: 20px;
  }
}

:global(.YoroiClassic) {
  .dialog {
    .paperPassword {
      margin-top: 20px;
    }
    .repeatedPassword {
      margin-top: 0;
    }
  }
}