@import '../../../../themes/mixins/loading-spinner';
@import '../../../../themes/mixins/error-message';

.dialog {
  font-family: var(--font-light);

  .error {
    @include error-message;
    text-align: center;
    margin-top: 27px;
  }
}

:global(.YoroiClassic) {
  .dialog {
    .paperPassword {
      margin-top: 20px;
    }
    .repeatedPassword {
      margin-top: 0;
    }
  }
}

:global(.YoroiModern) {
  .dialog {
    .repeatedPassword {
      padding-bottom: 0;
    }
  }
}

:global .UserPasswordDialog_dialog .HeaderBlock_headerBlock {
  margin-bottom: 24px;
}