.component {
  text-align: center;
  line-height: 22px;
  color: var(--yoroi-palette-gray-900);

  .title {
    font-weight: 500;
    font-size: 18px;
  }

  .subtitle {
    font-weight: 400;
    font-size: 14px;
  }
}
