.component {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navigation {
  height: var(--yoroi-navigation-tab-height);
  flex-shrink: 0;
}

.page {
  height: 100%;
  min-height: 200px;
  overflow: auto;
}

:global(.YoroiModern) {
  .navigation {
    height: var(--yoroi-navigation-tab-height);
  }
}
